<div class="project-tree">
  <div class="actions">
    <h3>{{ 'TREE_VIEW' | translate }}</h3>
    <button [matMenuTriggerFor]="menu" mat-stroked-button>
      <i class="icon-plus2"></i>&nbsp;
      {{ 'CREATE' | translate }}
    </button>
  </div>
  <div class="box">
    <div class="header">
      <div class="collapse">&nbsp;</div>
      <div class="title">&nbsp;</div>
      <div class="description">{{ 'DESCRIPTION' | translate }}</div>
      <div class="members">{{ 'MEMBERS' | translate }}</div>
      <div class="progress">{{ 'PROGRESS_REPORT' | translate }}</div>
      <div class="time-span">{{ 'TIME_SPAN' | translate }}</div>
      <div class="time-spent">{{ 'TIME_SPENT' | translate }}</div>
    </div>
    <app-project-tree-node
      (createSubProject)="newSubProject($event)"
      (createWorkPackage)="newWorkPackage($event)"
      *ngFor="let subProject of subProjects"
      [level]="1"
      [project]="model"
      [subProject]="subProject"
    ></app-project-tree-node>
    <app-project-tree-node
      *ngFor="let workPackage of workPackages"
      [level]="1"
      [project]="model"
      [workPackage]="workPackage"
    ></app-project-tree-node>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button (click)="newSubProject()" mat-menu-item>
    <i class="icon-sub-season"></i>
    {{ 'NEW_SUB_PROJECT' | translate }}
  </button>
  <button (click)="newWorkPackage()" mat-menu-item>
    <i class="icon-workpackage"></i>
    {{ 'NEW_WORK_PACKAGE' | translate }}
  </button>
</mat-menu>
