.account-profile-transactions {
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;

  ::ng-deep .mat-table th.mat-header-cell {
    background-color: #ffffff !important;
    font-size: 0.7rem !important;
    font-weight: 500 !important;
    color: #b3b3b3;
    border-bottom: none;
  }
}
::ng-deep {
  .mat-column-title {
    min-width: 200px;
  }
}
