.work-package-board {
  padding: 10px;
  .board-lists {
    display: flex;
    overflow-x: auto;
    height: calc(100vh - 140px);
    .board-list {
      min-width: 250px;
      max-height: calc(100vh - 160px);
      background: #fff;
      border-radius: 5px;
      margin-inline-end: 20px;
      height: fit-content;

      &.empty {
        background: none;
      }

      .header {
        display: flex;
        padding: 10px 10px;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid #efefef;

        i {
          display: flex;
          min-width: 20px;
          min-height: 20px;
          border: 1px dashed #cccccc;
          border-radius: 20px;
          font-size: 0.6rem;
          color: #b3b3b3;
          align-items: center;
          justify-content: center;
        }
        span {
          font-size: 0.8rem;
          color: #999999;
          font-weight: 400;
          flex-grow: 1;
          display: flex;
        }
      }

      .new-task {
        padding: 5px;
        .wrapper {
          display: flex;
          flex-direction: column;
          input {
            border: 1px dashed #cccccc;
            border-radius: 5px;
            padding: 5px;
            font-size: 0.9rem;
            font-weight: 400;
          }
          textarea {
            resize: none;
            margin-bottom: 5px;
            border: 1px dashed #cccccc;
            font-size: 0.8rem;
            font-weight: 400;
          }
          .buttons {
            display: flex;
            flex-direction: row;
            //button {
            //  max-width: 70px;
            //}
          }
        }
      }

      .cards {
        padding: 10px;
        max-height: calc(100vh - 205px);
        overflow-y: auto;
      }

      //> .cdk-drop-list-receiving {
      //  min-height: 50px;
      //}
    }
  }
}

.board-lists::-webkit-scrollbar {
  height: 10px;
  border-radius: 0;
}
