<div class="work-package-board">
  <div
    class="board-lists"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="model.lists"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let list of model.lists"
      class="board-list"
      [cdkDragStartDelay]="dragDelay"
      [cdkDragData]="list"
      [cdkDragDisabled]="
        list.editing || list.adding || permission === AccessType.Visitor
      "
      cdkDrag
    >
      <div [hidden]="list.renaming" cdkDragHandle class="header">
        <span>{{ list.title | truncate: 30 }}</span
        >&nbsp;
        <i
          *ngIf="permission !== AccessType.Visitor"
          (click)="prepareNewTask(list)"
          class="icon-plus2"
        ></i
        >&nbsp;
        <i
          [matMenuTriggerFor]="menu"
          *ngIf="permission !== AccessType.Visitor"
          class="icon-menu"
        ></i>
      </div>
      <div *ngIf="list.renaming" class="new-task">
        <div class="wrapper">
          <input
            (keydown.enter)="renameList(list)"
            [placeholder]="'ENTER_LIST_NEW_NAME' | translate"
            [readOnly]="list.renameWaiting"
            [(ngModel)]="list.tempName"
          />
          <br />
          <div class="buttons">
            <button
              [disabled]="list.renameWaiting"
              (click)="renameList(list)"
              mat-stroked-button
            >
              <i *ngIf="list.renameWaiting" class="icon-spin icon-spinner2"></i>
              {{ 'RENAME' | translate }}</button
            >&nbsp;
            <button
              [disabled]="list.renameWaiting"
              (click)="cancelRenameList(list)"
              mat-stroked-button
            >
              {{ 'CANCEL' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="list.expanded" class="new-task">
        <div class="wrapper">
          <textarea
            [placeholder]="'NEW_TASK_PLACEHOLDER' | translate"
            [readOnly]="creatingNewTask"
            [(ngModel)]="newTaskTitle"
            rows="2"
          ></textarea>
          <div class="buttons">
            <button
              [disabled]="creatingNewTask"
              (click)="createNewTask(list)"
              mat-stroked-button
            >
              <i *ngIf="creatingNewTask" class="icon-spin icon-spinner2"></i>
              {{ 'CREATE' | translate }}</button
            >&nbsp;&nbsp;
            <button (click)="cancelNewTask(list)" mat-stroked-button>
              {{ 'CANCEL' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div
        class="cards"
        id="{{ list.id }}"
        cdkDropList
        [cdkDropListConnectedTo]="getConnectedList()"
        (cdkDropListDropped)="dropTask($event, list.id)"
        [cdkDropListData]="list.tasks"
      >
        <div
          *ngFor="let task of list.tasks"
          [cdkDragStartDelay]="dragDelay"
          [cdkDragData]="task"
          [cdkDragDisabled]="false"
          cdkDrag
          class="list-handler"
        >
          <app-work-package-task
            [workPackage]="model"
            [project]="project"
            (click)="openTask(task)"
            [list]="list"
            [model]="task"
          ></app-work-package-task>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button class="action-btn" (click)="prepareNewTask(list)" mat-menu-item>
          <span class="cnt">
            <i class="icon-task"></i>
            <span>{{ 'NEW_TASK' | translate }}</span>
          </span>
        </button>
        <button
          class="action-btn"
          (click)="prepareRenameTask(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="icon-pencil"></i>
            <span>{{ 'RENAME' | translate }}</span>
          </span>
        </button>
        <button class="action-btn" (click)="changeSort(list)" mat-menu-item>
          <span class="cnt">
            <i class="icon-arrow-down8"></i>
            <span>{{ 'SORT_ORDER' | translate }}</span>
          </span>
        </button>
        <button class="action-btn" (click)="showChart(list)" mat-menu-item>
          <span class="cnt">
            <i class="icon-checkmark3"></i>
            <span>{{ 'SHOW_CHART' | translate }}</span>
          </span>
        </button>
        <button class="action-btn" (click)="showChart(list)" mat-menu-item>
          <span class="cnt">
            <i class="icon-filters x2"></i>
            <span>{{ 'LIST_COLOR' | translate }}</span>
          </span>
        </button>
        <button class="action-btn" (click)="showChart(list)" mat-menu-item>
          <span class="cnt">
            <i class="icon-stop x2"></i>
            <span>{{ 'ACCESS_LEVEL' | translate }}</span>
          </span>
        </button>
        <button class="action-btn" (click)="showChart(list)" mat-menu-item>
          <span class="cnt">
            <i class="icon-archive x2"></i>
            <span>{{ 'ARCHIVE' | translate }}</span>
          </span>
        </button>
      </mat-menu>
    </div>
    <div class="board-list add-new">
      <div *ngIf="!expanded" (click)="prepareNewList()" class="header">
        <i class="icon-plus2"></i>&nbsp;
        <span>{{ 'CREATE_NEW_LIST' | translate }}</span>
      </div>
      <div *ngIf="expanded" class="new-task">
        <div class="wrapper">
          <input
            (keydown.enter)="createNewList()"
            [placeholder]="'ENTER_NEW_LIST_NAME' | translate"
            [readOnly]="creatingNewList"
            [(ngModel)]="newListName"
          />
          <br />
          <div class="buttons">
            <button
              [disabled]="creatingNewList"
              (click)="createNewList()"
              mat-stroked-button
            >
              <i *ngIf="creatingNewList" class="icon-spin icon-spinner2"></i>
              {{ 'CREATE' | translate }}</button
            >&nbsp;
            <button
              [disabled]="creatingNewList"
              (click)="cancelNewList()"
              mat-stroked-button
            >
              {{ 'CANCEL' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
