<div class="project-detail" appReloadOnParamsChanged>
  <app-waiting *ngIf="waiting"></app-waiting>
  <ng-container *ngIf="!waiting">
    <div class="header">
      <div class="info">
        <h4>
          <i
            *ngIf="
              permission === AccessType.Owner || permission === AccessType.Admin
            "
            (click)="prepareEdit()"
            class="icon-pencil"
          ></i>
          <span>{{ project.title }}</span>
        </h4>
        <h5>{{ project.description }}</h5>
        <div class="members">
          <div class="member">
            <i class="icon-users"></i>&nbsp;
            <span>
              {{
                (project.members | search: ['isGroup']:false).length +
                  project.pending.length
              }}&nbsp;
              {{ 'INDIVIDUAL_USERS' | translate }}
            </span>
          </div>
          <ng-container *ngFor="let m of project.members">
            <div *ngIf="m.isGroup" class="member">
              <i class="icon-team"></i>&nbsp;
<!--              <span>{{ m.recordId | groupName }}</span>-->
            </div>
          </ng-container>
        </div>
      </div>
      <div class="reports" *ngIf="progressWaiting">
        <app-waiting></app-waiting>
      </div>
      <div class="reports" *ngIf="!progressWaiting">
        <h5>{{ 'PROJECT_PROGRESS' | translate }}</h5>

        <div class="report">
          <div class="change">
            <i class="up icon-arrow-up2"></i>&nbsp;{{ 'CREATED' | translate }}
          </div>
          <ngx-trend
            [data]="report.created.progress"
            stroke="#558c97"
            [strokeWidth]="2"
            [width]="170"
            [height]="25"
            [autoDraw]="true"
            [autoDrawDuration]="1500"
            autoDrawEasing="ease-in"
          ></ngx-trend>
          <div class="total">{{ report.created.total }}</div>
        </div>
        <div class="report">
          <div class="change">
            <i class="down icon-arrow-down2"></i>&nbsp;{{ 'BLOCKED' | translate }}
          </div>
          <ngx-trend
            [data]="report.blocked.progress"
            stroke="#ee5a60"
            [strokeWidth]="2"
            [width]="170"
            [height]="25"
            [autoDraw]="true"
            [autoDrawDuration]="1500"
            autoDrawEasing="ease-in"
          ></ngx-trend>
          <div class="total">{{ report.blocked.total }}</div>
        </div>
        <div class="report">
          <div class="change">
            <i class="up icon-arrow-up2"></i>&nbsp;{{ 'DONE' | translate }}
          </div>
          <ngx-trend
            [data]="report.done.progress"
            stroke="#7f33ef"
            [strokeWidth]="2"
            [width]="170"
            [height]="25"
            [autoDraw]="true"
            [autoDrawDuration]="1500"
            autoDrawEasing="ease-in"
          ></ngx-trend>
          <div class="total">{{ report.done.total }}</div>
        </div>
      </div>
    </div>
    <div class="inner-container">
      <div class="aside">
        <button
          (click)="mode = ViewMode.RoadMap"
          [class.selected]="mode === ViewMode.RoadMap"
        >
          <i class="icon-map2"></i>
          <span>{{ 'ROAD_MAP' | translate }}</span>
        </button>
        <button
          (click)="mode = ViewMode.Tree"
          [class.selected]="mode === ViewMode.Tree"
        >
          <i class="icon-tree7"></i>
          <span>{{ 'TREE_VIEW' | translate }}</span>
        </button>
        <button
          (click)="mode = ViewMode.Seasons"
          [class.selected]="mode === ViewMode.Seasons"
        >
          <i class="icon-flag7"></i>
          <span>{{ 'SEASONS' | translate }}</span>
        </button>
        <button
          (click)="mode = ViewMode.Objectives"
          [class.selected]="mode === ViewMode.Objectives"
        >
          <i class="icon-target"></i>
          <span>{{ 'OBJECTIVES' | translate }}</span>
        </button>
        <button
          (click)="mode = ViewMode.Settings"
          [class.selected]="mode === ViewMode.Settings"
        >
          <i class="icon-cog2"></i>
          <span>{{ 'SETTINGS' | translate }}</span>
        </button>
      </div>
      <div class="wrapper">
        <div *ngIf="mode === ViewMode.RoadMap" class="road-map-container">
          <app-project-road-map
            [permission]="permission"
            [model]="project"
          ></app-project-road-map>
        </div>
        <div *ngIf=" mode === ViewMode.Tree" class="tree-container">
          <app-project-tree
            [permission]="permission"
            [model]="project"
          ></app-project-tree>
        </div>
        <div *ngIf="mode === ViewMode.Seasons" class="seasons-container">
          <app-project-season
            [permission]="permission"
            [model]="project"
          ></app-project-season>
        </div>
        <div *ngIf="mode === ViewMode.Objectives" class="objectives-container">
          <app-project-objective
            [permission]="permission"
            [model]="project"
          ></app-project-objective>
        </div>
        <div *ngIf="mode === ViewMode.Settings" class="settings-container">
          <app-project-setting
            [permission]="permission"
            [model]="project"
          ></app-project-setting>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!--<app-messenger-shortcut-->
<!--  *ngIf="project"-->
<!--  [project]="project"-->
<!--&gt;</app-messenger-shortcut>-->
