.af-date-picker {
  .input-wrapper {
    input {
      width: 100px;
    }
  }

  ::ng-deep .ngxp__container {
    background: #ffffff !important;
  }
}
.date-picker-plate {
  font-size: 0.8rem;
  ::ng-deep table {
    margin: 0;
  }
}
