.task-wrapper {
  background: #f2f2f2;
  width: 90vw;
  max-width: 700px;
  min-height: 400px;
  margin: 150px auto;
  border-radius: 5px;

  .header {
    min-height: 80px;
    background-position: center top;
    background-size: cover !important;
    border-radius: 5px 5px 0 0;
    .actions {
      position: relative;
      padding: 30px 30px 0 0;
      display: flex;

      ::ng-deep .mat-mini-fab {
        background: #ffffff;
        margin-inline-end: 10px;
        .mat-button-wrapper {
          padding: 0;

          .btn-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -5px;
            i {
              font-size: 1.2rem;
              position: relative;
              top: 7px;

              &.watching {
                color: #3d8f4d;
              }
            }
            .sub-title {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
    .archived {
      background: #f2b254;
      text-align: center;
      font-size: 0.8rem;
      font-weight: 500;
      color: #333333;
      padding: 5px;
    }
  }

  .content {
    display: flex;
    .info {
      display: flex;
      width: 250px;
      flex-direction: column;
      padding: 0 10px;
      .box {
        background: #ffffff;
        padding: 10px;
        min-height: 50px;
        border-radius: 5px;
        margin-bottom: 10px;

        .status-wrapper {
          display: flex;
          flex-grow: 1;
          margin: 0 0 5px;
          cursor: pointer;
          background: no-repeat;
          border: none;
          .status-container {
            background: #f2f2f2;
            border-radius: 20px;
            min-width: 70px;
            height: 20px;
            display: flex;
            align-items: center;

            .circle {
              width: 15px;
              height: 15px;
              border-radius: 50px;
              margin: 0 3px;

              &.color-1 {
                background: #cccccc;
              }
              &.color-2 {
                background: #59a8ef;
              }
              &.color-3 {
                background: #5eb258;
              }
              &.color-4 {
                background: #666666;
              }
              &.color-5 {
                background: #b33634;
              }
              &.color-6 {
                background: #666666;
              }
              &.color-7 {
                background: #808080;
              }
              &.color-8 {
                background: #b3b3b3;
              }
              &.color-9 {
                background: #eb973e;
              }
            }
            .text {
              color: #4d4d4d;
              font-weight: 400;
              padding-inline-end: 8px;
              align-items: center;
              display: flex;
              font-size: 0.7rem;

              i {
                font-size: 0.3rem;
                margin-inline-start: 5px;
              }
            }
          }
        }

        .date {
          display: flex;
          min-width: 90px;
          align-items: center;
          margin: 0 0 5px;
          i {
            color: #666666;
          }
          span {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        .description {
          color: #333333;
          font-size: 0.8rem;
          margin: 0 0 5px;
          text-align: justify;
          display: flex;
          align-items: center;

          i {
            font-size: 0.8rem;
            color: #888;
            margin-inline-end: 5px;
            cursor: pointer;
          }
          textarea {
            width: 100%;
            font-size: 0.7rem;
            resize: none;
          }
        }
        .title {
          color: #333333;
          font-size: 0.9rem;
          margin: 0 0 5px;
          font-weight: 400;
          display: flex;
          align-items: center;

          i {
            font-size: 0.8rem;
            color: #888;
            margin-inline-end: 5px;
            cursor: pointer;
          }

          input {
            width: 100%;
            font-size: 0.7rem;
          }
        }
        .list-name {
          color: #808080;
          font-size: 0.7rem;
          margin: 0 0 5px;
        }

        h3 {
          font-size: 0.9rem;
          font-weight: 500;
        }

        .comment-container {
          display: flex;
          flex-direction: column;
          .send {
            display: flex;
            .avatar {
              display: flex;
              width: 40px;
            }
            .text {
              display: flex;
              flex-grow: 1;
              align-items: flex-end;
              border: 1px solid #e6e6e6;
              border-radius: 5px;

              textarea {
                font-size: 0.7rem;
                width: 140px;
                max-width: 100%;
                border: none;
                resize: none;
                font-weight: 300;
              }

              button {
                border: none;
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
              }
            }
          }

          .comments {
            padding: 10px 0;
            .comment {
              display: flex;
              margin-bottom: 15px;
              .avatar {
                display: flex;
                min-width: 40px;
              }
              .more {
                display: flex;
                flex-direction: column;
                .full-name {
                  display: flex;
                  .name {
                    color: #4d4d4d;
                    font-weight: 400;
                    font-size: 0.8rem;
                    margin-inline-end: 5px;
                  }
                  .when {
                    font-size: 0.7rem;
                    color: #808080;
                  }
                }
                .message {
                  font-size: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
    .detail {
      display: flex;
      width: 150px;
      flex-grow: 1;
      flex-direction: column;
      padding-bottom: 10px;

      .tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        height: 40px;

        li {
          display: flex;
          margin-inline-end: 5px;
          border-radius: 5px 5px 0 0;
          background: #e6e6e6;
          color: #999999;
          font-size: 0.7rem;
          font-weight: 400;
          padding: 10px 10px;
          cursor: pointer;

          &.active {
            background: #ffffff;
            color: #444444;
          }
        }
      }

      .tab-content {
        margin-inline-end: 10px;
        min-height: 270px;
        background: #fff;
        border-radius: 5px 0 5px 5px;
      }
    }
  }

  .box-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .header {
      display: flex;
      height: 30px;
      min-height: 30px;
      align-items: baseline;
      .title {
        display: flex;
        flex-grow: 1;
        font-size: 0.9rem;
        font-weight: 500;
      }
      .action {
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      .box-header {
        display: flex;
        align-items: center;
        i {
          font-size: 1rem;
          margin-inline-end: 5px;

          &.add {
            color: #aaa;
            font-size: 0.7rem;
            display: flex;
            width: 20px;
            height: 20px;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            border: 1px dashed #bbb;
            margin-inline-start: 5px;
          }
        }
        span {
          font-size: 0.8rem;
          font-weight: 500;
        }

        ::ng-deep .mat-progress-bar {
          max-width: 250px;
          margin-inline-start: 10px;
          margin-inline-end: 10px;
          border-radius: 2px;
        }
        ::ng-deep .mat-progress-bar-fill::after {
          background-color: #50a9dd;
        }

        ::ng-deep .mat-progress-bar-buffer {
          background: #e6e6e6;
        }
      }
      .box-content {
        min-height: 50px;

        .no-item {
          background: #f2f2f2;
          color: #999999;
          text-align: center;
          padding: 10px;
          margin: 20px 0;
          border-radius: 5px;

          h3 {
            font-size: 0.9rem;
            font-weight: 500;
          }
        }

        .members {
          display: flex;
          padding-top: 10px;
        }

        .labels {
          display: flex;
          padding-top: 10px;

          span {
            font-size: 0.7rem;
            color: #fff;
            font-weight: 400;
            padding: 2px 5px;
            border-radius: 5px;
            margin-inline-end: 10px;
            min-width: 40px;
            min-height: 10px;
          }
        }
      }
    }
  }

  .map-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    i {
      margin-inline-end: 5px;
    }
  }

  ::ng-deep .af-open-street-maps {
    padding-top: 10px;
  }

  .attachment-item {
    display: flex;
    margin-top: 20px;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: #fefefe;
      border-color: #eeeeee;
    }
    .preview {
      display: flex;
      width: 50px;
      height: 50px;
      margin-inline-end: 5px;
      align-items: center;
      justify-content: center;
      i {
        color: #dadada;
        font-size: 30px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-inline-end: 5px;
      max-width: 260px;

      h4 {
        font-size: 0.8rem;
        font-weight: 600;
        color: #333333;
      }

      h5 {
        font-size: 0.7rem;
        font-weight: 400;
        color: #808080;
      }

      input {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 2px 5px;
        font-size: 0.8rem;
        font-weight: 400;
        margin-inline-end: 5px;
      }

      i.rename {
      }

      ::ng-deep .mat-progress-bar-fill::after {
        background-color: #50a9dd;
      }

      ::ng-deep .mat-progress-bar-buffer {
        background: #e6e6e6;
      }

      ::ng-deep .mat-progress-bar {
        border-radius: 2px;
      }

      .success {
        ::ng-deep .mat-progress-bar-fill::after {
          background-color: #3d8f4d;
        }

        ::ng-deep .mat-progress-bar-buffer {
          background: #e6e6e6;
        }

        ::ng-deep .mat-progress-bar {
          border-radius: 2px;
        }
      }
      .failed {
        ::ng-deep .mat-progress-bar-fill::after {
          background-color: #b63d3c;
        }

        ::ng-deep .mat-progress-bar-buffer {
          background: #e6e6e6;
        }

        ::ng-deep .mat-progress-bar {
          border-radius: 2px;
        }
      }
    }
    .actions {
      display: flex;
      width: 100px;
      flex-direction: column;
      .btns {
        display: flex;
        justify-content: space-around;
        color: #808080;
        font-size: 0.9rem;
      }
      .cover {
        padding-top: 10px;
        a {
          color: #808080;
          font-size: 0.7rem;
        }
      }
    }
  }

  .sub-tasks-wrapper {
    width: 420px;
    display: flex;
    overflow-x: auto;
    padding: 10px;

    ::ng-deep .task {
      min-width: 225px;
      max-width: 225px;
      width: 225px;
      margin-inline-end: 20px;
    }

    .add-sub {
      margin-inline-end: 10px;
      textarea {
        display: block;
        width: 225px;
        border: 1px solid #eee;
        resize: none;
        margin-bottom: 10px;
        font-size: 0.8rem;
        height: 90px;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  .time-spent-container {
    .header {
      margin-bottom: 10px;
    }
    i.x2 {
      font-size: 1.5rem !important;
    }
    h4 {
      margin-top: 10px;
    }
    h5 {
      font-size: 0.7rem;
      color: #999999;
    }

    .time-log {
      border-top: 2px solid #e6e6e6;
      padding-top: 20px;
      .box-header {
        .action {
          display: flex;
          justify-content: flex-end;
          flex-grow: 1;
          cursor: pointer;

          span {
            font-size: 0.7rem;
            font-weight: 300;
          }
        }
      }

      .recorder {
        margin-top: 10px;
        background: #f2f2f2;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .time {
          display: flex;
          justify-content: center;
        }
        .item {
          display: flex;
          flex-direction: column;
          width: 40px;
          text-align: center;
          .value {
            font-size: 30px;
            color: #999999;
          }
          .label {
            font-size: 0.7rem;
            font-weight: 400;
          }
        }
        .sep {
          display: flex;
          font-size: 30px;
          color: #999999;
        }
        .btn {
          position: absolute;
          top: 85px;
          margin: 0 auto;
          left: calc(50% - 20px);

          ::ng-deep .mat-mini-fab {
            background: #ffffff !important;

            i {
              color: #333333;
              font-size: 1.6rem;
              position: relative;
              right: -3px;

              &.no-pos {
                right: 0;
                top: 0;
              }
            }
          }
        }

        &.active {
          .sep,
          .item .value {
            color: #5eb258;
          }

          ::ng-deep .mat-mini-fab {
            border: 2px solid #5eb258;

            i {
              color: #808080;
              top: -1px;
            }
          }
        }
      }
      .no-records {
        background: #f2f2f2;
        font-size: 0.7rem;
        color: #999;
        font-weight: 400;
        text-align: center;
        padding: 15px;
        margin-top: 50px;
        border-radius: 5px;
      }

      .records {
        display: flex;
        flex-direction: column;

        .record {
          display: flex;
          margin-top: 10px;
          border: 2px solid #e6e6e6;
          align-items: center;
          padding: 5px 5px 5px 0;
          border-radius: 10px;

          .member {
            display: flex;
            align-items: center;

            h4 {
              font-size: 0.8rem;
              font-weight: 500;
              width: 100px;
              margin-top: 8px;
            }
          }
          .total {
            color: #333333;
            font-size: 0.9rem;
            font-weight: 400;
            margin: 0 10px;
          }
          .time-span {
            display: flex;
            align-items: center;
            color: #999999;
            font-size: 0.7rem;
            width: 70px;
            direction: ltr;
            .from {
            }
            .dash {
              margin: 0 5px;
            }
            .to {
            }
          }
          .date-info {
            margin: 0 10px;
            font-size: 0.8rem;
            display: flex;
            .week {
              width: 50px;
            }
            .date {
            }
          }
          .action {
            .i {
            }
          }
        }
      }
    }
  }

  .vote-box {
    flex-direction: row !important;
    .box-header {
      width: 100px !important;
    }
    .box-content {
      flex-grow: 1 !important;
      display: flex !important;
      align-items: center !important;
    }

    a {
      font-size: 0.8rem;
      font-weight: 400;
      color: #999;
      margin-inline-start: 10px;
      text-decoration: underline;
    }
  }
  .vote {
    margin-inline-start: 10px;
    display: flex;
    background: #f2f2f2;
    border-radius: 15px;
    align-items: center;
    width: 100px;
    height: 25px;
    justify-content: space-around;
    .sep {
      display: flex;
      align-items: center;
      span {
        background: #ffffff;
        display: flex;
        width: 18px;
        height: 18px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 400;
      }
      i {
        color: #4d4d4d;
        font-size: 0.7rem;
      }
      &.up {
        span {
          color: #3d8f4d;
        }
        i {
          margin-inline-start: 5px;
        }
      }
      &.down {
        span {
          color: #b33634;
        }
        i {
          margin-inline-end: 5px;
        }
      }
    }
  }

  &.archived {
    .actions {
      top: 10px;
    }
  }
  &.hasBackground {
    .header {
      .actions {
        padding-top: 65px;
      }
    }
    .content {
      padding-top: 5px;
    }
  }
}
.time-span-menu {
  width: 240px;
  padding: 10px;
  h4 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  h5 {
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #999;
  }
}
.status-popper {
  width: 150px;
  background: #f2f2f2;
  font-size: 0.7rem;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      padding: 5px 10px;
      cursor: pointer;
      border-bottom: 1px solid #e6e6e6;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        margin: 0 3px;

        &.color-1 {
          background: #cccccc;
        }
        &.color-2 {
          background: #59a8ef;
        }
        &.color-3 {
          background: #5eb258;
        }
        &.color-4 {
          background: #666666;
        }
        &.color-5 {
          background: #b33634;
        }
        &.color-6 {
          background: #666666;
        }
        &.color-7 {
          background: #808080;
        }
        &.color-8 {
          background: #b3b3b3;
        }
        &.color-9 {
          background: #eb973e;
        }
      }

      &:hover {
        background: #e2e2e2;
      }
    }
  }
}
