<div class="outer" (click)="close()">
  <ng-container *ngIf="mode === WizardMode.Choose">
    <div class="modal-content create-modal" (click)="$event.stopPropagation()">
      <div class="modal-alt-header">
        <div class="btn"></div>
        <div class="text">
          <h4 class="modal-title">
            {{ 'CREATE' | translate : true }}&nbsp;...
          </h4>
        </div>
        <div class="btn">
          <button class="close" (click)="onCancel($event)">
            <i class="icon-cross"></i>
          </button>
        </div>
      </div>
      <div class="modal-body choose">
        <mat-radio-group [(ngModel)]="continueAs" class="items">
          <mat-radio-button
            class="border"
            color="primary"
            [value]="WizardMode.SimpleProject"
          >
            <div class="title">
              <i class="icon-workpackage"></i>&nbsp;
              {{ 'SIMPLE_PROJECTS' | translate }}
            </div>
            <p class="description">
              {{ 'SIMPLE_PROJECTS_DESCRIPTION' | translate }}
            </p>
            <img src="/assets/images/project/simple-proj.svg" alt="" />
          </mat-radio-button>
          <mat-radio-button
            class="border"
            color="primary"
            [value]="WizardMode.ComplexProject"
          >
            <div class="title">
              <i class="icon-project"></i>&nbsp;
              {{ 'WBS_PROJECTS' | translate }}&nbsp;
              <i class="premium icon-trophy4"></i>
            </div>
            <p class="description">
              {{ 'WBS_PROJECTS_DESCRIPTION' | translate }}
            </p>
            <img src="/assets/images/project/structured-proj.svg" alt="" />
          </mat-radio-button>
          <mat-radio-button color="primary" [value]="WizardMode.Group">
            <div class="title">
              <i class="icon-team"></i>&nbsp;
              {{ 'NEW_GROUP' | translate }}
            </div>
            <p class="description">{{ 'NEW_GROUP_DESCRIPTION' | translate }}</p>
          </mat-radio-button>
          <mat-radio-button color="primary" [value]="WizardMode.Import">
            <div class="title import">
              <i class="icon-import"></i>&nbsp;
              {{ 'IMPORT' | translate }}
            </div>
            <p class="description">{{ 'IMPORT_DESCRIPTION' | translate }}</p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="modal-footer">
        <button (click)="next($event)" mat-flat-button [color]="'primary'">
          {{ 'CONTINUE' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Import">
    <app-import-wizard
      (click)="$event.stopPropagation()"
      (exit)="close()"
      (back)="mode = WizardMode.Choose"
    ></app-import-wizard>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Group">
    <ng-container *ngIf="canCreateGroup">
      <app-group-wizard
        [parentId]="parentId"
        (click)="$event.stopPropagation()"
        (exit)="close()"
        (back)="mode = WizardMode.Choose"
      ></app-group-wizard>
    </ng-container>
    <ng-container *ngIf="!canCreateGroup">
      <app-upgrade-wizard
        [showBack]="true"
        (click)="$event.stopPropagation()"
        (exit)="close()"
        (back)="mode = WizardMode.Choose"
      ></app-upgrade-wizard>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.SimpleProject">
    <ng-container *ngIf="canCreateWorkPackage">
      <app-project-wizard
        (click)="$event.stopPropagation()"
        (exit)="close()"
        (back)="mode = WizardMode.Choose"
        [complex]="false"
      ></app-project-wizard>
    </ng-container>
    <ng-container *ngIf="!canCreateWorkPackage">
      <app-upgrade-wizard
        [showBack]="true"
        (click)="$event.stopPropagation()"
        (exit)="close()"
        (back)="mode = WizardMode.Choose"
      ></app-upgrade-wizard>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.ComplexProject">
    <ng-container *ngIf="canCreateProject">
      <app-project-wizard
        (click)="$event.stopPropagation()"
        (exit)="close()"
        (back)="mode = WizardMode.Choose"
        [complex]="true"
      ></app-project-wizard>
    </ng-container>
    <ng-container *ngIf="!canCreateProject">
      <app-upgrade-wizard
        [requireProject]="true"
        [showBack]="true"
        (click)="$event.stopPropagation()"
        (exit)="close()"
        (back)="mode = WizardMode.Choose"
      ></app-upgrade-wizard>
    </ng-container>
  </ng-container>
</div>
