.modal-body {
  padding: 20px;
}
.choose {
  .items {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    ::ng-deep .mat-radio-label {
      white-space: pre-line;
      align-items: end;
    }

    ::ng-deep span.title {
      font-weight: 500;
      font-size: 1rem;
    }
    ::ng-deep p.description {
      color: #808080;
      font-size: 0.8rem;
    }

    .icon-import {
      font-size: 35px;
    }
  }
}
.create-group {
  ::ng-deep .af-textbox {
    input,
    textarea {
      width: 300px !important;
      resize: none;
    }
  }
  ::ng-deep .summary {
    color: #999999;
    font-size: 0.8rem;
  }
}
.import {

  padding: 20px 0;
  .item {
    margin: 10px 0;
    display: flex;
    flex-grow: 1;
    -webkit-box-flex: 1;

    .logo {
      display: flex;
      flex-grow: 1;
      -webkit-box-flex: 1;
      img {
        width: 120px;
      }
    }
    .action {
      display: flex;
      min-width: 150px;
      align-items: center;
    }
  }

  hr {
    border: 1px solid #e6e6e6;
  }
}
.map-members {
  h4 {
    margin-bottom: 20px;
  }
  ::ng-deep .form-group {
    display: flex !important;

    > label {
      display: flex;
      flex-grow: 1;
      -webkit-box-flex: 1;
    }

    app-input {
      display: flex;
    }

    .af-validation-messages {
      padding: 0 5px;
      min-width: 120px;
    }
  }
}
