.modal-body {
  padding: 20px;
}
.choose {
  .items {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    ::ng-deep .mat-radio-label {
      white-space: pre-line;
      align-items: end;
    }

    ::ng-deep span.title {
      font-weight: 500;
      font-size: 1rem;
    }
    ::ng-deep p.description {
      color: #808080;
      font-size: 0.8rem;
    }
  }
}
.create-group {
  ::ng-deep .af-textbox {
    input,
    textarea {
      width: 300px !important;
      resize: none;
    }
  }
  ::ng-deep .summary {
    color: #999999;
    font-size: 0.8rem;
  }
}
