<div class="modal-content create-modal">
  <div class="modal-header">
    <button *ngIf="mode !== WizardMode.Choose" (click)="onBack($event)">
      <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
      <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
    </button>
    <h4 class="modal-title">
      {{ 'CREATE' | translate: true }}&nbsp;...
    </h4>
    <button (click)="onCancel($event)">
      <i class="icon-cross"></i>
    </button>
  </div>

  <ng-container *ngIf="mode === WizardMode.Choose">
    <div class="modal-body choose">

      <mat-radio-group [(ngModel)]="continueAs" class="items">
        <mat-radio-button color="primary" [value]="WizardMode.SimpleProject">
          <span>{{'SIMPLE_PROJECTS' | translate }}</span>
          <p>{{'SIMPLE_PROJECTS_DESCRIPTION' | translate }}</p>
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="WizardMode.ComplexProject">
          <span>{{'WBS_PROJECTS' | translate }}</span>
          <p>{{'WBS_PROJECTS_DESCRIPTION' | translate }}</p>
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="WizardMode.Group">
          <span>{{'NEW_GROUP' | translate }}</span>
          <p>{{'NEW_GROUP_DESCRIPTION' | translate }}</p>
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="WizardMode.Import">
          <span>{{'IMPORT' | translate }}</span>
          <p>{{'IMPORT_DESCRIPTION' | translate }}</p>
        </mat-radio-button>
      </mat-radio-group>

    </div>
    <div class="modal-footer">
      <button (click)="next($event)" mat-flat-button [color]="'primary'">
        {{ 'CONTINUE' | translate }}</button
      >
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Group">
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <!--    <button (click)="onAction($event)" mat-flat-button [color]="'primary'">-->
      <!--      <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ actionLabel | translate: true }}</button-->
      <!--    >&nbsp;-->
      <!--    <button (click)="onCancel($event)" mat-button>-->
      <!--      <i *ngIf="cancelWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ cancelLabel | translate: true }}-->
      <!--    </button>-->
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.SimpleProject">
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <!--    <button (click)="onAction($event)" mat-flat-button [color]="'primary'">-->
      <!--      <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ actionLabel | translate: true }}</button-->
      <!--    >&nbsp;-->
      <!--    <button (click)="onCancel($event)" mat-button>-->
      <!--      <i *ngIf="cancelWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ cancelLabel | translate: true }}-->
      <!--    </button>-->
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.ComplexProject">
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <!--    <button (click)="onAction($event)" mat-flat-button [color]="'primary'">-->
      <!--      <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ actionLabel | translate: true }}</button-->
      <!--    >&nbsp;-->
      <!--    <button (click)="onCancel($event)" mat-button>-->
      <!--      <i *ngIf="cancelWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ cancelLabel | translate: true }}-->
      <!--    </button>-->
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Import">
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <!--    <button (click)="onAction($event)" mat-flat-button [color]="'primary'">-->
      <!--      <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ actionLabel | translate: true }}</button-->
      <!--    >&nbsp;-->
      <!--    <button (click)="onCancel($event)" mat-button>-->
      <!--      <i *ngIf="cancelWaiting" class="icon-spin icon-spinner2"></i>-->
      <!--      {{ cancelLabel | translate: true }}-->
      <!--    </button>-->
    </div>
  </ng-container>
</div>
