<div class="info inline">
  <div class="item">
    <div class="blocked color"></div>
    &nbsp;
    {{ 'BLOCKED_CARDS' | translate }}
  </div>
  <div class="item">
    <div class="done color"></div>
    &nbsp;
    {{ 'DONE_CARDS' | translate }}
  </div>
  <div class="item">
    <div class="created color"></div>
    &nbsp;
    {{ 'CREATED_CARDS' | translate }}
  </div>
  <!--  <div class="details">-->
  <!--    {{ 'DETAILS' | translate }}-->
  <!--  </div>-->
</div>
<div class="progress-report" *ngIf="!hidden">
  <ngx-charts-bar-vertical-2d
    [yAxisTickFormatting]="formatY"
    [view]="view"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxisLabel]="''"
    [yAxisLabel]="''"
    [scheme]="{ domain: ['#ee6285', '#74d68c', '#59a8ef'] }"
    [results]="chartData"
    (window:resize)="onResize($event)"
  ></ngx-charts-bar-vertical-2d>
</div>
