.section {
  .header {
    display: flex;
    padding: 30px 20px 0;
    h3 {
      font-weight: 500;
      margin-bottom: 0;
      padding: 10px;
      min-width: 150px;
    }
    ::ng-deep .mat-tab-group {
      max-width: calc(100% - 150px);
    }
    ::ng-deep .mat-tab-label-content {
      i {
        font-size: 1.6rem;

        &.premium {
          color: #cfaf4e;
        }
      }
    }
  }
  .content {
    background: #f2f2f2;
    min-height: 200px;
  }

  .reports {
    padding: 20px 20px 0;

    .reports-holder {
      display: flex;
      flex-wrap: wrap;

      .events-holder {
        max-width: 100%;
        width: 300px;
        margin-bottom: 20px;
      }

      .overall-holder {
        width: 250px;
        margin: 0 20px 20px;
      }

      .progress-holder {
        margin-bottom: 20px;
        flex-grow: 1;
        -webkit-box-flex: 1;
      }
    }

    .wrapper {
      background: #ffffff;
      border-radius: 10px;
      min-height: 330px;
      padding: 20px;
      h4 {
        color: #999999;
        font-size: 0.9rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    display: block !important;
  }
  .overall-holder {
    width: 100% !important;
    margin: 0 0 20px !important;
  }
  .events-holder {
    width: 100% !important;

    ::ng-deep .af-calendar {
      width: 100% !important;
    }
  }
}
