.section{
  .header {
    display: flex;
    padding: 30px 20px 0;
    h3 {
      font-weight: 500;
      margin-bottom: 0;
      padding: 10px;
    }
    ::ng-deep .mat-tab-label-content {
      i {
        font-size: 1.6rem;
      }
    }
  }
  .content {
    background: #f2f2f2;
    min-height: 200px;
  }

  .reports {
    padding: 20px 20px 0;

    .reports-holder {
      display: flex;
      flex-wrap: wrap;

      .events-holder {
        max-width: 100%;
        width: 300px;
        margin-bottom: 20px;
      }

      .overall-holder {
        width: 250px;
        margin: 0 20px 20px;
      }

      .progress-holder {
        margin-bottom: 20px;
        flex-grow: 1;
        -webkit-box-flex: 1;
      }
    }

    .wrapper {
      background: #ffffff;
      border-radius: 10px;
      min-height: 330px;
      padding: 20px;
      h4 {
        color: #999999;
        font-size: 0.9rem;
      }

      .info {
        display: flex;

        .item {
          display: flex;
          font-size: 0.7rem;
          color: #999999;
          margin: 0 10px;
          .color {
            display: flex;
            width: 7px;
            height: 7px;
            border-radius: 7px;
            position: relative;
            top: 5px;

           &.past {
             background-color: #ee6285;
           }
           &.in-time {
             background-color: #74d68c;
           }
           &.upcoming {
             background-color: #fef386;
           }
          }
        }

        .details {
          color: #666666;
          display: flex;
          font-size: 0.7rem;
          flex-grow: 1;
          -webkit-box-flex: 1;
          direction: ltr;
          text-decoration: underline;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    display: block !important;
  }
}
