.group-info {
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  max-width: 300px;
  display: flex;
  border: 1px solid transparent;

  &.selected {
    border: 1px solid #59a8ef;
    background-color: rgba(89, 168, 239, 0.16);
  }

  .info {
    min-width: 100px;

    .name {
      color: #4d4d4d;
      font-weight: 500;
      font-size: 0.9rem;
    }

    .description {
      color: #999999;
      font-size: 0.7rem;
      font-weight: 300;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;

    img {
      max-width: 50px;
    }
  }
  .initials-holder {
    min-width: 40px;
    width: 40px;
    height: 40px;
    align-items: baseline;
    display: flex;
    justify-content: center;

    .initials {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      border: 1px solid #666666;
      background-color: #e6e6e6;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        position: relative;
        top: 2px;
      }
    }
  }

  .add {
    display: none;
  }

  &.small {
    width: 40px;
    border: none;

    .initials-holder {
      width: 30px;
      min-width: 30px;
      height: 30px;
    }
    .info {
      display: none !important;
    }
  }
}
