<div class="modal-content create-modal">
  <div class="modal-alt-header">
    <div class="btn">
      <button [disabled]="actionWaiting" (click)="onBack($event)">
        <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
        <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
      </button>
    </div>

    <div class="text">
      <h4 class="modal-title">
        <i class="icon-team"></i><br />
        <span *ngIf="mode === ViewMode.Form">
          {{ 'CREATE_NEW_GROUP' | translate: true }}
        </span>
        <span *ngIf="mode === ViewMode.Invite">
          {{ 'NEW_GROUP_MEMBERS' | translate: true }}
        </span>
      </h4>
    </div>
    <div class="btn">
      <button [disabled]="actionWaiting" (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
  </div>

  <ng-container *ngIf="mode === ViewMode.Invite">
    <div class="modal-body create-group">
      <app-invite-member
        [exclude]="exclude"
        [(members)]="members"
      ></app-invite-member>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="actionWaiting"
        (click)="createGroup($event)"
        mat-flat-button
        [color]="'primary'"
      >
        <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>
        {{ 'CREATE_GROUP' | translate: true }}
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === ViewMode.Form">
    <div class="modal-body create-group">
      <app-form
        [standalone]="true"
        [elements]="groupForm"
        [actionWaiting]="actionWaiting"
      ></app-form>
    </div>
    <div class="modal-footer">
      <button
        (click)="inviteToGroup($event)"
        mat-flat-button
        [color]="'primary'"
      >
        {{ 'CONTINUE' | translate: true }}
      </button>
    </div>
  </ng-container>
</div>
