<div class="project-detail">
  <div class="header">
    <div class="info">
      <h4>{{project.title}}</h4>
      <h5>{{project.description}}</h5>
      <div class="members">
        <div class="member">
          <i class="icon-users"></i>&nbsp;
          <span>
            {{project.members.length}}&nbsp;
            {{ 'INDIVIDUAL_USERS' | translate}}
          </span>
        </div>
      </div>
    </div>
    <div class="reports">
      <h5>{{ 'PROJECT_PROGRESS' | translate}}</h5>

      <div class="report">
        <div class="change">
          <i class="up icon-arrow-up2"></i>&nbsp;10%
        </div>
        <ngx-trend [data]="[0, 10, 5, 22, 3.6, 11,0, 10, 5, 22, 3.6, 11,0, 10, 5, 22, 3.6, 11]"
                   stroke="#558c97"
                   strokeWidth="2"
                   width="170"
                   height="25"
                   autoDraw="true"
                   autoDrawDuration="1500"
                   autoDrawEasing="ease-in"></ngx-trend>
        <div class="total">600</div>
      </div>
      <div class="report">
        <div class="change">
          <i class="down icon-arrow-down2"></i>&nbsp;70%
        </div>
        <ngx-trend [data]="[0, 10, 3.6, 11,0, 10, 5, 22, 3.6, 11,0, 10, 3.6, 11,0, 10, 5, 22, 3.6, 11,0, 10, 5, 22, 3.6, 11]"
                   stroke="#ee5a60"
                   strokeWidth="2"
                   width="170"
                   height="25"
                   autoDraw="true"
                   autoDrawDuration="1500"
                   autoDrawEasing="ease-in"></ngx-trend>
        <div class="total">150</div>
      </div>
      <div class="report">
        <div class="change">
          <i class="up icon-arrow-up2"></i>&nbsp;30%
        </div>
        <ngx-trend [data]="[3.6, 11,0, 10, 5, 22, 3.6, 11, 3.6, 11,0, 10, 5, 22, 3.6, 11, 0, 10, 5, 22, 3.6, 11]"
                   stroke="#7f33ef"
                   strokeWidth="2"
                   width="170"
                   height="25"
                   autoDraw="true"
                   autoDrawDuration="1500"
                   autoDrawEasing="ease-in"></ngx-trend>
        <div class="total">400</div>
      </div>
    </div>
  </div>
  <div class="inner-container">
    <div class="aside">
      <button (click)="mode = ViewMode.RoadMap"
              [class.selected]="mode === ViewMode.RoadMap">
        <i class="icon-map5"></i>
        <span>{{ 'ROAD_MAP' | translate}}</span>
      </button>
      <button (click)="mode = ViewMode.Tree"
              [class.selected]="mode === ViewMode.Tree">
        <i class="icon-tree7"></i>
        <span>{{ 'TREE_VIEW' | translate}}</span>
      </button>
      <button (click)="mode = ViewMode.Seasons"
              [class.selected]="mode === ViewMode.Seasons">
        <i class="icon-flag3"></i>
        <span>{{ 'SEASONS' | translate}}</span>
      </button>
      <button (click)="mode = ViewMode.Objectives"
              [class.selected]="mode === ViewMode.Objectives">
        <i class="icon-subtask"></i>
        <span>{{ 'OBJECTIVES' | translate}}</span>
      </button>
      <button (click)="mode = ViewMode.Settings"
              [class.selected]="mode === ViewMode.Settings">
        <i class="icon-cog2"></i>
        <span>{{ 'SETTINGS' | translate}}</span>
      </button>
    </div>
    <div class="wrapper">
      <div *ngIf="mode === ViewMode.RoadMap" class="road-map-container">
        <app-project-road-map [model]="project"></app-project-road-map>
      </div>
      <div *ngIf="mode === ViewMode.Tree" class="tree-container">
        <app-project-tree [model]="project"></app-project-tree>
      </div>
      <div *ngIf="mode === ViewMode.Seasons" class="seasons-container">
        <app-project-season [model]="project"></app-project-season>
      </div>
      <div *ngIf="mode === ViewMode.Objectives" class="objectives-container">
        <app-project-objective [model]="project"></app-project-objective>
      </div>
      <div *ngIf="mode === ViewMode.Settings" class="settings-container">
        <app-project-setting [model]="project"></app-project-setting>
      </div>
    </div>
  </div>
</div>
<app-messenger-shortcut></app-messenger-shortcut>
