<div class="af-grid {{ cssClass }}">
  <div class="extra">
    <div class="filter" *ngIf="filter">
      <input
        [disabled]="isLoading"
        type="text"
        [(ngModel)]="query"
        [placeholder]="'FILTER_QUERY' | translate"
      />
      <button
        [disabled]="isLoading"
        mat-flat-button
        color="primary"
        (click)="filterResult()"
      >
        <i *ngIf="isLoading" class="icon-spinner2 icon-spin"></i>
        {{ "FILTER" | translate }}
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">
    <ng-content></ng-content>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <div class="spinner-container" *ngIf="isLoading">
    <app-waiting></app-waiting>
  </div>
  <mat-paginator
    [hidden]="showFooter === false"
    [disabled]="isLoading"
    (page)="pageChange($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
