<div class="channel-files">
  <div class="header">
    <div class="info">
      <div class="more">
        <a routerLink="/files">
          <i class="icon-new-window"></i>
          {{ 'VIEW_IN_FILES_PAGE' | translate }}
        </a>
        <button (click)="hide.emit()">
          <i class="icon-cross"></i>
        </button>
      </div>
    </div>
    <div class="filter">
      <app-dropdown [chooseLabel]="'FILE_TYPES'"></app-dropdown>&nbsp;
      <app-dropdown [chooseLabel]="'EVERYONE_FILES'"></app-dropdown>
    </div>
  </div>
<!--  <div class="files">-->
<!--    <div class="file-item" *ngFor="let file of mockService.files.files">-->
<!--      <div class="image">-->
<!--        <ng-container *ngIf="file.thumbnail || file.isImage; else iconHolder">-->
<!--          <img [src]="file.thumbnail || file.url" alt="" />-->
<!--        </ng-container>-->

<!--        <ng-template #iconHolder>-->
<!--          <i *ngIf="file.isImage" class="image icon-image2"></i>-->
<!--          <i *ngIf="file.isArchive" class=" archive icon-file-zip"></i>-->
<!--          <i *ngIf="file.isDocument" class="document icon-file-word"></i>-->
<!--          <i *ngIf="file.isPdf" class="pdf icon-file-pdf"></i>-->
<!--          <i *ngIf="file.isSpreadsheet" class="spreadsheet icon-file-excel"></i>-->
<!--          <i *ngIf="file.isCode" class="code icon-file-xml"></i>-->
<!--          <i *ngIf="file.isExecutable" class="executable icon-file-exe"></i>-->
<!--          <i *ngIf="file.isOther" class="other icon-files-empty"></i>-->
<!--          <i-->
<!--            *ngIf="file.isPresentation"-->
<!--            class="presentation icon-file-presentation"-->
<!--          ></i>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <div class="title">{{ file.name }}</div>-->
<!--        <div class="created-at">{{ file.createdAt | culturedDate: true }}</div>-->
<!--        <div class="sender">{{ file.userId }}</div>-->
<!--      </div>-->
<!--      <div class="actions">-->
<!--        <button>-->
<!--          <i class="icon-download41"></i></button-->
<!--        >&nbsp;-->
<!--        <button>-->
<!--          <i class="icon-menu"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
