<div class="outer" (click)="close()">
  <ng-container *ngIf="mode === WizardMode.Choose">
    <div class="modal-content create-modal" (click)="$event.stopPropagation()">
      <div class="modal-alt-header">
        <div class="btn"></div>
        <div class="text">
          <h4 class="modal-title">
            {{ 'ADD_STRUCTURE' | translate : true }}&nbsp;...
          </h4>
        </div>
        <div class="btn">
          <button class="close" (click)="onCancel($event)">
            <i class="icon-cross"></i>
          </button>
        </div>
      </div>
      <div class="modal-body choose">
        <mat-radio-group [(ngModel)]="continueAs" class="items">
          <mat-radio-button
            class="border"
            color="primary"
            [value]="WizardMode.Upgrade"
          >
            <div class="title">
              <i class="icon-project"></i>&nbsp;
              {{ 'CONVERT_TO_PROJECT' | translate }}
            </div>
            <p class="description">
              {{ 'CONVERT_TO_PROJECT_DESCRIPTION' | translate }}
            </p>
          </mat-radio-button>
          <mat-radio-button
            class="border"
            color="primary"
            [value]="WizardMode.Connect"
          >
            <div class="title">
              <i class="ikon-puzzle4"></i>&nbsp;
              {{ 'CONNECT_TO_PROJECT' | translate }}
            </div>
            <p class="description">
              {{ 'CONNECT_TO_PROJECT_DESCRIPTION' | translate }}
            </p>
          </mat-radio-button>
          <mat-radio-button color="primary" [value]="WizardMode.Merge">
            <div class="title">
              <i class="ikon-stack"></i>&nbsp;
              {{ 'MERGE_TO_PACKAGE' | translate }}
            </div>
            <p class="description">
              {{ 'MERGE_TO_PACKAGE_DESCRIPTION' | translate }}
            </p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="continueAs === WizardMode.Upgrade"
          [disabled]="upgrading"
          (click)="upgrade($event)"
          mat-flat-button
          [color]="'primary'"
        >
          <i *ngIf="upgrading" class="icon-spin icon-spinner2"></i>
          {{ (hasProject ? 'UPGRADE_TO_PROJECT' : 'CONTINUE') | translate }}
        </button>
        <button
          *ngIf="continueAs !== WizardMode.Upgrade"
          (click)="next($event)"
          mat-flat-button
          [color]="'primary'"
        >
          {{ 'CONTINUE' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Connect">
    <div class="modal-content create-modal" (click)="$event.stopPropagation()">
      <div class="modal-alt-header">
        <div class="btn">
          <button [disabled]="upgrading" (click)="onBack($event)">
            <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
            <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
          </button>
        </div>
        <div class="text">
          <h4 class="modal-title">
            {{ 'CONNECT_TO_PROJECT' | translate : true }}
          </h4>
        </div>
        <div class="btn">
          <button class="close" (click)="onCancel($event)">
            <i class="icon-cross"></i>
          </button>
        </div>
      </div>
      <div class="modal-body choose">
        <h4>{{ 'CONNECT_TO_PROJECT_DESCRIPTION' | translate }}</h4>
        <h5 class="warn">{{ 'CONNECT_TO_PROJECT_WARN' | translate }}</h5>
        <br />
        <h5 class="warn" *ngIf="!projects.length">
          {{ 'NO_PROJECTS' | translate }}
        </h5>
        <mat-radio-group [(ngModel)]="selectedProject" class="items">
          <mat-radio-button
            class="border"
            color="primary"
            [value]="project.id"
            [disabled]="upgrading"
            *ngFor="let project of projects"
          >
            <div class="title">
              <i class="icon-project"></i>&nbsp;
              {{ project.title }}
            </div>
            <p class="description">
              {{ project.description }}
            </p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="upgrading || !selectedProject"
          (click)="connect($event)"
          mat-flat-button
          [color]="'primary'"
        >
          <i *ngIf="upgrading" class="icon-spin icon-spinner2"></i>
          {{ 'CONNECT' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Merge">
    <div class="modal-content create-modal" (click)="$event.stopPropagation()">
      <div class="modal-alt-header">
        <div class="btn">
          <button [disabled]="upgrading" (click)="onBack($event)">
            <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
            <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
          </button>
        </div>
        <div class="text">
          <h4 class="modal-title">
            {{ 'MERGE_TO_PACKAGE' | translate : true }}
          </h4>
        </div>
        <div class="btn">
          <button class="close" (click)="onCancel($event)">
            <i class="icon-cross"></i>
          </button>
        </div>
      </div>
      <div class="modal-body choose">
        <h4>{{ 'MERGE_TO_PACKAGE_DESCRIPTION' | translate }}</h4>
        <h5 class="warn">{{ 'MERGE_TO_PACKAGE_WARN' | translate }}</h5>
        <br />
        <h5 class="warn" *ngIf="!packages.length">
          {{ 'NO_PACKAGES' | translate }}
        </h5>
        <mat-radio-group [(ngModel)]="selectedPackage" class="items">
          <mat-radio-button
            class="border"
            color="primary"
            [value]="pkg.id"
            [disabled]="upgrading"
            *ngFor="let pkg of packages"
          >
            <div class="title">
              <i class="icon-project"></i>&nbsp;
              {{ pkg.title }}
            </div>
            <p class="description">
              {{ pkg.description }}
            </p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="upgrading || !selectedPackage"
          (click)="merge($event)"
          mat-flat-button
          [color]="'primary'"
        >
          <i *ngIf="upgrading" class="icon-spin icon-spinner2"></i>
          {{ 'MERGE' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Plan">
    <app-upgrade-wizard
      (click)="$event.stopPropagation()"
      (exit)="close()"
    ></app-upgrade-wizard>
  </ng-container>
</div>
