<div class="task">
  <div class="status">
    <div class="date">
      <i class="icon-calendar"></i>&nbsp;
      <span>{{ date | culturedDate }}</span>
    </div>
    <div class="more">
      <i class="icon-eye2"></i>
    </div>
    <div class="status-wrapper">
      <div class="status-container">
        <div class="circle"></div>
        <div class="text">{{model.state | enum:'WorkPackageTaskState'}}</div>
      </div>
    </div>
  </div>
  <div class="labels">
<!--    <div class="label" [style.backgroundColor]="label.color"-->
<!--         *ngFor="let label of workPackage.labels">-->
<!--      {{label.title}}-->
<!--    </div>-->
  </div>
  <div class="title">
    {{model.title}}
  </div>
  <div class="progress">
    <div class="wrapper">
      <mat-progress-bar mode="determinate" [value]="10" [bufferValue]="5"></mat-progress-bar>
    </div>
    <span>5/10</span>
  </div>
  <div class="interactions">
    <div class="box box-1">
      <div class="vote">
        <div class="sep up">
          <span>1</span>
          <i class="icon-thumbs-up2"></i>
        </div>
        <div class="sep down">
          <i class="icon-thumbs-down2"></i>
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="box box-2">
      <div class="target">
        <i class="icon-target"></i>
        <span>2</span>
      </div>
      <div class="time">
        <i class="icon-timer"></i>
        <span>2:12:13</span>
      </div>
    </div>
  </div>
  <div class="detail">
    <div class="box box-1">
      <div class="inf">
        <i class="icon-paragraph-right3"></i>
      </div>
      <div class="inf">
        <i class="icon-bubble-dots2"></i>
        <span>1</span>
      </div>
      <div class="inf">
        <i class="icon-attachment"></i>
        <span>1</span>
      </div>
    </div>
    <div class="box box-2">
      <app-member-info [model]="member" [small]="true" *ngFor="let member of workPackage.members"></app-member-info>
    </div>
  </div>
</div>
