<div class="af-captcha af-component {{ focusState }}">
  <input
    maxlength="5"
    type="text"
    [(ngModel)]="model.code"
    [readonly]="waiting || disabled"
    (focus)="onFocus()"
    (blur)="onBlur()"
    appOnlyNumber
  />
  <div *ngIf="!image" class="loader">
    <span class="icon-spinner1 icon-spin"></span>
  </div>
  <img *ngIf="image" [src]="image" alt="captcha-image" />
  <button (click)="generate()" [disabled]="waiting || disabled">
    <i class="icon-reset"></i>
  </button>
</div>
