<div class="af-captcha af-component {{ focusState }}">
  <input
    maxlength="5"
    type="text"
    [(ngModel)]="model.code"
    [readonly]="waiting || disabled"
    (focus)="onFocus()"
    (blur)="onBlur()"
    appOnlyNumber
  />
  <div *ngIf="!image" class="loader">
    <i class="fa fa-spinner fa-pulse"></i>
  </div>
  <img *ngIf="image" [src]="image" alt="captcha-image" />
  <button (click)="generate()" [disabled]="waiting || disabled">
    <app-icon [width]="25" name="reload"></app-icon>
  </button>
</div>
