.messenger-shortcut {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
  cursor: pointer;
  img {
    width: 60px;
  }

  .badge {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #b33634;
    position: relative;
    top: -33px;
    right: 2px;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 2px;
  }
}
.shortcut-messenger-container {
  background: #ffffff;
  width: 300px;
  height: calc(100vh - 57px);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 5px;
    cursor: pointer;

    img {
      width: 30px;
    }
    i.close {
      width: 40px;
      text-align: center;
      font-size: 0.8rem;
      color: #999999;
    }
    span {
      font-size: 0.8rem;
      display: flex;
      flex-grow: 1;
      -webkit-box-flex: 1;
      color: #4d4d4d;
      font-weight: 500;
      text-decoration: none;

      i {
        font-size: 1rem;
      }
    }
  }
}
