.messenger-shortcut {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
  cursor: pointer;
  img {
    width: 60px;
  }

  .badge {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #b33634;
    position: relative;
    top: -33px;
    right: 2px;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 2px;
  }
}
