<div class="project-tree-animation-node" (click)="onNodeSelect()">
  <div class="node">
    <div class="title" (click)="$event.preventDefault();$event.stopPropagation()">
      <i class="sub {{ subProject ? 'icon-tree7' : 'icon-workpackage' }}"></i>&nbsp;
      <span>{{ (subProject ? subProject.title : workPackage.title) | translate:false | truncate:15 }}</span>&nbsp;
      <i (click)="editSubProject.emit(subProject.id)" *ngIf="subProject" class="add icon-pencil"></i>&nbsp;
      <i (click)="deleteSubProject.emit(subProject.id)" *ngIf="subProject" class="add icon-delete"></i>
    </div>
    <div class="description info">
      {{ (subProject ? subProject.description : workPackage.description) | translate:true }}
    </div>
    <ng-container *ngIf="subProject">
      <div class="total-tasks info">
        <div class="label">{{ 'TOTAL_EPISODES' | translate }}</div>
        <div class="value">{{ reportViewModel.workPackages | number }}</div>
      </div>
      <div class="total-tasks info">
        <div class="label">{{ 'TOTAL_DONE' | translate }}</div>
        <div class="value">{{ reportViewModel.doneWorkPackages | number }}</div>
      </div>
      <div class="total-tasks info">
        <div class="label">{{ 'TOTAL_PENDING' | translate }}</div>
        <div class="value">{{ (reportViewModel.workPackages - reportViewModel.doneWorkPackages) | number }}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="!subProject">
      <div class="total-tasks info">
        <div class="label">{{ 'TOTAL_PLANS' | translate }}</div>
        <div class="value">{{ reportViewModel.total | number }}</div>
      </div>
      <div class="total-tasks info">
        <div class="label">{{ 'TOTAL_DONE' | translate }}</div>
        <div class="value">{{ reportViewModel.done | number }}</div>
      </div>
      <div class="total-tasks info">
        <div class="label">{{ 'TOTAL_PENDING' | translate }}</div>
        <div class="value">{{ (reportViewModel.total - reportViewModel.done) | number }}</div>
      </div>
    </ng-container>

    <div class="time-spent info">
      <div class="label">{{ 'TIME_SPENT' | translate }}</div>
      <div class="value">{{ reportViewModel.timeSpent | msToDuration }}</div>
    </div>
    <div class="time-span info">
      <div class="label">{{ 'TIME_SPAN' | translate }}</div>
      <div class="value">
        <ng-container *ngIf="reportViewModel.from">{{ reportViewModel.from | culturedDate}}</ng-container>
        <ng-container *ngIf="reportViewModel.from && reportViewModel.to">&nbsp;-&nbsp;</ng-container>
        <ng-container *ngIf="reportViewModel.to">{{ reportViewModel.to | culturedDate}}</ng-container>
      </div>
    </div>
    <div class="members">
      <div class="member-container" *ngFor="let member of reportViewModel.members">
        <div class="member">
          <app-member-info
            small="true"
            *ngIf="!member.isGroup"
            [id]="member.recordId"
          ></app-member-info>
          <app-group-info
            small="true"
            *ngIf="member.isGroup"
            [id]="member.recordId"
          ></app-group-info>
        </div>
      </div>
    </div>
    <div *ngIf="subProject" class="progress">
      <mat-progress-bar [value]="reportViewModel.workPackageProgress"></mat-progress-bar>&nbsp;
      <span>{{ reportViewModel.workPackageProgress }}%</span>
    </div>
    <div *ngIf="!subProject" class="progress">
      <mat-progress-bar [value]="reportViewModel.progress"></mat-progress-bar>&nbsp;
      <span>{{ reportViewModel.progress }}%</span>
    </div>
  </div>
</div>
