<div class="modal-content create-modal">
  <div class="modal-alt-header">
    <div class="btn">
      <button (click)="onBack($event)">
        <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
        <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
      </button>
    </div>

    <div class="text">
      <h4 class="modal-title">
        <i class="icon-import"></i><br />
        {{ 'IMPORT' | translate: true }}&nbsp;...
      </h4>
    </div>
    <div class="btn">
      <button (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="!requireMapMembers">
    <div class="modal-body">

      <mat-progress-bar *ngIf="uploading"
                        color="primary"
                        mode="determinate"
                        [value]="uploadingProgress"></mat-progress-bar>

      <div class="import">
        <div class="trello item">
          <div class="logo">
            <img src="/assets/images/import/trello-logo-blue.svg" />
          </div>
          <div class="action">
            <input
              #trelloPicker
              (change)="importFromTrello($event.target)"
              accept=".json"
              hidden
              type="file"
            />
            <button
              (click)="trelloPicker.click();"
              [disabled]="actionWaiting"
              mat-button
            >
              <i class="icon-upload4"></i>&nbsp;
              {{ 'IMPORT_JSON_FILE' | translate }}
            </button>
          </div>
        </div>
        <hr />
        <div class="taskulu item">
          <div class="logo">
            <img src="/assets/images/import/taskulu-logo.png" />
          </div>
          <div class="action">
            <input
              #taskuluPicker
              (change)="importFromTaskulu($event.target)"
              accept=".zip"
              hidden
              type="file"
            />
            <button
              (click)="taskuluPicker.click()"
              [disabled]="actionWaiting"
              mat-button
            >
              <i class="icon-upload4"></i>&nbsp;
              {{ 'IMPORT_ZIP_FILE' | translate }}
            </button>
          </div>
        </div>
        <hr />
        <div class="monday item">
          <div class="logo">
            <img src="/assets/images/import/monday-logo.svg" />
          </div>
          <div class="action">
            <button
              (click)="importFromMonday()"
              [disabled]="true || actionWaiting"
              mat-button
            >
              <i class="icon-upload4"></i>&nbsp;
              {{ 'IMPORT_ZIP_FILE' | translate }}
            </button>
          </div>
        </div>
        <hr />
        <div class="taskworld item">
          <div class="logo">
            <img src="/assets/images/import/taskworld.svg" />
          </div>
          <div class="action">
            <button
              (click)="importFromTaskWorld()"
              [disabled]="true || actionWaiting"
              mat-button
            >
              <i class="icon-upload4"></i>&nbsp;
              {{ 'IMPORT_JSON_FILE' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="requireMapMembers">
    <div class="modal-body map-members">
      <h4>{{ 'MAP_MEMBERS_DESCRIPTION' | translate }}</h4>

      <app-form
        [standalone]="true"
        [elements]="mapForm"
        [actionWaiting]="actionWaiting"
      ></app-form>
    </div>
    <div class="modal-footer">
      <button [disabled]="uploading || actionWaiting"
        (click)="importTrelloMapped($event)"
        mat-flat-button
        [color]="'primary'"
      >
        <i *ngIf="actionWaiting || uploading" class="icon-spin icon-spinner2"></i>
        {{ 'IMPORT_DATA' | translate: true }}
      </button>
    </div>
  </ng-container>
</div>
