<div *ngIf="private" class="actions">
  <div class="action-container">
    <div class="action-bar">
      <div class="space">
        <button [matMenuTriggerFor]="menu" mat-stroked-button>
          +&nbsp;{{ 'ADD' | translate }}
        </button>
      </div>
      <div class="commands">
        <button (click)="actionCut()" *ngIf="atLeastOneSelected" mat-mini-fab>
          <span class="btn-inner">
            <i class="icon-delete"></i>
            <span class="sub-title">{{ 'DELETE' | translate }}</span>
          </span>
        </button>
        <button (click)="actionCut()" *ngIf="atLeastOneSelected" mat-mini-fab>
          <span class="btn-inner">
            <i class="icon-cut"></i>
            <span class="sub-title">{{ 'CUT' | translate }}</span>
          </span>
        </button>
        <button (click)="actionCopy()" *ngIf="atLeastOneSelected" mat-mini-fab>
          <span class="btn-inner">
            <i class="icon-copy3"></i>
            <span class="sub-title">{{ 'COPY' | translate }}</span>
          </span>
        </button>
        <button (click)="actionPaste()" *ngIf="inClipboard" mat-mini-fab>
          <span class="btn-inner">
            <i class="icon-paste"></i>
            <span class="sub-title">{{ 'PASTE' | translate }}</span>
          </span>
        </button>
        <button (click)="actionRename()" *ngIf="onlyOneSelected" mat-mini-fab>
          <span class="btn-inner">
            <i class="icon-pencil"></i>
            <span class="sub-title">{{ 'RENAME' | translate }}</span>
          </span>
        </button>
        <button
          (click)="actionDownload()"
          *ngIf="atLeastOneSelected"
          mat-mini-fab
        >
          <span class="btn-inner">
            <i class="icon-download4"></i>
            <span class="sub-title">{{ 'DOWNLOAD' | translate }}</span>
          </span>
        </button>
        <button
          (click)="actionOpen()"
          *ngIf="oneFileSelected && canOpen"
          mat-mini-fab
        >
          <span class="btn-inner">
            <i class="icon-eye2"></i>
            <span class="sub-title">{{ 'VIEW' | translate }}</span>
          </span>
        </button>
        <button
          (click)="actionOpenInNewTab()"
          *ngIf="oneFileSelected"
          mat-mini-fab
        >
          <span class="btn-inner">
            <i class="icon-new-window"></i>
            <span class="sub-title">{{ 'OPEN' | translate }}</span>
          </span>
        </button>
      </div>
      <div class="views">
        <i
          (click)="detail = false"
          [class.active]="!detail"
          class="icon-grid6"
        ></i
        >&nbsp;
        <i
          (click)="detail = true"
          [class.active]="detail"
          class="icon-list2"
        ></i>
      </div>
    </div>
  </div>
</div>

<div class="files-shared no-select">
  <input
    #filePicker
    (change)="onChange($event.target)"
    [accept]="allowedTypes"
    multiple
    hidden
    type="file"
  />
  <div class="sort-by">
    <i class="icon-arrow-down8"></i>&nbsp;
    <span class="label">{{ 'SORT_BY' | translate }}</span
    >&nbsp;
    <app-dropdown [disabled]="waiting" enum="SortType" [model]="sort"></app-dropdown>
  </div>
  <ul>
    <ng-container *ngFor="let p of parent.reverse();">
      <li (click)="goTo(p)">
        <span>{{p.name || '/'}}</span>
      </li>
    </ng-container>

  </ul>
  <app-waiting *ngIf="waiting"></app-waiting>
  <ng-container *ngIf="!waiting">
    <div class="wrapper">
      <app-file-folder-preview *ngIf="parent.length > 1" (dblclick)="goUp()" [up]="true"></app-file-folder-preview>
      <app-file-folder-preview
        (click)="handleClick($event, folder)"
        (dblclick)="enterFolder(folder)"
        *ngFor="let folder of data.folders"
        [(selected)]="folder.selected"
        [folder]="folder"
      ></app-file-folder-preview>
      <app-file-folder-preview
        (click)="selectFile($event, file)"
        *ngFor="let file of data.files"
        [(selected)]="file.selected"
        [file]="file"
      ></app-file-folder-preview>
    </div>
    <div *ngIf="!data.files.length && !data.folders.length" class="no-items-found">
      <h3>{{ 'NO_FILES_OR_FOLDERS' | translate }}</h3>
    </div>
  </ng-container>
</div>
<mat-menu #menu="matMenu">
  <button (click)="prepareNewFolder()" mat-menu-item>
    {{ 'NEW_FOLDER' | translate }}
  </button>
  <button (click)="prepareUpload()" mat-menu-item>
    {{ 'UPLOAD' | translate }}
  </button>
</mat-menu>
