<div *ngIf="private" class="actions">
  <button [matMenuTriggerFor]="menu" mat-stroked-button>+&nbsp;{{ 'ADD' | translate}}</button>
</div>

<div class="files-shared">
  <app-waiting *ngIf="waiting"></app-waiting>
  <ng-container *ngIf="!waiting">
    <app-file-folder-preview
      (click)="handleClick($event, folder)"
      (dblclick)="enterFolder(folder)"
      *ngFor="let folder of data.folders"
      [(selected)]="folder.selected"
      [folder]="folder"></app-file-folder-preview>
    <app-file-folder-preview
      (click)="selectFile($event, file)"
      *ngFor="let file of data.files"
      [(selected)]="file.selected"
      [file]="file"></app-file-folder-preview>
  </ng-container>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    {{ 'NEW_FOLDER' | translate }}
  </button>
  <button mat-menu-item>
    {{ 'UPLOAD' | translate }}
  </button>
</mat-menu>
