.account-profile-plan {
  .head {
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .box {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;

    .header {
      display: flex;
      color: #444444;
      align-items: baseline;
      .ico {
        display: flex;
        margin-inline-end: 10px;
        i {
          &.archive {
            font-size: 1.6rem;
            position: relative;
            top: 10px;
          }
        }
      }
      .title {
        display: flex;
        flex-grow: 1;
        font-weight: 400;
        font-size: 0.9rem;
        h4 {
        }
      }
      .action {
        display: flex;
        width: 200px;
        justify-content: flex-end;
        button {
        }
      }
    }

    .body {
      padding-top: 20px;

      mat-progress-bar {
        max-width: 700px;
        margin-bottom: 10px;
      }

      h5 {
        color: #999999;
        font-size: 0.8rem;

        &.warn {
          color: #bf2f27;
        }
      }
    }
  }
}
