<div class="human-resources">
  <h2>{{ 'HUMAN_RESOURCES' | translate }}</h2>
  <div class="box">
    <div class="title">
      <h3>{{ 'TIME_OFF' | translate }}</h3>
      &nbsp;
      <button mat-stroked-button>
        +&nbsp;
        {{ 'REQUEST_TIME_OFF' | translate }}
      </button>
    </div>
    <div class="content">
      <app-grid
        [columns]="['title', 'timeOffAt', 'requestedAt', 'status', 'action']"
        [rows]="[]"
      >
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>{{ 'TITLE' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- TimeOff at Column -->
        <ng-container matColumnDef="timeOffAt">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'TIME_OFF_AT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.beginAt | culturedDate }}&nbsp;-&nbsp;
            {{ element.endAt | culturedDate }}
          </td>
        </ng-container>

        <!-- Created at Column -->
        <ng-container matColumnDef="requestedAt">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'REQUESTED_AT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | culturedDate }}
          </td>
        </ng-container>

        <!-- Due at Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{ 'STATUS' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status | enum: 'RequestStatus' }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            &nbsp;
            <i class="icon-checkmark3"></i>&nbsp;
            <i class="icon-stop"></i>&nbsp;
            <i class="icon-delete"></i>
          </td>
        </ng-container>
      </app-grid>
    </div>
  </div>
<!--  <div class="box">-->
<!--    <div class="title">-->
<!--      <h3>{{ 'PAYMENTS' | translate }}</h3>-->
<!--    </div>-->
<!--    <div class="content">-->
<!--      <app-grid-->
<!--        [columns]="['title', 'amount', 'createdAt', 'paidAt', 'download']"-->
<!--        [rows]="[]"-->
<!--      >-->
<!--        &lt;!&ndash; Title Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="title">-->
<!--          <th mat-header-cell *matHeaderCellDef>{{ 'TITLE' | translate }}</th>-->
<!--          <td mat-cell *matCellDef="let element">{{ element.title }}</td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Amount Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="amount">-->
<!--          <th mat-header-cell *matHeaderCellDef>{{ 'AMOUNT' | translate }}</th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            {{ element.amount | number }}-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Created at Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="createdAt">-->
<!--          <th mat-header-cell *matHeaderCellDef>-->
<!--            {{ 'CREATED_AT' | translate }}-->
<!--          </th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            {{ element.createdAt | culturedDate }}-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Paid at Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="paidAt">-->
<!--          <th mat-header-cell *matHeaderCellDef>{{ 'PAID_AT' | translate }}</th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            {{ element.paidAt | culturedDate }}-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Download Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="download">-->
<!--          <th mat-header-cell *matHeaderCellDef>&nbsp;</th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            &nbsp;-->
<!--            <i class="icon-download4"></i>-->
<!--          </td>-->
<!--        </ng-container>-->
<!--      </app-grid>-->
<!--    </div>-->
<!--  </div>-->
  <div class="box">
    <div class="title">
      <h3>{{ 'SHIFTS' | translate }}</h3>
      &nbsp;
      <button mat-stroked-button>
        +&nbsp;
        {{ 'CREATE_SHIFT' | translate }}
      </button>
    </div>
    <div class="content">
      <app-grid
        [columns]="[
          'title',
          'shiftRange',
          'shiftType',
          'floatLimit',
          'workingHours',
          'restingHours'
        ]"
        [rows]="[]"
      >
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>{{ 'TITLE' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Shift range Column -->
        <ng-container matColumnDef="shiftRange">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'SHIFT_RANGE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            shiftRange
          </td>
        </ng-container>

        <!-- Shift type at Column -->
        <ng-container matColumnDef="shiftType">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'SHIFT_TYPE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.shiftType | enum: 'ShiftType' }}
          </td>
        </ng-container>

        <!-- Float limit at Column -->
        <ng-container matColumnDef="floatLimit">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'SHIFT_FLOAT_LIMIT' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.floatLimit | number }}
          </td>
        </ng-container>

        <!-- Working hours at Column -->
        <ng-container matColumnDef="workingHours">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'WORKING_HOURS' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.workingHours | number }}
          </td>
        </ng-container>

        <!-- Resting hours at Column -->
        <ng-container matColumnDef="restingHours">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'RESTING_HOURS' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.restingHours | number }}
          </td>
        </ng-container>

        <!-- Download Column -->
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            &nbsp;
            <i class="icon-download4"></i>
          </td>
        </ng-container>
      </app-grid>
    </div>
  </div>
</div>
