<div class='create-wizard-modal'>
  <ng-container *ngIf="mode === WizardMode.Choose">
    <div class="header">
      <div class="text">
        <h4 class="modal-title">{{ 'CREATE' | translate: true }}&nbsp;...</h4>
      </div>
      <div class="btn">
        <button class="close" (click)="onCancel($event)">
          <i class="icon-cross"></i>
        </button>
      </div>
    </div>
    <div class="choose">
      <mat-radio-group [(ngModel)]="continueAs" class="items">
        <mat-radio-button
          class="border"
          color="primary"
          [value]="WizardMode.SimpleProject"
        >
          <div class="title">
            <i class="icon-workpackage"></i>&nbsp;
            {{ 'SIMPLE_PROJECTS' | translate }}
          </div>
          <p class="description">
            {{ 'SIMPLE_PROJECTS_DESCRIPTION' | translate }}
          </p>
          <img src='/assets/images/project/simple-proj.svg' alt="" />
        </mat-radio-button>
        <mat-radio-button
          class="border"
          color="primary"
          [value]="WizardMode.ComplexProject"
        >
          <div class="title">
            <i class="icon-project"></i>&nbsp;
            {{ 'WBS_PROJECTS' | translate }}&nbsp;
            <i class="premium icon-trophy4"></i>
          </div>
          <p class="description">
            {{ 'WBS_PROJECTS_DESCRIPTION' | translate }}
          </p>
          <img src='/assets/images/project/structured-proj.svg' alt="" />
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="WizardMode.Group">
          <div class="title">
            <i class="icon-team"></i>&nbsp;
            {{ 'NEW_GROUP' | translate }}
          </div>
          <p class="description">{{ 'NEW_GROUP_DESCRIPTION' | translate }}</p>
        </mat-radio-button>
        <mat-radio-button color="primary" [value]="WizardMode.Import">
          <div class="title import">
            <i class="icon-import"></i>&nbsp;
            {{ 'IMPORT' | translate }}
          </div>
          <p class="description">{{ 'IMPORT_DESCRIPTION' | translate }}</p>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="footer">
      <button (click)="next($event)" mat-flat-button [color]="'primary'">
        {{ 'CONTINUE' | translate }}
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Import">
    <app-import-wizard
      (click)="$event.stopPropagation()"
      (exit)="onCancel()"
      (back)="mode = WizardMode.Choose"
    ></app-import-wizard>
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.Group">
    <!--    <app-group-wizard-->
    <!--      [parentId]="parentId"-->
    <!--      (click)="$event.stopPropagation()"-->
    <!--      (exit)="close()"-->
    <!--      (back)="mode = WizardMode.Choose"-->
    <!--    ></app-group-wizard>-->
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.SimpleProject">
    <!--    <app-project-wizard-->
    <!--      (click)="$event.stopPropagation()"-->
    <!--      (exit)="close()"-->
    <!--      (back)="mode = WizardMode.Choose"-->
    <!--      [complex]="false"-->
    <!--    ></app-project-wizard>-->
  </ng-container>
  <ng-container *ngIf="mode === WizardMode.ComplexProject">
    <!--    <app-project-wizard-->
    <!--      (click)="$event.stopPropagation()"-->
    <!--      (exit)="close()"-->
    <!--      (back)="mode = WizardMode.Choose"-->
    <!--      [complex]="true"-->
    <!--    ></app-project-wizard>-->
  </ng-container>
</div>
