.create-wizard-modal {
  width: 800px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .text {
      display: flex;
      flex-grow: 1;
    }
    .btn {
      button {
        background: transparent;
        outline: none;
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border: none;
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.choose {
  .items {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    flex-wrap: wrap;

    ::ng-deep mat-radio-button {
      display: flex;
      width: 50%;
      align-items: center;

      &.border {
        border-bottom: 2px solid #efefef;
        margin-bottom: 10px;
      }
    }

    ::ng-deep .mat-radio-label {
      white-space: pre-line;
      align-items: start;
    }

    ::ng-deep .title {
      display: flex;
      font-weight: 500;
      font-size: 1rem;
      align-items: center;

      i {
        &.premium {
          color: #cfaf4e;
          font-size: 1.3rem;
        }
      }

      &.import {
        align-items: end;
      }
    }
    ::ng-deep p.description {
      color: #808080;
      font-size: 0.8rem;
    }

    .icon-import {
      font-size: 35px;
    }
  }
}

@media (max-width: 500px) {
  .choose {
    .items {
      ::ng-deep mat-radio-button {
        width: 100%;

        &.border {
          border-bottom: none;
          margin-bottom: 0;
        }
      }
    }
  }
}
