<div class="auth-page">
  <div class="container-fluid background-column">
    <div class="row">
      <div class="col-md-4 col-sm-6 form-column">
        <div class="auth-form">
          <div class="logo"></div>

          <ng-container *ngIf="mode === ViewMode.Forgot">
            <h2 class="title">{{ 'FORGOT_PASSWORD' | translate }}</h2>
            <p class="more">
              {{ 'IF_YOU_REMEMBER_PASSWORD' | translate }},
              <a routerLink="/login">{{ 'LOGIN_HERE' | translate }}</a>
            </p>

            <app-form
              [elements]="form"
              [actionWaiting]="waiting"
              (action)="forgot()"
              [actionLabel]="'RECOVER'"
            ></app-form>
          </ng-container>

          <ng-container *ngIf="mode === ViewMode.Confirm">
            <h2 class="title">{{ 'PASSWORD_RECOVERY' | translate }}</h2>

            <ng-container *ngIf="isEmail">
              <img
                class="image"
                src='/src/assets/images/pages/auth/email-verification.svg'
                alt=""
              />
              <p class="more">
                {{
                  'RECOVERY_CHECK_EMAIL' | translate | stringFormat: username
                }}
              </p>
            </ng-container>

            <ng-container *ngIf="!isEmail">
              <img
                class="image"
                src='/src/assets/images/pages/auth/password-reset.svg'
                alt=""
              />
              <p class="more">
                {{
                  'CONFIRM_PHONE_DESCRIPTION'
                    | translate
                    | stringFormat: username
                }}
              </p>
            </ng-container>

            <app-form
              [elements]="resetForm"
              [actionWaiting]="waiting"
              (action)="reset()"
              [actionLabel]="'RESET_PASSWORD'"
            ></app-form>
          </ng-container>
        </div>
      </div>
      <div class="col-md-8 empty-column"></div>
    </div>
  </div>
</div>
