.phone-verification {
  display: flex;
  max-width: 200px;
  margin: 20px auto;
  justify-content: space-between;
  direction: ltr;

  input {
    width: 30px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
  }

  &.has-error {
    input {
      border-color: #ff3547;
    }
  }
}
