<div class="activities">
  <app-waiting *ngIf="waiting"></app-waiting>
  <ng-container *ngIf="!waiting">
    <div class="logs">
      <div *ngFor="let log of model" class="log">
        <div class="avatar">
          <app-member-info
            [id]="log.userId"
            [small]="true"
            [(model)]="log.member"
          ></app-member-info>
        </div>
        <div class="info">
          <div class="user">
            <span class="full-name">{{ log.member?.fullName }}</span>
            <span>{{ log.createdAt | culturedDate }}</span>
          </div>
          <div class="description">{{ getText(log) }}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
