<div class="work-package" appReloadOnParamsChanged>
  <div class="header">
    <div class="structure-container">
      <ng-container *ngIf="!project.complex">
        <div class="upgrade">
          <button mat-flat-button>
            <i class="icon-trophy4"></i>&nbsp;
            <span>{{ 'ADD_STRUCTURE' | translate }}</span>
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="project.complex"></ng-container>
      <div class="title">
        <i class="icon-workpackage"></i>&nbsp;
        <span>{{ workPackage.title }}</span
        >&nbsp;
        <!--        <i class="icon-star-empty"></i>-->
      </div>
    </div>
    <div class="sections-container">
      <ul>
        <li
          (click)="mode = ViewMode.Board"
          [class.selected]="mode === ViewMode.Board"
        >
          {{ 'BOARD' | translate }}
        </li>
        <li
          (click)="mode = ViewMode.List"
          [class.selected]="mode === ViewMode.List"
        >
          {{ 'LIST' | translate }}
        </li>
        <li
          (click)="mode = ViewMode.TimeSpan"
          [class.selected]="mode === ViewMode.TimeSpan"
        >
          {{ 'TIME_SPAN' | translate }}
        </li>
        <li
          (click)="mode = ViewMode.Calendar"
          [class.selected]="mode === ViewMode.Calendar"
        >
          {{ 'CALENDAR' | translate }}
        </li>
      </ul>
    </div>
    <div class="properties-container">
      <div class="progress-container">
        <div class="progress-wrapper">
          <round-progress
            [current]="50"
            [max]="100"
            [color]="'#50a9dd'"
            [background]="'#f2f2f2'"
            [stroke]="10"
            [semicircle]="false"
            [rounded]="true"
            [clockwise]="false"
            [responsive]="true"
            [duration]="400"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
          ></round-progress>
          <div class="percent">
            50%
          </div>
        </div>
      </div>
      <div class="objectives-container">
        <div class="info">
          <i class="icon-target"></i>&nbsp;
          <span class="label">{{ 'OBJECTIVES' | translate }}</span
          >&nbsp;
          <span class="badge">1</span>
        </div>
      </div>
      <div class="members-container">
        <app-member-info
          [model]="member"
          small="true"
          *ngFor="let member of project.members | slice: 0:5"
        ></app-member-info>
        &nbsp;
        <div *ngIf="project.members.length > 5" class="add more">
          <i class="icon-menu"></i>
        </div>
        &nbsp;
        <div class="add">
          <i class="icon-plus2"></i>
        </div>
      </div>
      <div class="filters-container">
        <i class="icon-filters"></i>&nbsp;
        <span>1</span>
      </div>
      <div class="settings-container">
        <i class="icon-cog2"></i>
      </div>
    </div>
  </div>
  <div class="inner-container">
    <ng-container *ngIf="mode === ViewMode.Board">
      <app-work-package-board></app-work-package-board>
    </ng-container>
    <ng-container *ngIf="mode === ViewMode.List">
      <app-work-package-list></app-work-package-list>
    </ng-container>
    <ng-container *ngIf="mode === ViewMode.TimeSpan">
      <app-work-package-time-span></app-work-package-time-span>
    </ng-container>
    <ng-container *ngIf="mode === ViewMode.Calendar">
      <app-work-package-calendar></app-work-package-calendar>
    </ng-container>
  </div>
</div>
<app-messenger-shortcut></app-messenger-shortcut>
