<div class="work-package" appReloadOnParamsChanged>
  <div class="header">
    <div class="structure-container">
      <ng-container *ngIf="!project.complex">
        <div class="upgrade">
          <button [disabled]="waiting || (permission !== AccessType.Admin && permission !== AccessType.Owner)"
                  mat-flat-button>
            <i class="icon-trophy4"></i>&nbsp;
            <span>{{ 'ADD_STRUCTURE' | translate }}</span>
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="project.complex"></ng-container>
      <div class="title">
        <i class="icon-workpackage"></i>&nbsp;
        <span>{{ workPackage.title }}</span>&nbsp;
        <!--        <i class="icon-star-empty"></i>-->
      </div>
    </div>
    <div class="sections-container">
      <ul *ngIf="!waiting">
        <li
          (click)="mode = ViewMode.Board"
          [class.selected]="mode === ViewMode.Board"
        >
          {{ 'BOARD' | translate }}
        </li>
        <li
          (click)="mode = ViewMode.List"
          [class.selected]="mode === ViewMode.List"
        >
          {{ 'LIST' | translate }}
        </li>
        <li
          (click)="mode = ViewMode.TimeSpan"
          [class.selected]="mode === ViewMode.TimeSpan"
        >
          {{ 'TIME_SPAN' | translate }}
        </li>
        <li
          (click)="mode = ViewMode.Calendar"
          [class.selected]="mode === ViewMode.Calendar"
        >
          {{ 'CALENDAR' | translate }}
        </li>
      </ul>
    </div>
    <div class="properties-container">
      <div class="progress-container">
        <div class="progress-wrapper">
          <round-progress
            [current]="workPackage.progress"
            [max]="100"
            [color]="'#50a9dd'"
            [background]="'#f2f2f2'"
            [stroke]="10"
            [semicircle]="false"
            [rounded]="true"
            [clockwise]="false"
            [responsive]="true"
            [duration]="400"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
          ></round-progress>
          <div class="percent">{{ workPackage.progress }}%</div>
        </div>
      </div>
      <div class="objectives-container">
        <div class="info"
             [popper]="popperObjectives"
             [popperDisabled]="waiting"
             [popperTrigger]="'click'"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="'bottom'">
          <i class="icon-target"></i>&nbsp;
          <span class="label">{{ 'OBJECTIVES' | translate }}</span>&nbsp;
          <span class="badge">{{ workPackage.objectives.length }}</span>
        </div>
      </div>
      <div class="members-container">
        <ng-container *ngFor="let member of workPackage.members | slice: 0:3">
          <app-member-info
            [popperDisabled]="waiting"
            [popper]="popperMemberInfo"
            [popperTrigger]="'click'"
            [popperHideOnClickOutside]="true"
            [popperHideOnScroll]="true"
            [popperPlacement]="'bottom'"
            (click)="showMemberInfo(member, popperMemberInfo)"

            *ngIf="!member.isGroup"
            [model]="findMember(member.recordId)"
            small="true"
          ></app-member-info>
          <app-group-info
            [popperDisabled]="waiting"
            [popper]="popperMemberInfo"
            [popperTrigger]="'click'"
            [popperHideOnClickOutside]="true"
            [popperHideOnScroll]="true"
            [popperPlacement]="'bottom'"
            (click)="showMemberInfo(member, popperMemberInfo)"

            *ngIf="member.isGroup"
            [id]="member.recordId"
            small="true"
          ></app-group-info>
        </ng-container>
        &nbsp;
        <div *ngIf="(workPackage.members.length > 3) || workPackage.pending.length"
             class="add more"
             [popperDisabled]="waiting"
             [popper]="popperAllMembers"
             [popperTrigger]="'click'"
             [popperHideOnClickOutside]="true"
             [popperHideOnScroll]="true"
             [popperPlacement]="'bottom'">
          <i class="icon-menu"></i>
        </div>
        &nbsp;
        <div (click)="prepareInvite()" class="add">
          <i class="icon-plus2"></i>
        </div>
      </div>
      <div class="filters-container"
           [popperDisabled]="waiting"
           [popper]="popperFilters"
           [popperTrigger]="'click'"
           [popperHideOnClickOutside]="true"
           [popperHideOnScroll]="true"
           [popperPlacement]="'bottom'">
        <i class="icon-filters"></i>&nbsp;
        <span>{{ (filters.mine ? 1 : 0) + (filters.archived ? 1 : 0) + (filters.active ? 1 : 0) }}</span>
      </div>
      <div *ngIf="(permission === AccessType.Admin || permission === AccessType.Owner)"
           (click)="settingMenuToggle()" class="settings-container">
        <i class="icon-cog2"></i>
      </div>
    </div>
  </div>
  <div class="inner-container" [class.toggleSetting]="toggleSetting">
    <div class="wrapper-container">
      <mat-progress-bar *ngIf="waiting" mode="indeterminate"></mat-progress-bar>
      <ng-container *ngIf="!waiting">
        <ng-container *ngIf="mode === ViewMode.Board">
          <app-work-package-board [permission]="permission" [model]="workPackage"></app-work-package-board>
        </ng-container>
        <ng-container *ngIf="mode === ViewMode.List">
          <app-work-package-list [permission]="permission" [model]="workPackage"></app-work-package-list>
        </ng-container>
        <ng-container *ngIf="mode === ViewMode.TimeSpan">
          <app-work-package-time-span [permission]="permission"
            [model]="workPackage"
          ></app-work-package-time-span>
        </ng-container>
        <ng-container *ngIf="mode === ViewMode.Calendar">
          <app-work-package-calendar [permission]="permission"
            [model]="workPackage"
          ></app-work-package-calendar>
        </ng-container>
      </ng-container>
    </div>
    <div *ngIf="toggleSetting" class="setting-container">
      <div class="setting-header">
        <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
        <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
        <span>{{ 'WORK_PACKAGE_SETTING' | translate}}</span>
        <i (click)="toggleSetting = !toggleSetting" class="icon-cross close"></i>
      </div>
      <div class="setting-content">
        <div class="box">
          <div class="title">{{ 'RECEIVE_NOTIFICATION' | translate}}</div>
          <div class="cnt">
            <mat-radio-group [(ngModel)]="receiveNotification">
              <mat-radio-button color="primary" [value]="1">{{ 'RECEIVE_ALL_NOTIFICATION' | translate}}</mat-radio-button>
              <mat-radio-button color="primary" [value]="2">{{ 'RECEIVE_MINE_NOTIFICATION' | translate}}</mat-radio-button>
              <mat-radio-button color="primary" [value]="3">{{ 'RECEIVE_NONE_NOTIFICATION' | translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="box">
          <div class="title">{{ 'APPEARANCE' | translate}}</div>
          <div class="cnt">
            <app-checkbox label="SHOW_LIST_TOTAL_CARDS"></app-checkbox>
            <br>
            <h6>{{ 'CHANGE_WORK_PACKAGE_COLOR' | translate}}</h6>
            <app-color-picker></app-color-picker>
          </div>
        </div>
        <div class="box">
          <div class="title">{{ 'TASKS_SETTING' | translate}}</div>
          <div class="cnt">
            <h6>{{ 'CHANGE_WORK_PACKAGE_FIELDS' | translate}}</h6>
            <h6>{{ 'CHANGE_WORK_PACKAGE_LABELS' | translate}}</h6>
            <h6>{{ 'SHOW_WORK_PACKAGE_ATTACHMENTS' | translate}}</h6>
          </div>
        </div>
        <div class="box">
          <div class="title">{{ 'CUSTOM_FIELDS' | translate}}</div>
          <div class="cnt">
            <div class="custom-box">
              <ng-container *ngIf="!workPackage.customFields.length">
                {{ 'CUSTOM_FIELDS_DETAIL' | translate}}
                <button mat-stroked-button>{{ 'ACTIVATE' | translate}}</button>
              </ng-container>
              <ng-container *ngIf="workPackage.customFields.length"></ng-container>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="title">{{ 'INTEGRATION' | translate}}</div>
          <div class="cnt">
            <h6>{{ 'GOOGLE_CALENDAR' | translate}}</h6>
            <h6>{{ 'GITLAB' | translate}}</h6>
          </div>
        </div>
        <hr>
        <div class="box">
          <div class="cnt">
            <button mat-flat-button color="accent">{{ 'LEAVE_WORK_PACKAGE' | translate}}</button>&nbsp;
            <button mat-flat-button color="warn">{{ 'ARCHIVE_WORK_PACKAGE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-messenger-shortcut></app-messenger-shortcut>
<popper-content #popperObjectives>
  <div class="objectives-popper">
    <div *ngIf="!workPackage.objectives.length">
      <h5>{{ 'NO_OBJECTIVES' | translate}}</h5>
    </div>
    <div (click)="addObjective()" *ngIf="permission !== AccessType.Visitor" class="add-objective">
      <i class="icon-plus2"></i>
      <span>{{ 'ADD_OBJECTIVES' | translate}}</span>
    </div>
    <br>
    <div *ngFor="let obj of workPackage.objectives" class="objective">
      <div class="ico">
        <i class="icon-target"></i>
      </div>
      <div class="info">
        <h3>{{obj.title}}</h3>
        <h4>{{obj.description}}</h4>
        <div class="rate"></div>
      </div>
      <div class="act">
        <i (click)="editObjective(obj)" class="icon-pencil"></i>
        <i (click)="removeObjective(obj)" class="icon-delete"></i>
      </div>
    </div>
  </div>
</popper-content>
<popper-content #popperFilters>
  <div class="filters-popper">
    <app-checkbox [(model)]="filters.mine" (modelChange)="fetch()" [label]="'FILTERS_TASKS_MINE'"></app-checkbox>
    <hr>
    <app-checkbox [(model)]="filters.active" (modelChange)="fetch()" [label]="'FILTERS_TASKS_ACTIVE'"></app-checkbox>
    <app-checkbox [(model)]="filters.archived" (modelChange)="fetch()" [label]="'FILTERS_TASKS_ARCHIVED'"></app-checkbox>
  </div>
</popper-content>
<popper-content #popperAllMembers>
  <div class="member-info-popper">
    <ng-container *ngFor="let member of workPackage.members; let lst = last">
      <div class="wrapper">
        <app-member-info
          *ngIf="!member.isGroup"
          [model]="findMember(member.recordId)"
        ></app-member-info>
        <app-group-info
          *ngIf="member.isGroup"
          [id]="member.recordId"
        ></app-group-info>
        <app-access-list *ngIf="member.access !== AccessType.Owner"
                         (accessChange)="changePermission(member, $event)"
                         [disabled]="member.waiting || (permission !== AccessType.Admin && permission !== AccessType.Owner)" [(access)]="member.access"></app-access-list>
      </div>
      <h4 *ngIf="member.access !== AccessType.Owner && (permission === AccessType.Admin || permission === AccessType.Owner)"
          (click)="removeAccess(member, permission)" class="danger">{{ 'REMOVE_ACCESS' | translate}}</h4>
      <hr *ngIf="!lst || workPackage.pending.length">
    </ng-container>
    <ng-container *ngFor="let member of workPackage.pending; let lst = last">
      <div class="wrapper">
        <app-member-info [email]="member.identifier"></app-member-info>
        <app-access-list *ngIf="member.access !== AccessType.Owner"
                         (accessChange)="changePendingPermission(member, $event)"
                         [disabled]="member.waiting || (permission !== AccessType.Admin && permission !== AccessType.Owner)" [(access)]="member.access"></app-access-list>
      </div>
      <h4 *ngIf="member.access !== AccessType.Owner && (permission === AccessType.Admin || permission === AccessType.Owner)"
          (click)="removePendingAccess(member, permission)" class="danger">{{ 'REMOVE_ACCESS' | translate}}</h4>
      <hr *ngIf="!lst">
    </ng-container>
  </div>
</popper-content>
<popper-content #popperMemberInfo>
  <div *ngIf="currentMember" class="member-info-popper">
    <div class="wrapper">
      <app-member-info
        *ngIf="!currentMember.isGroup"
        [model]="findMember(currentMember.recordId)"
      ></app-member-info>
      <app-group-info
        *ngIf="currentMember.isGroup"
        [id]="currentMember.recordId"
      ></app-group-info>
      <app-access-list *ngIf="currentMember.access !== AccessType.Owner"
                       (accessChange)="changePermission(currentMember, $event)"
                       [disabled]="currentMember.waiting || (permission !== AccessType.Admin && permission !== AccessType.Owner)" [(access)]="currentMember.access"></app-access-list>
    </div>
    <hr>
    <h3>{{ 'VIEW_ACTIVITY' | translate}}</h3>
    <h3 *ngIf="currentMember.access !== AccessType.Owner && (permission === AccessType.Admin || permission === AccessType.Owner)"
        (click)="removeAccess(currentMember, permission)" class="danger">{{ 'REMOVE_ACCESS' | translate}}</h3>
  </div>
</popper-content>
