.af-dropdown {
  cursor: pointer;
  .dropdown-toggle {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    width: 220px;
    max-width: 100%;
    outline: none !important;
    font-size: 0.8rem;

    .arrow {
      color: #808080;
      margin-top: 5px;
    }
    .prepend-icon {
      font-size: 1.5em;
      flex-shrink: 0;
    }
    .txt {
      flex-grow: 1;
      text-align: start;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .empty {
      background: none;
      border: none;
      box-shadow: none;
      outline: none;
      width: 30px;
      cursor: pointer;
    }
    &.dropdown-toggle::after {
      content: unset;
    }
  }

  .dropdown-toggle:focus {
    border: 1px solid #80bdff;
  }
}
