<ng-container *ngIf="noGroup !== true">
  <h4>{{ 'INVITE_GROUP_DESCRIPTION' | translate }}</h4>
  <mat-tab-group animationDuration="0ms">
    <mat-tab [label]="'INVITE_GROUP' | translate">
      <app-invite-group
        [exclude]="exclude"
        [groups]="groups"
        (groupsChange)="updateGroups($event)"
      ></app-invite-group>
    </mat-tab>
    <mat-tab [label]="'INVITE_INDIVIDUALS' | translate">
      <app-invite-member
        [exclude]="exclude"
        [members]="members"
        (membersChange)="updateMembers($event)"
      ></app-invite-member>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-container *ngIf="noGroup === true">
  <app-invite-member
    [exclude]="exclude"
    [members]="members"
    (membersChange)="updateMembers($event)"
  ></app-invite-member>
</ng-container>
