.group-detail {
  padding: 10px;
  width: 300px;
  height: 85vh;
  background: #fff;
  margin-top: 15vh;
  overflow-y: auto;
  margin-inline-start: calc(100vw - 300px);
  border-radius: 0 5px 0 0;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);

  .detail-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .avatar-container {
      min-width: 50px;
      height: 50px;
      background-color: #e6e6e6;
      border-radius: 50%;

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        i {
          font-size: 1.5rem;
        }
      }
    }
    .action-container {
      button {
        max-height: 35px;
      }
    }
  }

  h3 {
    color: #333333;
    font-size: 1.1rem;
  }
  h4 {
    color: #000000;
    font-size: 0.8rem;
  }

  .create-at {
    display: flex;
    margin-top: 20px;
    align-items: center;
    .label {
      color: #b4b4b4;
      font-size: 0.7rem;
    }
    .date {
      font-size: 0.8rem;
      padding: 5px 10px 2px;
      border: 1px solid #e6e6e6;
      color: #4d4d4d;
      border-radius: 5px;
    }
  }

  .info {
    .item {
      .label {
        color: #9f9f9f;
        font-size: 0.8rem;
      }
      .value {
        border: 1px solid #e6e6e6;
        color: #4d4d4d;
        min-height: 25px;
        border-radius: 3px;
        margin-bottom: 10px;
        font-size: 0.8rem;
        padding: 5px 10px 3px;

        &.address {
          min-height: 50px;
        }
      }
    }
  }

  ::ng-deep .form-element-item {
    > label {
      color: #9f9f9f;
      font-size: 0.8rem;
    }
  }

  ::ng-deep .af-textbox {
    input,
    textarea {
      border: 1px solid #e6e6e6 !important;
      color: #4d4d4d;
      resize: none;
      width: 100% !important;
      font-size: 0.7rem;
    }
  }
}
