<div class="work-package-calendar-view">
  <ng-container *ngIf="mode === ViewMode.Day">
    <div class="header">
      <app-duration-picker [model]="beginDate"
                           [endDate]="endDate"
                           [mode]="DurationMode.Day"
                           (modelChange)="onBeginChange($event)"
                           (endDateChange)="onEndChange($event)"></app-duration-picker>
      <div class="mode">
        <button [matMenuTriggerFor]="viewMode" mat-stroked-button>
          {{ 'DAY_VIEW' | translate }}
          <i class="icon-arrow-down2"></i>
        </button>
      </div>
    </div>
    <div *ngIf="days" class="content clipped">
      <div class="grid-container">
        <div class="grid">
          <div
            class="grid-col time-col grid-col--fixed-{{
              cultureService.rtl ? 'right' : 'left'
            }}"
          >
            <div class="grid-item grid-item--header"></div>
            <div *ngFor="let hour of hours" class="grid-item">
              {{ NumberHelpers.pad(hour, 2) }}:00
            </div>
          </div>

          <div class="grid-col x2">
            <div class="grid-item grid-item--header">
              {{ beginDate | culturedDate }}
            </div>
            <div *ngFor="let hour of hours" class="grid-item">
              <div class="tasks-container" *ngIf="days[0].events.length">
                <ng-container *ngFor="let task of days[0].events">
                  <div
                    *ngIf="task.dueAt.getHours() === hour"
                    class="task-container color-{{ task.state }}"
                    (click)="openTask($event, task)"
                  >
                    <div class="title">
                      <div class="time-line"></div>
                      {{ task.title | truncate: 50 }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === ViewMode.Week">
    <div class="header">
      <app-duration-picker [model]="beginDate"
                           [mode]="DurationMode.Week"
                           [endDate]="endDate"
                           (modelChange)="onBeginChange($event)"
                           (endDateChange)="onEndChange($event)"></app-duration-picker>
      <div class="mode">
        <button [matMenuTriggerFor]="viewMode" mat-stroked-button>
          {{ 'WEEK_VIEW' | translate }}
          <i class="icon-arrow-down2"></i>
        </button>
      </div>
    </div>
    <div *ngIf="days" class="content clipped">
      <div class="grid-container">
        <div class="grid">
          <div
            class="grid-col time-col grid-col--fixed-{{
              cultureService.rtl ? 'right' : 'left'
            }}"
          >
            <div class="grid-item grid-item--header"></div>
            <div *ngFor="let hour of hours" class="grid-item">
              {{ NumberHelpers.pad(hour, 2) }}:00
            </div>
          </div>
          <div *ngFor="let day of days" class="grid-col">
            <div class="grid-item grid-item--header">
              {{ day.date }}
            </div>
            <div *ngFor="let hour of hours" class="grid-item">
              <div class="tasks-container" *ngIf="day.events.length">
                <ng-container *ngFor="let task of day.events">
                  <div
                    *ngIf="task.dueAt.getHours() === hour"
                    class="task-container color-{{ task.state }}"
                    (click)="openTask($event, task)"
                  >
                    <div class="title">
                      <div class="time-line"></div>
                      {{ task.title | truncate: 50 }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === ViewMode.Month">
    <div class="header">
      <app-duration-picker [model]="beginDate"
                           [mode]="DurationMode.Month"
                           [endDate]="endDate"
                           (modelChange)="onBeginChange($event)"
                           (endDateChange)="onEndChange($event)"></app-duration-picker>
      <div class="mode">
        <button [matMenuTriggerFor]="viewMode" mat-stroked-button>
          {{ 'MONTH_VIEW' | translate }}
          <i class="icon-arrow-down2"></i>
        </button>
      </div>
    </div>
    <div *ngIf="calendarData" class="content clipped">
      <app-calendar-month
        [beginDate]="beginDate"
        [endDate]="endDate"
        [model]="calendarData"
      ></app-calendar-month>
    </div>
  </ng-container>

  <mat-menu #viewMode="matMenu">
    <button (click)="switchMode(ViewMode.Day)" mat-menu-item>
      {{ 'DAY_VIEW' | translate }}
    </button>
    <button (click)="switchMode(ViewMode.Week)" mat-menu-item>
      {{ 'WEEK_VIEW' | translate }}
    </button>
    <button (click)="switchMode(ViewMode.Month)" mat-menu-item>
      {{ 'MONTH_VIEW' | translate }}
    </button>
  </mat-menu>
</div>
