.work-package-calendar-view {
  //margin: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  //margin-bottom: 0;

  .header {
    display: flex;
    align-items: center;

    .filter {
      flex-grow: 1;
      display: flex;

      .date {
        font-weight: 500;
        min-width: 200px;

        i {
          margin-inline-start: 5px;
          font-size: 0.7rem;
        }
      }

      .btns {
        display: flex;

        button {
          background: #eeeeee;
          color: #666666;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-inline-end: 5px;
          border-radius: 20px;
          border-color: transparent;

          i {
            font-size: 0.7rem;
          }
        }
      }

      .today {
        button {
          cursor: pointer;
          background: none;
          border: none;
          text-decoration: underline;
          color: #4d4d4d;
          font-size: 0.8rem;
          margin-inline-start: 20px;
        }
      }
    }

    .mode {
      width: 100px;
      display: flex;
    }
  }

  .content {
    &.clipped {
      margin-top: 50px;
      max-height: calc(100vh - 283px);
      overflow: auto;
    }
  }

  .grid-container {
    display: grid; /* This is a (hacky) way to make the .grid element size to fit its content */
    overflow: auto;
    height: calc(100vh - 283px);
    max-width: 100%;
  }
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid-col {
    width: 200px;
    min-width: 200px;

    &.time-col {
      width: 50px;
      min-width: 50px;
    }
    &.x2 {
      width: 400px;
      min-width: 400px;
    }
  }
  .grid-item--header {
    height: 50px;
    min-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    background: white;
    top: 0;
  }
  .grid-col--fixed-left {
    position: sticky;
    left: 0;
    z-index: 9998;
    background: white;
  }
  .grid-col--fixed-right {
    position: sticky;
    right: 0;
    z-index: 9998;
    background: white;
  }
  .grid-item {
    height: 50px;
    border: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .time-col {
    .grid-item {
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
@media (max-width: 720px) {
  .content.clipped {
    max-height: calc(100vh - 320px) !important;
  }
}
