<div class="project-seasons">
  <div class="actions">
    <h3>{{ 'SEASONS' | translate }}</h3>
    <button mat-flat-button>{{ 'CREATE_SEASON' | translate}}</button>
  </div>

  <div class="inner">
    <div class="list">
      <div *ngFor="let season of model.seasons" class="item">
        <div class="ico">
          <i class="icon-flag7"></i>
        </div>
        <div class="info">
          <div class="title">{{ season.title }}</div>
          <div class="description">
            {{ season.description | truncate: 150 }}
          </div>
        </div>
      </div>
    </div>
    <div class="info-full">
      <div class="summary" *ngIf="!selected">
        <h2>{{ 'SEASON_USE_TITLE' | translate }}</h2>
        <h4>{{ 'SEASON_USE_DESCRIPTION' | translate }}</h4>
      </div>
    </div>
  </div>
</div>
