.project-seasons {
  .actions {
    display: flex;
    justify-content: space-between;
    h3 {
    }
    button {
    }
  }
  .inner {
    display: flex;
    .list {
      display: flex;
      padding: 10px;
      flex-direction: column;
      max-height: 500px;
      overflow-y: auto;
      min-width: 400px;

      .item {
        cursor: pointer;
        display: flex;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;

        &:hover {
          background: #fafafa;
        }

        .ico {
          display: flex;
          width: 30px;
          i {
            color: #666666;
          }
        }
        .info {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          padding-inline-start: 5px;
          .title {
            color: #4d4d4d;
            font-weight: 500;
            font-size: 0.9rem;
          }
          .description {
            color: #808080;
            font-size: 0.8rem;
            padding-top: 10px;
          }
          .work-package {
            color: #444444;
            font-size: 0.7rem;
            align-items: center;
            display: flex;
            i {
              font-size: 0.9rem;
            }
          }
        }

        .inner-actions {
          display: flex;
          width: 50px;
          justify-content: space-between;
          i {
            color: #666666;
          }
        }
      }
    }
    .info-full {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      min-height: 400px;

      .summary {
        padding: 10px 50px;
        border-inline-start: 2px dashed #ddd;
        margin-inline-start: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        text-align: justify;

        h2 {
          color: #4d4d4d;
        }
        h4 {
          color: #808080;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .project-seasons {
    .inner {
      .list {
        min-width: 600px;
      }
    }
  }
}
