<div
  class="work-package"
  [class.board-view]="mode === ViewMode.Board"
  [class.calendar-view]="mode === ViewMode.Calendar"
  [class.list-view]="mode === ViewMode.List"
  [class.time-view]="mode === ViewMode.TimeSpan"
  appReloadOnParamsChanged
>
  <app-waiting *ngIf="preWaiting"></app-waiting>
  <ng-container *ngIf="!preWaiting">
    <div class="header">
      <div class="structure-container">
        <ng-container *ngIf="!project.complex">
          <div class="upgrade">
            <button
              [disabled]="
                waiting ||
                (permission !== AccessType.Admin &&
                  permission !== AccessType.Owner)
              "
              (click)="prepareUpgrade()"
              mat-ripple
            >
              <i class="icon-trophy4"></i>&nbsp;
              <span>{{ 'ADD_STRUCTURE' | translate }}</span>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="project.complex">
          <div class="upgrade">
            <button [routerLink]="'/project/' + project.id" mat-flat-button>
              <i class="icon-project"></i>&nbsp;
              <span>{{ project.title }}</span>
            </button>
          </div>
        </ng-container>
        <div
          [popper]="popperStructure"
          [popperDisabled]="waiting || !project.complex"
          [popperTrigger]="'click'"
          [popperHideOnClickOutside]="true"
          [popperHideOnScroll]="true"
          [popperPlacement]="'bottom'"
          class="title"
        >
          <i class="icon-workpackage"></i>&nbsp;
          <span>{{ workPackage.title }}</span
          >&nbsp;&nbsp;
          <!--        <i class="icon-star-empty"></i>-->
          <i
            (click)="prepareRename($event)"
            *ngIf="
              permission === AccessType.Admin || permission === AccessType.Owner
            "
            class="icon-pencil rename"
          ></i>
        </div>
      </div>
      <div class="sections-container">
        <ul *ngIf="!waiting">
          <li
            (click)="switchMode(ViewMode.Board)"
            [class.selected]="mode === ViewMode.Board"
          >
            {{ 'BOARD' | translate }}
          </li>
          <li
            (click)="switchMode(ViewMode.List)"
            [class.selected]="mode === ViewMode.List"
          >
            {{ 'LIST' | translate }}
          </li>
          <li
            (click)="switchMode(ViewMode.TimeSpan)"
            [class.selected]="mode === ViewMode.TimeSpan"
          >
            {{ 'TIME_SPAN' | translate }}
          </li>
          <li
            (click)="switchMode(ViewMode.Calendar)"
            [class.selected]="mode === ViewMode.Calendar"
          >
            {{ 'CALENDAR' | translate }}
          </li>
        </ul>
        <div class="alt-mode">
          <button [matMenuTriggerFor]="displayMode">
            <i class="ikon-display"></i>
          </button>
          <mat-menu #displayMode="matMenu">
            <button
              (click)="switchMode(ViewMode.Board)"
              class="action-btn"
              mat-menu-item
            >
              <span class="cnt">
                <i class="ikon-trello"></i>
                <span>{{ 'BOARD' | translate }}</span>
              </span>
            </button>
            <button
              (click)="switchMode(ViewMode.List)"
              class="action-btn"
              mat-menu-item
            >
              <span class="cnt">
                <i class="icon-list2"></i>
                <span>{{ 'LIST' | translate }}</span>
              </span>
            </button>
            <button
              (click)="switchMode(ViewMode.TimeSpan)"
              class="action-btn"
              mat-menu-item
            >
              <span class="cnt">
                <i class="ikon-map2"></i>
                <span>{{ 'TIME_SPAN' | translate }}</span>
              </span>
            </button>
            <button
              (click)="switchMode(ViewMode.Calendar)"
              class="action-btn"
              mat-menu-item
            >
              <span class="cnt">
                <i class="ikon-calendar5"></i>
                <span>{{ 'CALENDAR' | translate }}</span>
              </span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="properties-container">
        <div class="progress-container">
          <div class="progress-wrapper">
            <round-progress
              [current]="workPackage.progress?.percent"
              [max]="100"
              [color]="identityService.profile.darkMode ? '#d08d00' : '#50a9dd'"
              [background]="
                identityService.profile.darkMode ? '#444243' : '#f2f2f2'
              "
              [stroke]="10"
              [semicircle]="false"
              [rounded]="true"
              [clockwise]="false"
              [responsive]="true"
              [duration]="400"
              [animation]="'easeInOutQuart'"
              [animationDelay]="0"
            ></round-progress>
            <div [matMenuTriggerFor]="progressMenu" class="percent">
              {{ workPackage.progress?.percent || 0 }}%
            </div>
            <mat-menu #progressMenu="matMenu">
              <div class="progress-report">
                <div class="item">
                  <div class="title">{{ 'CREATED_CARDS' | translate }}</div>
                  <div class="value">
                    {{ workPackage.progress?.total || 0 }}
                  </div>
                </div>
                <div class="item done">
                  <div class="title">{{ 'DONE_CARDS' | translate }}</div>
                  <div class="value">{{ workPackage.progress?.done || 0 }}</div>
                </div>
                <div class="item cancel">
                  <div class="title">
                    {{ 'CANCELED_OR_DUPLICATE_CARDS' | translate }}
                  </div>
                  <div class="value">
                    {{ workPackage.progress?.canceledOrDuplicate || 0 }}
                  </div>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>
        <div class="objectives-container">
          <button
            class="info"
            [disabled]="
              permission !== AccessType.Admin && permission !== AccessType.Owner
            "
            [popper]="popperObjectives"
            [popperDisabled]="waiting"
            [popperTrigger]="'click'"
            [popperHideOnClickOutside]="true"
            [popperHideOnScroll]="true"
            [popperPlacement]="'bottom'"
          >
            <i class="icon-target"></i>&nbsp;
            <span class="label">{{ 'OBJECTIVES' | translate }}</span
            >&nbsp;
            <span class="badge">{{ workPackage.objectives.length }}</span>
          </button>
        </div>
        <div class="members-container">

          <ng-container *ngFor="let member of workPackage.members | slice: 0:3">
            <app-member-info
              [matMenuTriggerFor]="currentMemberMenu"
              *ngIf="!member.isGroup"
              [id]="member.recordId"
              [small]="true"
            ></app-member-info>
            <app-group-info
              [matMenuTriggerFor]="currentMemberMenu"
              *ngIf="member.isGroup"
              [id]="member.recordId"
              [small]="true"
            ></app-group-info>
            <mat-menu #currentMemberMenu="matMenu">
              <div class="member-info-popper">
                <div class="wrapper">
                  <app-member-info
                    *ngIf="!member.isGroup"
                    [id]="member.recordId"
                  ></app-member-info>
                  <app-group-info
                    *ngIf="member.isGroup"
                    [id]="member.recordId"
                  ></app-group-info>
                  <div
                    (click)="$event.preventDefault(); $event.stopPropagation()"
                  >
                    <app-access-list
                      *ngIf="member.access !== AccessType.Owner"
                      (accessChange)="changePermission(member, $event)"
                      [disabled]="
                        member.waiting ||
                        (permission !== AccessType.Admin &&
                          permission !== AccessType.Owner)
                      "
                      [(access)]="member.access"
                    ></app-access-list>
                  </div>
                </div>
                <hr />
                <h3>{{ 'VIEW_ACTIVITY' | translate }}</h3>
                <h3
                  *ngIf="
                    member.access !== AccessType.Owner &&
                    (permission === AccessType.Admin ||
                      permission === AccessType.Owner)
                  "
                  (click)="removeAccess(member, permission)"
                  class="danger"
                >
                  {{ 'REMOVE_ACCESS' | translate }}
                </h3>
              </div>
            </mat-menu>
          </ng-container>
          &nbsp;
          <div
            *ngIf="workPackage.members.length > 3 || workPackage.pending.length"
            class="add more"
            [matMenuTriggerFor]="allMemberMenu"
          >
            <i class="icon-menu"></i>
          </div>
          &nbsp;
          <div
            *ngIf="
              permission === AccessType.Admin || permission === AccessType.Owner
            "
            (click)="prepareInvite()"
            class="add"
          >
            <i class="icon-plus2"></i>
          </div>
        </div>
        <div
          class="filters-container"
          [popperDisabled]="waiting"
          [popper]="popperFilters"
          [popperTrigger]="'click'"
          [popperHideOnClickOutside]="true"
          [popperHideOnScroll]="true"
          [popperPlacement]="'bottom'"
        >
          <i class="icon-filters"></i>&nbsp;
          <span>{{
            (filters.mine ? 1 : 0) +
              (filters.archived ? 1 : 0) +
              (filters.active ? 1 : 0)
          }}</span>
        </div>
        <div (click)="settingMenuToggle()" class="settings-container">
          <i class="icon-cog2"></i>
        </div>
      </div>
    </div>
    <div class="inner-container" [class.toggleSetting]="toggleSetting">
      <div class="wrapper-container">
        <mat-progress-bar
          *ngIf="waiting"
          mode="indeterminate"
        ></mat-progress-bar>
        <ng-container *ngIf="!waiting">
          <ng-container *ngIf="mode === ViewMode.Board">
            <app-work-package-board
              [project]="project"
              [permission]="permission"
              [model]="workPackage"
            ></app-work-package-board>
          </ng-container>
          <ng-container *ngIf="mode === ViewMode.List">
            <app-work-package-list
              [project]="project"
              [permission]="permission"
              [model]="workPackage"
            ></app-work-package-list>
          </ng-container>
          <ng-container *ngIf="mode === ViewMode.TimeSpan">
            <app-work-package-time-span
              [project]="project"
              [permission]="permission"
              [model]="workPackage"
            ></app-work-package-time-span>
          </ng-container>
          <ng-container *ngIf="mode === ViewMode.Calendar">
            <app-work-package-calendar
              [project]="project"
              [permission]="permission"
              [model]="workPackage"
            ></app-work-package-calendar>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="toggleSetting" class="setting-container">
        <div class="setting-header">
          <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
          <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
          <span>{{ 'WORK_PACKAGE_SETTING' | translate }}</span>
          <i
            (click)="toggleSetting = !toggleSetting"
            class="icon-cross close"
          ></i>
        </div>
        <div class="setting-content">
          <div class="box">
            <div class="title">{{ 'RECEIVE_NOTIFICATION' | translate }}</div>
            <div class="cnt">
              <mat-radio-group
                [disabled]="settingNotificationWaiting"
                (change)="updateSettingNotification()"
                [(ngModel)]="workPackage.userSetting.receiveNotification"
              >
                <mat-radio-button
                  color="primary"
                  [value]="ReceiveNotificationType.ReceiveAll"
                  >{{
                    'RECEIVE_ALL_NOTIFICATION' | translate
                  }}</mat-radio-button
                >
                <mat-radio-button
                  color="primary"
                  [value]="ReceiveNotificationType.ReceiveMine"
                  >{{
                    'RECEIVE_MINE_NOTIFICATION' | translate
                  }}</mat-radio-button
                >
                <mat-radio-button
                  color="primary"
                  [value]="ReceiveNotificationType.ReceiveNone"
                  >{{
                    'RECEIVE_NONE_NOTIFICATION' | translate
                  }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </div>
          <div class="box">
            <div class="title">{{ 'APPEARANCE' | translate }}</div>
            <div class="cnt">
              <app-checkbox
                [model]="workPackage.userSetting.showTotalCards"
                [disabled]="settingShowTotalWaiting"
                (modelChange)="updateSettingShowTotal($event)"
                label="SHOW_LIST_TOTAL_CARDS"
              ></app-checkbox>
              <!--            <br />-->
              <!--            <h6>{{ 'CHANGE_WORK_PACKAGE_COLOR' | translate }}</h6>-->
              <!--            <app-color-picker></app-color-picker>-->
            </div>
          </div>
          <ng-container
            *ngIf="
              permission === AccessType.Admin || permission === AccessType.Owner
            "
          >
            <div class="box">
              <div class="title">{{ 'TASK_VISIBILITY' | translate }}</div>
              <div class="cnt">
                <mat-radio-group
                  [disabled]="settingVisibilityWaiting"
                  (ngModelChange)="updateSettingVisibility($event)"
                  [ngModel]="workPackage.taskVisibility"
                >
                  <mat-radio-button
                    color="primary"
                    [value]="WorkPackageTaskVisibility.Normal"
                    >{{
                      'ENUMS_TASK_VISIBILITY_NORMAL' | translate
                    }}</mat-radio-button
                  >
                  <mat-radio-button
                    color="primary"
                    [value]="WorkPackageTaskVisibility.MembersOnly"
                    >{{
                      'ENUMS_TASK_VISIBILITY_MEMBERS_ONLY' | translate
                    }}</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
            <div class="box">
              <div class="title"></div>
              <div class="cnt">
                <h6 (click)="openPermissions()">
                  <i class="ikon-lock5"></i>
                  {{ 'MEMBERS_PERMISSIONS' | translate }}
                </h6>
              </div>
            </div>
            <div class="box">
              <div class="title"></div>
              <div class="cnt">
                <h6 (click)="openSortOrder()">
                  <i class="ikon-sort-alpha-asc"></i>
                  {{ 'SORT_ORDERS' | translate }}
                </h6>
              </div>
            </div>
            <div class="box">
              <div class="title">{{ 'TASKS_SETTING' | translate }}</div>
              <div class="cnt">
                <h6 (click)="openLabels()">
                  {{ 'CHANGE_WORK_PACKAGE_LABELS' | translate }}
                </h6>
                <!--              <h6>{{ 'CHANGE_WORK_PACKAGE_FIELDS' | translate }}</h6>-->
                <!--              <h6>{{ 'SHOW_WORK_PACKAGE_ATTACHMENTS' | translate }}</h6>-->
              </div>
            </div>
            <div class="box">
              <div class="title">{{ 'CUSTOM_FIELDS' | translate }}</div>
              <div class="cnt">
                <div class="custom-box">
                  <ng-container *ngIf="!workPackage.customFields.length">
                    {{ 'CUSTOM_FIELDS_DETAIL' | translate }}
                    <button (click)="openCustomFields()" mat-stroked-button>
                      {{ 'ACTIVATE' | translate }}
                    </button>
                  </ng-container>
                  <ng-container *ngIf="workPackage.customFields.length">
                    <button (click)="openCustomFields()" mat-stroked-button>
                      {{ 'MANAGE' | translate }}
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="title">{{ 'INTEGRATION' | translate }}</div>
              <div class="cnt">
                <h6>{{ 'GOOGLE_CALENDAR' | translate }}</h6>
                <h6>{{ 'GITLAB' | translate }}</h6>
              </div>
            </div>
          </ng-container>
          <hr />
          <div class="box">
            <div class="cnt">
              <button
                [disabled]="leaving || deleting || archiving || waiting"
                (click)="leave()"
                mat-flat-button
                color="accent"
              >
                <i *ngIf="leaving" class="icon-spin icon-spinner2"></i>
                {{ 'LEAVE_WORK_PACKAGE' | translate }}</button
              >&nbsp;
              <button
                [disabled]="leaving || deleting || archiving || waiting"
                (click)="archive()"
                *ngIf="
                  (permission === AccessType.Admin ||
                    permission === AccessType.Owner) &&
                  !workPackage.archivedAt
                "
                mat-flat-button
                color="warn"
              >
                <i *ngIf="archiving" class="icon-spin icon-spinner2"></i>
                {{ 'ARCHIVE_WORK_PACKAGE' | translate }}</button
              >&nbsp;
              <button
                [disabled]="leaving || deleting || archiving || waiting"
                (click)="remove()"
                *ngIf="permission === AccessType.Owner"
                mat-flat-button
                color="warn"
              >
                <i *ngIf="archiving" class="icon-spin icon-spinner2"></i>
                {{ 'REMOVE_WORK_PACKAGE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!--<app-messenger-shortcut-->
<!--  *ngIf="workPackage && project"-->
<!--  [workPackage]="workPackage"-->
<!--  [project]="project"-->
<!--&gt;</app-messenger-shortcut>-->
<popper-content #popperObjectives>
  <div *ngIf="workPackage" class="objectives-popper">
    <div *ngIf="!workPackage.objectives.length">
      <h5>{{ 'NO_OBJECTIVES' | translate }}</h5>
    </div>
    <div
      (click)="addObjective()"
      *ngIf="permission !== AccessType.Visitor"
      class="add-objective"
    >
      <i class="icon-plus2"></i>
      <span>{{ 'ADD_OBJECTIVES' | translate }}</span>
    </div>
    <br />
    <div *ngFor="let obj of workPackage.objectives" class="objective">
      <div class="ico">
        <i class="icon-target"></i>
      </div>
      <div class="info">
        <h3>{{ obj.title }}</h3>
        <h4>{{ obj.description }}</h4>
        <div class="rate"></div>
      </div>
      <div class="act">
        <i (click)="editObjective(obj)" class="icon-pencil"></i>
        <i (click)="removeObjective(obj)" class="icon-delete"></i>
      </div>
    </div>
  </div>
</popper-content>
<popper-content #popperFilters>
  <div *ngIf="workPackage" class="filters-popper">
    <app-checkbox
      [(model)]="filters.mine"
      (modelChange)="fetch()"
      [label]="'FILTERS_TASKS_MINE'"
    ></app-checkbox>
    <hr />
    <div class="labels">
      <div
        class="label"
        *ngFor="let lbl of workPackage.labels"
        [ngStyle]="{ background: lbl.color }"
      >
        <app-checkbox
          [(model)]="filters.labels[lbl.id]"
          (modelChange)="fetch()"
          [label]="lbl.title || ' '"
        ></app-checkbox>
      </div>
    </div>
    <hr />
    <app-checkbox
      [(model)]="filters.active"
      (modelChange)="fetch()"
      [label]="'FILTERS_TASKS_ACTIVE'"
    ></app-checkbox>
    <app-checkbox
      [(model)]="filters.archived"
      (modelChange)="fetch()"
      [label]="'FILTERS_TASKS_ARCHIVED'"
    ></app-checkbox>
  </div>
</popper-content>
<popper-content #popperStructure>
  <div *ngIf="workPackage" class="structure-popper">
    <ng-container
      [ngTemplateOutlet]="structureTemplate"
      [ngTemplateOutletContext]="{ parent: null }"
    ></ng-container>
  </div>
</popper-content>
<mat-menu #allMemberMenu="matMenu" class="popper-all-users">
  <div *ngIf="workPackage" class="member-info-popper">
    <ng-container *ngFor="let member of workPackage.members; let lst = last">
      <div class="wrapper">
        <app-member-info
          *ngIf="!member.isGroup"
          [id]="member.recordId"
        ></app-member-info>
        <app-group-info
          *ngIf="member.isGroup"
          [id]="member.recordId"
        ></app-group-info>
        <div (click)="$event.preventDefault(); $event.stopPropagation()">
          <app-access-list
            *ngIf="member.access !== AccessType.Owner"
            (accessChange)="changePermission(member, $event)"
            [disabled]="
              member.waiting ||
              (permission !== AccessType.Admin &&
                permission !== AccessType.Owner)
            "
            [access]="member.access"
          ></app-access-list>
        </div>
      </div>
      <h4
        *ngIf="
          member.access !== AccessType.Owner &&
          (permission === AccessType.Admin || permission === AccessType.Owner)
        "
        (click)="removeAccess(member, permission)"
        class="danger"
      >
        {{ 'REMOVE_ACCESS' | translate }}
      </h4>
      <hr *ngIf="!lst || workPackage.pending.length" />
    </ng-container>
    <ng-container *ngFor="let member of workPackage.pending; let lst = last">
      <div class="wrapper">
        <app-member-info [email]="member.identifier"></app-member-info>
        <app-access-list
          (click)="$event.preventDefault(); $event.stopPropagation()"
          *ngIf="member.access !== AccessType.Owner"
          (accessChange)="changePendingPermission(member, $event)"
          [disabled]="
            member.waiting ||
            (permission !== AccessType.Admin && permission !== AccessType.Owner)
          "
          [access]="member.access"
        ></app-access-list>
      </div>
      <h4
        *ngIf="
          member.access !== AccessType.Owner &&
          (permission === AccessType.Admin || permission === AccessType.Owner)
        "
        (click)="removePendingAccess(member, permission)"
        class="danger"
      >
        {{ 'REMOVE_ACCESS' | translate }}
      </h4>
      <hr *ngIf="!lst" />
    </ng-container>
  </div>
</mat-menu>
<ng-template #structureTemplate let-parent="parent">
  <ul class="structure-holder no-select">
    <li class="sub" *ngFor="let sub of findSubs(parent)">
      <span> <i class="icon-tree7"></i>&nbsp;{{ sub.title }} </span>
      <ng-container
        [ngTemplateOutlet]="structureTemplate"
        [ngTemplateOutletContext]="{ parent: sub.id }"
      ></ng-container>
    </li>
    <li
      (click)="openWorkPackage(wp)"
      class="wp"
      [class.selected]="wp.id === workPackage.id"
      *ngFor="let wp of project.workPackages | search: ['subProjectId']:parent"
    >
      <span> <i class="icon-workpackage"></i>&nbsp;{{ wp.title }} </span>
    </li>
  </ul>
</ng-template>
