.image {
  width: 150px;
  margin: 20px auto;
}
.count-down {
  text-align: center;
  font-weight: 800;
  font-size: 1.2rem;
  color: #ee6285;
  margin-bottom: 20px;
  margin-top: 20px;
}
.more {
  width: 80%;
  margin: 0 auto;
}
.back-to-login {
  margin: 20px 0;
}
.error-container {
  margin-bottom: 20px;
  color: #ff3547;
  font-size: 0.8rem;
  font-weight: 300;
}
