<div class="confirm-account">
  <ng-container *ngIf="isEmail">
    <h2 class="title">{{ 'CONFIRM_EMAIL_TITLE' | translate }}</h2>

    <img
      class="image"
      src="/assets/images/pages/auth/email-verification.svg"
      alt=""
    />

    <div class="more">
      {{ 'CONFIRM_EMAIL_DESCRIPTION' | translate | stringFormat: username }}
    </div>
  </ng-container>

  <ng-container *ngIf="!isEmail">
    <h2 class="title">{{ 'CONFIRM_PHONE_TITLE' | translate }}</h2>

    <img class="image" src="/assets/images/pages/auth/mobile-send.svg" alt="" />

    <div class="more">
      {{ 'CONFIRM_PHONE_DESCRIPTION' | translate | stringFormat: username }}
    </div>
  </ng-container>

  <div class="count-down">
    {{ remaining * 1000 | date: 'mm:ss':'UTC' }}
  </div>

  <div class="send-again">
    <button (click)="sendAgain()" [disabled]="remaining > 0" mat-button>
      {{ 'SEND_AGAIN' | translate }}
    </button>
  </div>

  <app-phone-verification
    [disabled]="disabled"
    [hasError]="hasError"
    [(model)]="verificationCode"
  ></app-phone-verification>

  <div *ngIf="errorMessage" class="error-container">
    {{ errorMessage | translate }}
  </div>

  <button [disabled]="disabled" (click)="verify()" mat-flat-button color="primary">
    <i *ngIf="disabled" class="icon-spin icon-spinner2"></i>
    {{ 'VERIFY' | translate }}
  </button>
</div>
