.time-spent-container {
  .no-item {
    padding: 20px;
    background: #efefef;
    border-radius: 10px;

    h3 {
      font-weight: 500;
      font-size: 0.9rem;
    }
    h4 {
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
  .grid-container {
    display: grid; /* This is a (hacky) way to make the .grid element size to fit its content */
    overflow: auto;
    height: calc(100vh - 283px);
    max-width: 100%;
  }
  .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .grid-col {
    width: 200px;
    min-width: 200px;

    &.time-col {
      width: 60px;
      min-width: 60px;
    }
    &.date-col {
      width: 70px;
      min-width: 70px;

      .wrapper {
        color: #666666;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px 0;
        .num {
          font-weight: 500;
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
        .month {
          font-size: 0.8rem;
          margin-bottom: 5px;
        }
        .ico {
          padding: 10px 0 5px;
          i {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
  .grid-item--header {
    height: 50px;
    min-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    background: white;
    top: 0;

    .hour {
      color: #666666;
      font-weight: 500;
      font-size: 0.9rem;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .grid-col--fixed-left {
    position: sticky;
    left: 0;
    z-index: 998;
    background: white;
  }
  .grid-col--fixed-right {
    position: sticky;
    right: 0;
    z-index: 998;
    background: white;
  }
  .grid-item {
    min-height: 70px;
    border: 1px dashed #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .members-records {
      .member-record {
        cursor: pointer;
        height: 5px;
        min-width: 5px;
        margin-bottom: 10px;

        .member-time {
          right: 100px;
          width: 150px;
          position: absolute;
          z-index: 2;
          height: 5px;
          .time-line {
            width: 7px;
            height: 7px;
            position: relative;
            top: -1px;
          }

          &.color-1 {
            background: #cccccc;
            .time-line {
              background: darken(#cccccc, 20%);
            }
          }
          &.color-2 {
            background: #59a8ef;
            .time-line {
              background: darken(#59a8ef, 20%);
            }
          }
          &.color-3 {
            background: #5eb258;
            .time-line {
              background: darken(#5eb258, 20%);
            }
          }
          &.color-4 {
            background: #666666;
            .time-line {
              background: darken(#666666, 20%);
            }
          }
          &.color-5 {
            background: #b33634;
            .time-line {
              background: darken(#b33634, 20%);
            }
          }
          &.color-6 {
            background: #666666;
            .time-line {
              background: darken(#666666, 20%);
            }
          }
          &.color-7 {
            background: #808080;
            .time-line {
              background: darken(#808080, 20%);
            }
          }
          &.color-8 {
            background: #b3b3b3;
            .time-line {
              background: darken(#b3b3b3, 20%);
            }
          }
          &.color-9 {
            background: #eb973e;
            .time-line {
              background: darken(#eb973e, 20%);
            }
          }
        }
      }
    }
  }
}
