.group-projects {
  h2 {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .no-item {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 0.9rem;
  }
}
