<div class="quick-access-container">
  <div class="projects-container">
    <h3>
      {{ 'PROJECTS' | translate }}&nbsp;
      <span class="ltr">({{ projectService.projects.length }})</span>
    </h3>
    <div *ngIf="!projectService.projects.length" class="no-item">
      {{ 'NO_PROJECTS' | translate }}
    </div>
    <div
      (click)="openProject(proj)"
      class="project-item"
      *ngFor="
        let proj of projectService.projects
          | slice: 0:(showMoreProjects ? projectService.projects.length : 5)
      "
    >
      <div class="avatar-container">
        <i
          [class.icon-workpackage]="!proj.complex"
          [class.icon-project]="proj.complex"
        ></i>
      </div>
      <div class="text-container">
        <div class="title">{{ proj.title }}</div>
        <div class="description">{{ proj.description | truncate: 100 }}</div>
      </div>
    </div>
    <div
      (click)="moreProjects()"
      class="more"
      *ngIf="projectService.projects.length > 5 && !showMoreProjects"
    >
      <i class="icon-cc"></i>
      {{ 'SHOW_MORE' | translate }}
    </div>
  </div>
  <div class="groups-container">
    <h3>
      {{ 'GROUPS' | translate }}&nbsp;
      <span class="ltr">({{ groupService.groups.length }})</span>
    </h3>
    <div *ngIf="!groupService.groups.length" class="no-item">
      {{ 'NO_GROUPS' | translate }}
    </div>
    <div
      (click)="openGroup(group)"
      class="group-item"
      *ngFor="
        let group of groupService.groups
          | slice: 0:(showMoreGroups ? groupService.groups.length : 5)
      "
    >
      <div class="avatar-container">
        <img *ngIf="group.avatarId" [src]="group.avatarId" alt="avatar" />
        <i *ngIf="!group.avatarId" class="icon-team"></i>
      </div>
      <div class="text-container">
        <div class="title">{{ group.title }}</div>
        <div class="description">{{ group.description | truncate: 100 }}</div>
      </div>
    </div>
    <div
      (click)="moreGroups()"
      class="more"
      *ngIf="groupService.groups.length > 5 && !showMoreGroups"
    >
      <i class="icon-cc"></i>
      {{ 'SHOW_MORE' | translate }}
    </div>
  </div>
</div>
