<div class="quick-access-container">
  <div class="projects-container">
    <h3>
      {{ 'PROJECTS' | translate }}&nbsp;
      <span class="ltr">({{ mockService.projects.length }})</span>
    </h3>
    <div *ngIf="!mockService.projects.length" class="no-item">
      {{ 'NO_PROJECTS' | translate }}
    </div>
    <div
      (click)="openProject(project)"
      class="project-item"
      *ngFor="let project of mockService.projects | slice: 0:10"
    >
      <div class="color"></div>
      <div class="title">{{ project.title }}</div>
      <div class="description">{{ project.description | truncate:100 }}</div>
    </div>
    <div class="more" *ngIf="mockService.projects.length > 5">
      <i class="icon-cc"></i>
      {{ 'SHOW_MORE' | translate }}
    </div>
  </div>
  <div class="groups-container">
    <h3>
      {{ 'GROUPS' | translate }}&nbsp;
      <span class="ltr">({{ mockService.groups.length }})</span>
    </h3>
    <div *ngIf="!mockService.groups.length" class="no-item">
      {{ 'NO_GROUPS' | translate }}
    </div>
    <div
      (click)="openGroup(group)"
      class="group-item"
      *ngFor="let group of mockService.groups | slice: 0:10"
    >
      <div class="avatar-container">
        <img *ngIf="group.avatarId" [src]="group.avatarId" alt="avatar" />
        <i *ngIf="!group.avatarId" class="icon-team"></i>
      </div>
      <div class="text-container">
        <div class="title">{{ group.title }}</div>
        <div class="description">{{ group.description | truncate:100 }}</div>
      </div>
    </div>
    <div class="more" *ngIf="mockService.groups.length > 5">
      <i class="icon-cc"></i>
      {{ 'SHOW_MORE' | translate }}
    </div>
  </div>
</div>
