<div class="quick-access-container">
  <div class="projects-container">
    <h3>
      {{'PROJECTS' | translate}}&nbsp;
      <span class="ltr">({{projectService.projects.length}})</span>
    </h3>
    <div class="project-item" *ngFor="let project of projectService.projects | slice:0:10">
      <div class="color"></div>
      <div class="title">{{ project.title }}</div>
      <div class="description">{{ project.description }}</div>
    </div>
    <div class="more" *ngIf="projectService.projects.length > 5">
      <i class="icon-cc"></i>
      {{ 'SHOW_MORE' | translate}}
    </div>
  </div>
  <div class="groups-container">
    <h3>
      {{'GROUPS' | translate}}&nbsp;
      <span class="ltr">({{groupService.groups.length}})</span>
    </h3>
    <div class="group-item" *ngFor="let group of groupService.groups | slice:0:10">
      <img *ngIf="group.avatarId" [src]="group.avatarId" alt="avatar">
      <i *ngIf="!group.avatarId" class="icon-users2"></i>
      <div class="title">{{ group.title }}</div>
      <div class="description">{{ group.description }}</div>
    </div>
    <div class="more" *ngIf="groupService.groups.length > 5">
      <i class="icon-cc"></i>
      {{ 'SHOW_MORE' | translate}}
    </div>
  </div>
</div>
