.quick-access-container {
  cursor: pointer;
}
h3 {
  font-weight: 400;
  color: #4d4d4d;

  span {
    font-size: 0.8rem;
  }

  cursor: pointer;
}
.no-item {
  background-color: #e6e6e6;
  color: #808080;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.project-item {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;

  .color {
    border-radius: 0 5px 5px 0;
    display: flex;
    width: 5px;
    position: absolute;
    height: 100%;
    background-color: #007bff;
  }

  .title {
    text-indent: 10px;
    padding: 10px 5px;
    display: flex;
    min-width: 80px;
    font-weight: 400;
    font-size: 0.9rem;
  }

  .description {
    padding: 10px 5px;
    flex-grow: 1;
    color: #b3b3b3;
    font-size: 0.7rem;
    text-align: justify;
  }
}

.more {
  font-size: 0.8rem;
  font-weight: 500;
  color: #666;
  margin-top: 10px;
  display: block;
}
.groups-container {
  margin-top: 30px;

  .group-item {
    display: flex;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    .avatar-container {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #f2f2f2;
      align-items: center;

      img {
      }
      i {
        margin: 0 auto;
      }
    }
    .text-container {
      padding: 0 5px;
    }
    .title {
      font-weight: 400;
      font-size: 0.9rem;
    }
    .description {
      color: #b3b3b3;
      font-size: 0.7rem;
    }
  }
}
