<div class="group-chart">
  <div class="title">
    <h2>{{ 'ORGANIZATION_CHART' | translate }}</h2>
  </div>
  <div class="box">
    <div *ngIf="!group.premium" class="free">
      <app-org-chart-node [canAdd]="true" [group]="group"></app-org-chart-node>
      <div class="go-premium">
        <i class="icon-trophy4"></i>
        <h3>{{ 'GO_PREMIUM_DESCRIPTION' | translate}}</h3>
        <button mat-stroked-button>
          {{ 'GO_PREMIUM' | translate}}
        </button>
      </div>
    </div>
    <div *ngIf="group.premium" class="premium">
      <app-org-chart></app-org-chart>
    </div>
  </div>
</div>
