<div class="modal-content history-modal">
  <div class="modal-header">
    <h4>{{ 'TIME_OFF_HISTORY' | translate }}</h4>
    <button (click)="close()" class="close">
      <i class="icon-cross"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-grid
      [backendParams]="{id: timeOff.userId}"
      [pageSize]="5"
      [backend]="'/groups/time-offs/' + timeOff.groupId + '/history'"
      [columns]="['fullName', 'timeOffAt', 'requestedAt', 'status']"
      [rows]="[]"
    >
      <!-- FullName Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>{{ 'NAME' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.userId | fullName | async }}</td>
      </ng-container>

      <!-- TimeOff at Column -->
      <ng-container matColumnDef="timeOffAt">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'TIME_OFF_AT' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.isHourly">
            {{ element.beginAt | culturedDate:true }}&nbsp;-&nbsp;
            {{ element.endAt | culturedDate:true:'HH:mm' }}
          </ng-container>
          <ng-container *ngIf="!element.isHourly">
            {{ element.beginAt | culturedDate }}
          </ng-container>
        </td>
      </ng-container>

      <!-- Created at Column -->
      <ng-container matColumnDef="requestedAt">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'REQUESTED_AT' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | culturedDate }}
        </td>
      </ng-container>

      <!-- Status at Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'STATUS' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status | enum: 'RequestStatus' }}
        </td>
      </ng-container>
    </app-grid>
  </div>
</div>
