.app-devices {
  margin-top: 30px;
  h2 {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .box {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  .devices {
    .device {
      display: flex;
      padding: 10px;
      margin-top: 10px;
      border-bottom: 1px solid #eee;

      .ico {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 30px;
        }
      }
      .info {
        min-width: 150px;
        display: flex;
        flex-direction: column;

        .title {
          min-height: 20px;
          font-size: 0.8rem;
          font-weight: 500;
        }
        .os {
          min-height: 20px;
          font-size: 0.7rem;
          font-weight: 400;
        }
      }
      .action {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        button {
          margin-inline-end: 10px;
          max-height: 35px;
        }
      }
    }
  }
}
