:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
  max-height: 100%;
  max-width: 100%;
}
:host-context(.btn) {
  vertical-align: middle;
  svg {
    height: 1.5em;
    width: 1.5em;
  }
}
