.project-reports {
  padding: 20px;
  overflow-x: hidden;
  .no-projects {
    h5 {
      color: #808080;
      font-weight: 400;
    }

    .create-holder {
      margin-top: 20px;
      display: flex;
      background: #ffffff;
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;

      .plus {
        display: flex;
        width: 50px;
        justify-content: center;

        i {
          color: #b3b3b3;
          font-size: 0.8rem;
          width: 30px;
          height: 30px;
          text-align: center;
          border: 1px dashed #b3b3b3;
          border-radius: 50px;
          padding-top: 8px;
        }
      }

      .actions {
        color: #999999;
        display: flex;
        flex-grow: 1;
        -webkit-box-flex: 1;
      }
    }
  }
}
