<div
  *ngIf="file"
  class="file-folder-preview file-item"
  [class.selected]="file.selected"
>
  <div class="preview">
    <div class="holder">
      <i *ngIf="!hasThumbnail(file) else thumbImage" [class]="filesService.icon(file.url)"></i>
      <ng-template #thumbImage>
<!--        <img [src]="file.thumbnail || (file.url | thumbnailUrl)" alt="" />-->
        <img [src]="file.url" alt="" />
      </ng-template>
    </div>
  </div>
  <div class="info">
    <div class="title">{{ file.extensionLessName }}</div>
    <div class="created-at">{{ file.createdAt | culturedDate: true }}</div>
  </div>
  <div class="selected"></div>
</div>
<div
  *ngIf="folder"
  class="file-folder-preview folder-item"
  [class.selected]="folder.selected"
  [class.up]="up"
>
  <div class="avatar">
    <i class="icon-foledr"></i>
  </div>
  <div class="info">
    <div class="title">{{ folder.name }}</div>
    <div *ngIf="!up" class="created-at">
      {{ folder.createdAt | culturedDate: true }}
    </div>
  </div>
  <div class="selected"></div>
</div>
