<div class="messenger-container">
  <div [class.selected]="current !== undefined" class="aside">
    <div class="aside-header">
      <img
        src="/assets/images/messenger/asoode-chat-icon.svg"
        alt="asoode-chat-icon"
      />&nbsp;
      <span>{{ 'ASOODE_MESSENGER' | translate }}</span>
    </div>
    <div class="aside-items">

      <mat-tab-group animationDuration="0ms">
        <mat-tab [label]="'PROJECTS' | translate">
          <ng-template matTabContent>
            <div class="aside-item">
              <div
                matRipple
                [class.selected]="current === channel"
                (click)="open(channel)"
                *ngFor="
            let channel of mockService.channels
              | search: ['type']:ChannelType.Project
          "
                class="item"
              >
                {{ channel.title }}
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab [label]="'GROUPS' | translate">
          <ng-template matTabContent>
            <div class="aside-item">
              <div
                matRipple
                [class.selected]="current === channel"
                (click)="open(channel)"
                *ngFor="
            let channel of mockService.channels
              | search: ['type']:ChannelType.Group
          "
                class="item"
              >
                {{ channel.title }}
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab [label]="'MEMBERS' | translate">
          <ng-template matTabContent>
            <div class="members-container">
              <div class="filter">
                <div class="wrapper">
                  <input [(ngModel)]="filter" type="text" [placeholder]="'SEARCH' | translate">
                  <i class="icon-search"></i>
                </div>
              </div>
              <div class="member" [class.online]="index % 2 === 0"
                   *ngFor="let member of current?.members | search:['fullName', 'email', 'phoneNumber']:filter; let index = index">
                <app-member-info [model]="member"></app-member-info>
              </div>

            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <ng-container *ngIf="!current">
    <div class="channel-container no-item">
      <div class="channel-header"></div>
      <div class="channel-content">
        <h3>
          <i class="icon-bubble-dots2"></i>
          {{
            (mockService.channels.length
              ? 'NO_CHANNEL_SELECTED'
              : 'NO_CHANNELS'
            ) | translate
          }}
        </h3>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="current">
    <div class="channel-container">
      <div class="channel-header">
        <div class="wrapper">
          <div class="title-container">
            <span class="title">{{ current.title }}</span
            >&nbsp;
            <i *ngIf="current.type === ChannelType.Group" class="icon-team"></i>
            <i
              *ngIf="current.type === ChannelType.Project"
              class="icon-workpackage"
            ></i
            >&nbsp;
            <span class="category">{{ current.title }}</span>
          </div>
          <div class="info-container">
            <div class="type">
              {{ current.type | enum: 'ChannelType' }}
            </div>
            <div class="members">
              |&nbsp;&nbsp;{{
                'N_USERS' | translate | stringFormat: current.members.length
              }}&nbsp;&nbsp;|
            </div>
            <a
              *ngIf="current.type === ChannelType.Project"
              [routerLink]="'/project'"
              class="go-to"
            >
              <i class="icon-new-window"></i>
              {{ 'VIEW_IN_PROJECT_PAGE' | translate }}
            </a>
            <a
              *ngIf="current.type === ChannelType.Group"
              [routerLink]="'/group'"
              class="go-to"
            >
              <i class="icon-new-window"></i>
              {{ 'VIEW_IN_GROUP_PAGE' | translate }}
            </a>
          </div>
        </div>
        <div class="action-container">
          <button (click)="toggleFiles()" mat-button class="file">
            <i class="icon-shared-folder"></i>&nbsp;
            <span class="lbl">{{ 'FILES' | translate }}</span></button
          >&nbsp;
          <button (click)="openSetting()" mat-button class="setting">
            <i class="icon-cog2"></i>&nbsp;
            <span class="lbl">{{ 'SETTING' | translate }}</span></button
          >&nbsp;
          <button (click)="openChannels()" mat-button class="channels">
            <i class="icon-menu3"></i>&nbsp;
          </button>
        </div>
      </div>
      <div class="channel-content">
        <app-conversation></app-conversation>
      </div>
    </div>
    <div *ngIf="showFiles" class="channel-aside">
      <app-channel-files (hide)="showFiles = false"></app-channel-files>
    </div>
  </ng-container>
</div>
