.messenger-container {
  display: flex;
  min-height: calc(100vh - 57px);

  .aside {
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 1px solid #e6e6e6;

    .aside-header {
      padding: 10px;
      height: 55px;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;

      img {
        width: 30px;
      }

      span {
        font-weight: 400;
      }
    }

    .aside-items {
      width: 249px;

      .no-item {
        background-color: #e6e6e6;
        color: #808080;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        font-size: 0.8rem;
      }
      ::ng-deep .aside-item {
        padding-top: 10px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 10px;

        max-height: calc(100vh - 165px);
        overflow-y: auto;

        .item {
          cursor: pointer;
          padding: 10px;

          &:hover {
            background-color: #efefef;
          }
          &.selected {
            background-color: #ee6285;
            color: #ffffff;
          }
        }
      }
      ::ng-deep .mat-tab-group .mat-tab-label {
        min-width: auto !important;
        font-size: 0.8rem;
      }
      ::ng-deep .members-container {
        .filter {
          padding: 10px;
          .wrapper {
            border: 1px solid #dddddd;
            display: flex;
            padding: 5px;
            border-radius: 5px;
            align-items: center;
            input {
              border: none;
              display: flex;
              flex-grow: 1;
              font-size: 0.8rem;
            }

            i {
              color: #dddddd;
              width: 20px;
              font-weight: 500;
              font-size: 1.4rem;
            }
          }
        }

        .members-inner-container {
          max-height: calc(100vh - 225px);
          overflow-y: auto;

          .member {
            ::ng-deep .member-info {
              .initials {
                border-color: #ee6285;
              }
            }
          }
          .member.online {
            ::ng-deep .member-info {
              .initials {
                border-color: #5eb258;
              }
            }
          }
        }

      }
    }
  }
  .channel-container {
    display: flex;
    flex-grow: 1;
    -webkit-box-flex: 1;
    flex-wrap: wrap;
    min-width: 445px;
    //height: calc(100vh - 111px);
    //overflow: scroll;

    .channel-header {
      height: 55px;
      display: flex;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);

      .wrapper {
        display: flex;
        flex-grow: 1;
        -webkit-box-flex: 1;
        flex-direction: column;
        padding: 5px;

        .title-container {
          display: flex;
          align-items: center;

          .title {
            font-weight: 600;
            padding-inline-end: 10px;
          }

          i {
            color: #999999;
            font-size: 12px;
          }

          .category {
            font-size: 0.7rem;
            color: #999999;
            margin-inline-start: 5px;
          }
        }
        .info-container {
          color: #999999;
          display: flex;
          font-size: 0.7rem;
          .type {
          }
          .members {
            margin: 0 10px;
          }

          a {
            color: #999999;
            text-decoration: underline;
          }
        }
      }
      .action-container {
        display: flex;
        width: 200px;
        align-items: center;

        button {
          color: #4d4d4d;
          align-items: center;

          &.file {
            i {
              font-size: 1.9rem;
              position: relative;
              top: 3px;
            }
          }
          &.setting {
            i {
              font-size: 1.1rem;
            }
          }

          &.channels {
            display: none;
          }
          span {
            font-size: 0.7rem;
          }
        }
      }
    }

    &.no-item {
      .channel-header {
        border-bottom: none;
        box-shadow: none;
      }

      h3 {
        margin-top: 200px;
        text-align: center;
        color: #555;
      }
    }
    .channel-content {
      height: calc(100vh - 111px);
      //overflow: scroll;
      width: 100%;
    }
  }
  .channel-aside {
    width: 300px;
    min-width: 300px;
    display: flex;
    border-right: 1px solid #e6e6e6;

    app-channel-files {
      width: 100%;
    }
  }

  ::ng-deep .conversations {
    height: calc(100vh - 210px);
    overflow: auto;
  }
}

@media (max-width: 1000px) {
  .channel-aside {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: none !important;
  }
}
@media (max-width: 700px) {
  .messenger-container .aside {
    //min-width: 150px;
    //width: 150px;
    font-size: 0.8rem;
  }
  .action-container {
    width: 70px !important;
    justify-content: space-between;

    button {
      margin: 0;
      padding: 0;
      min-width: 30px;
    }
    .lbl {
      display: none;
    }
  }
  .channel-container {
    min-width: 290px !important;

    &.no-item {
      min-width: auto !important;
    }
  }
}

@media (max-width: 600px) {
  .aside.selected {
    display: none !important;
  }
  .action-container {
    width: 100px !important;
    button.channels {
      display: block !important;
    }
  }
}
@media (max-width: 350px) {
  .action-container {
    width: 80px !important;
    button {
      display: block !important;
      min-width: 20px;

      i {
        font-size: 20px;
      }
    }
  }
}
