.messenger-container {
  display: flex;
  min-height: calc(100vh - 57px);

  .aside {
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 1px solid #e6e6e6;

    .aside-header {
      padding: 10px;
      height: 55px;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;

      img {
        width: 30px;
      }

      span {
        font-weight: 400;
      }
    }

    .aside-items {
      .aside-item {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 10px;

        .title {
          color: #808080;
          font-size: 0.8rem;
          font-weight: 400;
          padding: 10px;
        }
        .item {
          cursor: pointer;
          padding: 10px;

          &:hover {
            background-color: #efefef;
          }
          &.selected {
            background-color: #ee6285;
            color: #ffffff;
          }
        }
      }
    }
  }
  .channel-container {
    display: flex;
    flex-grow: 1;
    -webkit-box-flex: 1;
    flex-wrap: wrap;
    //height: calc(100vh - 111px);
    //overflow: scroll;

    .channel-header {
      height: 55px;
      display: flex;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);

      .wrapper {
        display: flex;
        flex-grow: 1;
        -webkit-box-flex: 1;
        flex-direction: column;
        padding: 5px;

        .title-container {
          display: flex;
          align-items: center;

          .title {
            font-weight: 600;
            padding-inline-end: 10px;
          }

          i {
            color: #999999;
            font-size: 12px;
          }

          .category {
            font-size: 0.7rem;
            color: #999999;
          }
        }
        .info-container {
          color: #999999;
          display: flex;
          font-size: 0.7rem;
          .type {
          }
          .members {
            margin: 0 10px;
          }

          a {
            color: #999999;
            text-decoration: underline;
          }
        }
      }
      .action-container {
        display: flex;
        width: 200px;
        align-items: center;

        button {
          color: #4d4d4d;
          align-items: center;

          &.file {
            i {
              font-size: 1.9rem;
              position: relative;
              top: 3px;
            }
          }
          &.setting {
            i {
              font-size: 1.1rem;
            }
          }

          span {
            font-size: 0.7rem;
          }
        }
      }
    }

    &.no-item {
      .channel-header {
        border-bottom: none;
        box-shadow: none;
      }

      h3 {
        margin-top: 200px;
        text-align: center;
        color: #555;
      }
    }
    .channel-content {
      //height: calc(100vh - 111px);
      //overflow: scroll;
      width: 100%;
    }
  }
  .channel-aside {
    width: 300px;
    background: yellow;
    display: flex;
  }

  ::ng-deep .conversations {
    height: calc(100vh - 210px);
    overflow: scroll;
  }
}
