<div class="auth-page">
  <div class="container-fluid background-column">
    <div class="row">
      <div class="col-md-4 col-sm-6 form-column">
        <div class="auth-form">
          <div class="logo"></div>
            <h2 class="title">{{ 'CREATE_YOUR_ACCOUNT' | translate }}</h2>
            <p class="more">{{ 'IF_YOU_HAVE_ACCOUNT' | translate }},
              <a routerLink="/login">{{ 'LOGIN_HERE' | translate }}</a>
            </p>

            <app-form [elements]="form"
                      (action)="register($event)"
                      [actionLabel]="'REGISTER'"></app-form>

            <hr>
            <a mat-stroked-button class="google" href="/google">
              <img src="/assets/images/pages/auth/google-logo.svg" alt="">
              <span>&nbsp;{{ 'LOGIN_WITH_GOOGLE' | translate }}</span>
            </a>
        </div>
      </div>
      <div class="col-md-8 empty-column"></div>
    </div>
  </div>
</div>
