<div class="auth-page">
  <div class="auth-form">
    <div class="container-fluid">
      <div class="logo"></div>
      <h2 class="title">{{ 'CREATE_YOUR_ACCOUNT' | translate }}</h2>
      <p class="more">{{ 'IF_YOU_HAVE_ACCOUNT' | translate }},
        <a routerLink="/login">{{ 'LOGIN_HERE' | translate }}</a>
      </p>

      <app-form [elements]="form"
                (action)="register($event)"
                [actionLabel]="'REGISTER'"></app-form>

      <hr>
      <a mat-stroked-button class="google" href="/google">
        <img src="/assets/images/pages/auth/google-logo.svg" alt="">
        {{ 'LOGIN_WITH_GOOGLE' | translate }}
      </a>
    </div>
  </div>
</div>
