<div class="asoode-editor">
  <quill-editor
    [disabled]="disabled"
    [placeholder]="placeHolder | translate"
    [dir]="cultureService.dir"
    [(ngModel)]="model"
    trackChanges="all"
    [customToolbarPosition]="'bottom'"
    [modules]="modules"
    [sanitize]="true"
  >
    <div quill-editor-toolbar>
      <span class="ql-formats action-buttons">
        <select
          class="ql-background"
          [title]="'CHANGE_BACKGROUND_COLOR' | translate"
        ></select>
        <select class="ql-color" [title]="'CHANGE_COLOR' | translate"></select>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <!--        <button class="ql-list" value="bullet"></button>-->
        <!--        <button class="ql-list" value="ordered"></button>-->
        <button class="ql-link"></button>
        <!--        <button class="ql-code"></button>-->
        <button class="ql-strike"></button>
        <button class="ql-underline"></button>
        <button class="ql-italic"></button>
        <button class="ql-bold"></button>
        <button
          *ngIf="deviceDetectorService.isDesktop()"
          class="ql-emoji"
          [title]="'INSERT_EMOJI' | translate"
        ></button>
        <button
          [matMenuTriggerFor]="attachment"
          class="action-btn"
          [title]="'ATTACHMENT' | translate"
        >
          <i class="icon-attachment"></i>
        </button>
        <span class="send-wrapper">
          <button
            [disabled]="!(model || '').trim()"
            (click)="send.emit(model)"
            class="action-btn"
            [title]="'SEND' | translate"
          >
            <i
              [class]="disabled ? 'icon-spin icon-spinner2' : 'icon-paperplane'"
            ></i>
          </button>
        </span>
      </span>
    </div>
  </quill-editor>
  <mat-menu #attachment="matMenu">
    <button (click)="fileUpload.emit()" mat-menu-item>
      <i class="icon-file-pdf"></i>
      {{ 'UPLOAD_FILE' | translate }}
    </button>
    <button (click)="filePick.emit()" mat-menu-item>
      <i class="icon-link2"></i>
      {{ 'CHOOSE_FILE' | translate }}
    </button>
  </mat-menu>
</div>
