.asoode-editor {
  //max-width: 600px;
  //direction: ltr;
  //text-align: left;

  ::ng-deep .action-buttons {
    i,
    svg {
      opacity: 0.9;
    }
  }

  ::ng-deep .ql-formats {
    display: flex;
    .send-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      i {
        color: #6b3d8d;
      }
    }
  }
}
