<div class="asoode-editor">
  <quill-editor
    [placeholder]="placeHolder | translate"
    [dir]="cultureService.dir"
    [(ngModel)]="model"
    trackChanges="all"
    [customToolbarPosition]="'bottom'"
    [modules]="modules"
  >
    <div quill-editor-toolbar>
      <span class="ql-formats action-buttons">
        <select
          class="ql-background"
          [title]="'CHANGE_BACKGROUND_COLOR' | translate"
        ></select>
        <select class="ql-color" [title]="'CHANGE_COLOR' | translate"></select>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-list" value="ordered"></button>
        <button class="ql-link"></button>
        <button class="ql-code"></button>
        <button class="ql-strike"></button>
        <button class="ql-underline"></button>
        <button class="ql-italic"></button>
        <button class="ql-bold"></button>
        <button class="ql-emoji" [title]="'INSERT_EMOJI' | translate"></button>
        <button class="action-btn" [title]="'ATTACHMENT' | translate">
          <i class="icon-attachment"></i>
        </button>
      </span>
    </div>
  </quill-editor>
</div>
