<div class="group-page">
  <div class="header">
    <div class="inner-content">
<!--      <div class="avatar-container">-->
<!--        <img *ngIf="identityService.profile.avatar" src="" alt="" />-->
<!--        <div *ngIf="!identityService.profile.avatar">-->
<!--          {{ identityService.profile.initials }}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <div class="full-name h2">{{ identityService.profile.fullName }}</div>-->
<!--        <div class="bio h3">{{ identityService.profile.bio }}</div>-->
<!--        <div-->
<!--          *ngIf="identityService.profile.email"-->
<!--          [class.check]="!identityService.profile.emailConfirmed"-->
<!--          class="email h3"-->
<!--        >-->
<!--          <i-->
<!--            *ngIf="!identityService.profile.emailConfirmed"-->
<!--            class="icon-blocked"-->
<!--          ></i>-->
<!--          {{ identityService.profile.email }}-->
<!--        </div>-->
<!--        <div-->
<!--          *ngIf="identityService.profile.phoneNumber"-->
<!--          [class.check]="!identityService.profile.phoneConfirmed"-->
<!--          class="phone h3"-->
<!--        >-->
<!--          <i-->
<!--            *ngIf="!identityService.profile.phoneConfirmed"-->
<!--            class="icon-blocked"-->
<!--          ></i>-->
<!--          {{ identityService.profile.phoneNumber }}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="actions">-->
<!--        <button class="edit" (click)="edit()" mat-stroked-button>-->
<!--          {{ 'EDIT' | translate }}</button-->
<!--        >&nbsp;-->
<!--        <button class="logout" (click)="logout()" mat-stroked-button>-->
<!--          {{ 'LOGOUT' | translate }}-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
  <div class="body">
    <div class="fake-header"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group animationDuration="0ms">
            <mat-tab [label]="'ORGANIZATION_CHART' | translate">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab [label]="'MEMBERS' | translate">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab [label]="'PROJECTS' | translate">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab [label]="'HUMAN_RESOURCES' | translate">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab [label]="'REPORTS' | translate">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
