<div class="group-page" appReloadOnParamsChanged>
  <div class="header">
    <div class="inner-content">
      <div class="avatar-container">
        <img *ngIf="group.avatar" src="" alt="" />
        <div *ngIf="!group.avatar">
          <i class="icon-team"></i>
        </div>
      </div>
      <div class="info">
        <div class="full-name h2">{{ group.title }}</div>
        <div class="bio h3">{{ group.description }}</div>
        <div *ngIf="group.website" class="email h3">
          <i class="icon-www"></i>
          {{ group.website }}
        </div>
      </div>
      <div class="actions">
        <button class="edit" (click)="detail()" mat-stroked-button>
          {{ 'DETAIL' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="fake-header"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group animationDuration="0ms">
            <mat-tab [label]="'ORGANIZATION_CHART' | translate">
              <ng-template matTabContent>
                <app-group-chart
                  [permission]="permission"
                  [group]="group"
                ></app-group-chart>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'MEMBERS' | translate">
              <ng-template matTabContent>
                <app-group-members
                  [permission]="permission"
                  [group]="group"
                ></app-group-members>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'PROJECTS' | translate">
              <ng-template matTabContent>
                <app-group-projects
                  [permission]="permission"
                  [group]="group"
                ></app-group-projects>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'HUMAN_RESOURCES' | translate">
              <ng-template matTabContent>
                <app-human-resources
                  [permission]="permission"
                  [group]="group"
                ></app-human-resources>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'TIME_SPENT' | translate">
              <ng-template matTabContent>
                <app-group-timespent
                  [permission]="permission"
                  [group]="group"
                ></app-group-timespent>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'REPORTS' | translate">
              <ng-template matTabContent>
                <app-group-reports
                  [permission]="permission"
                  [group]="group"
                ></app-group-reports>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
<app-messenger-shortcut></app-messenger-shortcut>
