.search-result {
  padding: 5px;
  cursor: pointer;

  .loading {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }

  .box {
    padding: 5px;

    .title {
      color: #b3b3b3;
      font-weight: 400;
      font-size: 0.9rem;
      margin-bottom: 5px;
    }

    .group,
    .project {
      margin-bottom: 5px;
    }
    .member {
      &:hover {
        background: #f9f9f9;
      }
      border-radius: 5px;
      margin-bottom: 5px;
    }
    .folder {
      display: flex;
      &:hover {
        background: #f9f9f9;
      }
      i {
        font-size: 40px;
        color: #999999;
        position: relative;
        top: 5px;
        width: 40px;
        text-align: center;
      }
      .info {
        .name {
          padding: 5px;
          color: #333333;
          font-weight: 500;
          font-size: 0.8rem;
        }
        .date {
          color: #808080;
          font-weight: 400;
          font-size: 0.6rem;
        }
      }
    }
    .file {
      display: flex;
      &:hover {
        background: #f9f9f9;
      }
      i {
        font-size: 25px;
        color: #999999;
        position: relative;
        top: 5px;
        width: 40px;
        text-align: center;
      }
      .info {
        .name {
          padding: 5px;
          color: #333333;
          font-weight: 500;
          font-size: 0.8rem;
        }
        .date {
          color: #808080;
          font-weight: 400;
          font-size: 0.6rem;
        }
      }
    }

    ::ng-deep .group-info {
      &:hover {
        background: #f9f9f9;
      }
      border: none;
    }

    ::ng-deep .project-info-mini {
      border-radius: 0;
      padding: 5px 0;
      margin-bottom: 5px;
      &:hover {
        background: #f9f9f9;
      }
      i {
        color: #999999;
        font-size: 25px;
      }
      .name {
        color: #333333 !important;
        font-weight: 500 !important;
        font-size: 0.8rem !important;
      }
      .description {
        color: #808080 !important;
        font-weight: 400 !important;
        font-size: 0.6rem !important;
      }
    }
  }

  .tasks {
    .task {
      border: 2px solid #e6e6e6;
      border-radius: 5px;
      margin-bottom: 5px;

      &:hover {
        background: #f9f9f9;
      }
      .info {
        padding: 10px 10px 0;
        .title {
          color: #4d4d4d;
        }
        .description {
          font-size: 0.7rem;
          color: #999;
        }
      }

      .labels {
        padding: 5px;
        display: flex;
        .label {
          padding: 2px 5px;
          margin-inline-end: 5px;
          margin-bottom: 5px;
          color: #ffffff;
          border-radius: 5px;
          font-size: 0.7rem;
          min-width: 50px;
          text-align: center;
          font-weight: 400;

          &.dark {
            color: #444444;
          }
        }
      }

      .more {
        padding: 10px;
        border-top: 2px solid #e6e6e6;
        display: flex;

        .item {
          margin-inline-end: 15px;
          display: flex;
          &:last-child {
            margin-inline-end: 0;
          }
          .lbl {
            color: #b3b3b3;
            font-size: 0.7rem;
          }
          span {
            color: #808080;
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .no-results {
    padding: 5px;

    h3 {
      font-size: 0.9rem;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
    }

    img {
    }
  }
}
