<div class="project-tree-node level-{{ level }}">
  <div class="node">
    <div (click)="expanded = !expanded" class="collapse">
      <i
        *ngIf="!expanded && (subProjects.length || workPackages.length)"
        class="icon-arrow-left2"
      ></i>
      <i
        *ngIf="expanded && (subProjects.length || workPackages.length)"
        class="icon-arrow-down2"
      ></i>
    </div>
    <div class="title">
      <i class="sub {{ subProject ? 'icon-tree7' : 'icon-workpackage' }}"></i
      >&nbsp;
      <span>{{ subProject ? subProject.title : workPackage.title }}</span
      >&nbsp;
      <i
        [matMenuTriggerFor]="menu"
        *ngIf="subProject"
        class="add icon-plus2"
      ></i
      >&nbsp;
      <i
        (click)="editSubProject.emit(subProject.id)"
        *ngIf="subProject"
        class="add icon-pencil"
      ></i
      >&nbsp;
      <i
        (click)="deleteSubProject.emit(subProject.id)"
        *ngIf="subProject"
        class="add icon-delete"
      ></i>
      <mat-menu #menu="matMenu" class="add-dropdown">
        <button
          *ngIf="level < 3"
          (click)="createSubProject.emit(subProject.id)"
          mat-menu-item
        >
          <i class="icon-tree7"></i>
          {{ 'NEW_SUB_PROJECT' | translate }}
        </button>
        <button (click)="createWorkPackage.emit(subProject.id)" mat-menu-item>
          <i class="icon-workpackage"></i>
          {{ 'NEW_WORK_PACKAGE' | translate }}
        </button>
      </mat-menu>
    </div>
    <div class="description">
      {{ subProject ? subProject.description : workPackage.description }}
    </div>
    <div class="members">
      <ng-container *ngFor=" let member of reportViewModel.members">
        <app-member-info
          small="true"
          *ngIf="!member.isGroup"
          [id]="member.recordId"
        ></app-member-info>
        <app-group-info
          small="true"
          *ngIf="member.isGroup"
          [id]="member.recordId"
        ></app-group-info>
      </ng-container>
    </div>
    <div class="progress">
      <mat-progress-bar [value]="reportViewModel.progress"></mat-progress-bar>&nbsp;
      <span>{{ reportViewModel.progress }}%</span>
    </div>
    <div class="time-span">
      <ng-container *ngIf="reportViewModel.from">{{ reportViewModel.from | culturedDate }}</ng-container>
      <ng-container *ngIf="reportViewModel.from && reportViewModel.to">&nbsp;-&nbsp;</ng-container>
      <ng-container *ngIf="reportViewModel.to">{{ reportViewModel.to | culturedDate }}</ng-container>
    </div>
    <div class="time-spent">
      {{ reportViewModel.timeSpent | msToDuration }}
    </div>
  </div>
  <ng-container *ngIf="expanded">
    <div
      class="sub-projects-container"
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="subProjects"
      (cdkDropListDropped)="dropSubProject.emit($event)"
    >
      <div
        class="sub-container"
        *ngFor="let subProject of subProjects"
        [cdkDragStartDelay]="dragDelay"
        [cdkDragData]="subProject"
        [cdkDragDisabled]="noDrag || subNode.expanded || subProjects.length === 1"
        cdkDrag
      >
        <app-project-tree-node
          #subNode
          [data]="data"
          [permission]="permission"
          (deleteSubProject)="deleteSubProject.emit($event)"
          (editSubProject)="editSubProject.emit($event)"
          (createSubProject)="createSubProject.emit($event)"
          (createWorkPackage)="createWorkPackage.emit($event)"
          (dropSubProject)="dropSubProject.emit($event)"
          (dropWorkPackage)="dropWorkPackage.emit($event)"
          [level]="level + 1"
          [project]="project"
          [subProject]="subProject"
          [reCreate]="reCreate"
        ></app-project-tree-node>
      </div>
    </div>

    <div
      class="work-packages-container"
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="workPackages"
      (cdkDropListDropped)="dropWorkPackage.emit($event)"
    >
      <div
        class="work-package-container"
        *ngFor="let workPackage of workPackages"
        [cdkDragDisabled]="noDrag || workPackages.length === 1"
        [cdkDragStartDelay]="dragDelay"
        [cdkDragData]="workPackage"
        cdkDrag
      >
        <app-project-tree-node
          [data]="data"
          (dropWorkPackage)="dropWorkPackage.emit($event)"
          [permission]="permission"
          [level]="level + 1"
          [project]="project"
          [workPackage]="workPackage"
          [reCreate]="reCreate"
          (click)="openWorkPackage(workPackage)"
        ></app-project-tree-node>
      </div>
    </div>
  </ng-container>
</div>
