.project-tree-node {
  background: #ffffff;
  border-radius: 5px;
  //padding: 20px 15px;

  .node {
    display: flex;
    cursor: pointer;
    min-height: 60px;

    .collapse {
      min-width: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 0.8rem;
        //position: relative;
        //top: 5px;
      }
    }
    .title {
      border-inline-end: 2px dashed #b3b3b3;
      min-width: 300px;
      width: 300px;
      display: flex;
      align-items: center;
      padding: 0 5px;
      i.sub {
        color: #b977f7;
      }
      span {
        color: #4d4d4d;
        font-size: 0.9rem;
      }
      i.add {
        color: #b3b3b3;
        border-radius: 20px;
        border: 1px dashed #b3b3b3;
        font-size: 0.5rem;
        padding: 3px;
      }
    }
    .description {
      min-width: 200px;
      width: 200px;
      display: flex;
      border-inline-end: 2px dashed #b3b3b3;
      align-items: center;
      color: #808080;
      font-size: 0.8rem;
      padding: 0 5px;
    }
    .members {
      min-width: 200px;
      width: 200px;
      display: flex;
      border-inline-end: 2px dashed #b3b3b3;
      align-items: center;
      padding: 0 5px;
      flex-wrap: wrap;
    }
    .progress {
      min-width: 200px;
      width: 200px;
      display: flex;
      border-inline-end: 2px dashed #b3b3b3;
      align-items: center;
      padding: 0 30px;
    }
    .time-span {
      min-width: 150px;
      width: 150px;
      display: flex;
      border-inline-end: 2px dashed #b3b3b3;
      align-items: center;
      color: #808080;
      font-size: 0.8rem;
      padding: 0 5px;
    }
    .time-spent {
      min-width: 150px;
      width: 150px;
      display: flex;
      align-items: center;
      color: #808080;
      font-size: 0.8rem;
      padding: 0 5px;

    }
  }

  &.level-1 {
    margin-bottom: 10px;
    .node {
      border-bottom-color: transparent;
    }
  }
  &.level-2 {
    .node {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      padding-inline-start: 10px;
      .title {
        width: 290px;
        min-width: 290px;
      }
    }
  }
  &.level-2 {
    .node {
      padding-inline-start: 20px;
      .title {
        width: 280px;
        min-width: 280px;
      }
    }
  }
  &.level-3 {
    .node {
      padding-inline-start: 30px;
      .title {
        width: 270px;
        min-width: 270px;
      }
    }
  }
  &.level-4 {
    .node {
      padding-inline-start: 40px;
      .title {
        width: 260px;
        min-width: 260px;
      }
    }
  }
  &.level-4 {
    .node {
      padding-inline-start: 50px;
      .title {
        width: 250px;
        min-width: 250px;
      }
    }
  }
}
