.project-info {
  padding: 20px;
  margin: 0 0 20px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  color: #444444;
  cursor: pointer;

  .title {
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width: 300px;
    width: 300px;
    margin-bottom: 10px;

    i {
      font-size: 2rem;
    }
    span {
    }
  }

  .description {
    min-width: 300px;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    color: #999999;
    text-align: justify;
    font-size: 0.8rem;
  }
  .details {
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;
    width: 450px;
    margin-bottom: 10px;

    .item {
      display: flex;
      align-items: center;
      padding: 0 15px;

      i {
        font-size: 0.9rem;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
  .members {
    color: #ffffff;
    display: flex;
    min-width: 300px;

    .item {
      display: flex;
      background-color: #e6e6e6;
      padding: 5px 10px;
      color: #444444;
      border-radius: 15px;
      align-items: center;
      max-height: 33px;
      min-width: 130px;

      i {
        font-size: 0.9rem;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }

  &.simple {
    .title {
      min-width: 300px;
      width: 300px;
      flex-grow: 1;
      max-width: unset;
    }
  }
  &.template {
    background: #cfaf4e;
    color: #ffffff;

    .title {
    }

    .description {
      color: #ffffff;
    }

    .details {
    }
  }
}
