<div class="project-info" [class.template]="template" (click)="openProject()">
  <div class="title">
    <i *ngIf="project.complex" class="icon-project"></i>
    <i *ngIf="!project.complex" class="icon-workpackage"></i>
    &nbsp;<span>{{ project.title }}</span>
  </div>
  <div class="description">{{ project.description | truncate:200 }}</div>
  <div class="details">
    <ng-container *ngIf="project.complex">
      <div class="item">
        <i class="icon-flag3"></i>&nbsp;
        <span>{{
          'N_SEASONS' | translate | stringFormat: project.seasons.length
        }}</span>
      </div>
      <div class="item">
        <i class="icon-tree7"></i>&nbsp;
        <span>{{
          'N_SUB_PROJECT' | translate | stringFormat: project.subProjects.length
        }}</span>
      </div>
      <div class="item">
        <i class="icon-workpackage"></i>&nbsp;
        <span>{{
          'N_WORK_PACKAGE'
            | translate
            | stringFormat: project.workPackages.length
        }}</span>
      </div>
      <div class="item">
        <i class="icon-task"></i>&nbsp;
        <span>{{ 'N_CARDS' | translate | stringFormat: project.tasks }}</span>
      </div>
    </ng-container>
  </div>
  <div class="members">
    <div class="item">
      <i class="icon-team"></i>&nbsp;
      <span>{{ 'N_USERS' | translate | stringFormat: 0 }}</span>
    </div>
  </div>
</div>
