.no-api-found-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    align-items: center;
    justify-content: space-between;
    h3 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    button {

    }
  }
}
