<div class="invite-member">
  <div class="members">
    <div class="empty" *ngIf="!members.length">
      <h3>{{ 'NO_MEMBERS' | translate }}</h3>
    </div>
    <div class="member" *ngFor="let member of members">
      <div class="pick">
        <mat-checkbox
          color="primary"
          [(ngModel)]="member.selected"
        ></mat-checkbox>
      </div>
      <div class="info">
        <app-member-info [model]="member.model"></app-member-info>
      </div>
      <div class="access">
        <app-access-list [(access)]="member.access"></app-access-list>
      </div>
    </div>
  </div>
</div>
