<div class="account-profile">
  <div class="header">
    <ng-container *ngIf="!editing">
      <div class="inner-content">
        <div class="avatar-container">
          <img
            *ngIf="identityService.profile.avatar"
            [src]="identityService.profile.avatar"
            alt=""
          />
          <div *ngIf="!identityService.profile.avatar">
            {{ identityService.profile.initials }}
          </div>
        </div>
        <div class="info">
          <div class="full-name h2">{{ identityService.profile.fullName }}</div>
          <div class="bio h3">{{ identityService.profile.bio }}</div>
          <div
            *ngIf="identityService.profile.email"
            [class.check]="!identityService.profile.emailConfirmed"
            class="email h3"
          >
            <i
              *ngIf="!identityService.profile.emailConfirmed"
              class="icon-blocked"
            ></i>
            {{ identityService.profile.email }}
          </div>
          <div
            *ngIf="identityService.profile.phoneNumber"
            [class.check]="!identityService.profile.phoneConfirmed"
            class="phone h3"
          >
            <i
              *ngIf="!identityService.profile.phoneConfirmed"
              class="icon-blocked"
            ></i>
            {{ identityService.profile.phoneNumber }}
          </div>
        </div>
        <div class="actions">
          <button class="edit" (click)="edit()" mat-stroked-button>
            {{ 'EDIT' | translate }}</button
          >&nbsp;
          <button class="logout" (click)="logout()" mat-stroked-button>
            {{ 'LOGOUT' | translate }}
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="editing">
      <div class="edit-inner-container">
        <app-form
          [elements]="form"
          [actionWaiting]="waiting"
          (action)="update()"
          [allowCancel]="true"
          (cancel)="editing = false"
          [actionLabel]="'SAVE_CHANGES'"
        ></app-form>
      </div>
    </ng-container>
  </div>
  <div class="body">
    <div class="fake-header"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group animationDuration="0ms">
            <mat-tab [label]="'PREMIUM_PLAN' | translate">
              <ng-template matTabContent>
                <app-premium-plans></app-premium-plans>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'TRANSACTIONS' | translate">
              <ng-template matTabContent>
                <app-transactions></app-transactions>
              </ng-template>
            </mat-tab>
            <mat-tab [label]="'DEVICES' | translate">
              <ng-template matTabContent>
                <app-devices></app-devices>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
<app-messenger-shortcut></app-messenger-shortcut>
