.account-profile {
  height: 100%;
  .header {
    min-height: 300px;
    text-align: center;

    .inner-content {
      width: 200px;
      margin: 50px auto 0;
    }
    .avatar-container {
      width: 100px;
      height: 100px;
      background-color: #666666;
      border-radius: 50%;
      margin: 0 auto 20px;
    }
    .info {
      .full-name {
        font-size: 2rem;
        font-weight: 500;
      }
      .bio {
        font-size: 1.5rem;
        font-weight: 400;
      }
      .email {
        font-size: 1rem;
        font-weight: 300;
        color: #444;
      }
      .phone {
        font-size: 0.8rem;
        font-weight: 300;
        color: #888;
        margin: 5px 0;
      }
    }
    .actions {
      margin-top: 10px;
      .mat-stroked-button {
        border-width: 2px;
      }
    }
  }
  .body {
    min-height: 500px;
    background: #f2f2f2;
    position: relative;

    .fake-header {
      position: absolute;
      width: 100%;
      height: 48px;
      background-color: #fff;
      top: 0;
      left: 0;
    }
  }
}
