.custom-box {
  background: #fffbd3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: #5b5b5b;
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 400;
  button {
    max-height: 30px;
    margin: 10px auto;
  }
  ::ng-deep .mat-button-wrapper {
    font-size: 0.7rem;
    position: relative;
    top: -3px;
  }
}
