.project-reports {
  padding: 20px;
  .no-projects {
    h5 {
      color: #808080;
      font-weight: 400;
    }

    .create-holder {
      display: flex;
      background: #ffffff;
      padding: 20px;
      border-radius: 5px;
      cursor: pointer;

      .plus {
        display: flex;
        width: 50px;
        justify-content: center;

        i {
          color: #b3b3b3;
        }
      }

      .actions {
        color: #999999;
        display: flex;
        flex-grow: 1;
        -webkit-box-flex: 1;
      }
    }
  }
}
