.af-date-picker {
  display: flex;
  input {
    display: flex;
    flex-grow: 1;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
    width: 100% !important;
    font-size: 0.9rem;
  }
}
