<div id="wrapper">
  <div id="container">

    <ol class="organizational-chart">
      <li>
        <div class="node level-1">
          <app-org-chart-node [group]="group"></app-org-chart-node>
        </div>
        <ol>
          <li>
            <div class="node">
              <app-org-chart-node [group]="group"></app-org-chart-node>
            </div>
            <ol>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
                <ol>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                    <ol>
                      <li>
                        <div class="node">
                          <app-org-chart-node [group]="group"></app-org-chart-node>
                        </div>
                      </li>
                      <li>
                        <div class="node">
                          <app-org-chart-node [group]="group"></app-org-chart-node>
                        </div>
                        <ol>
                          <li>
                            <div class="node">
                              <app-org-chart-node [group]="group"></app-org-chart-node>
                            </div>
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </li>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                </ol>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
            </ol>
          </li>
          <li>
            <div class="node">
              <app-org-chart-node [group]="group"></app-org-chart-node>
            </div>
            <ol>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
                <ol>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <div class="node">
              <app-org-chart-node [group]="group"></app-org-chart-node>
            </div>
            <ol>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
                <ol>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                    <ol>
                      <li>
                        <div class="node">
                          <app-org-chart-node [group]="group"></app-org-chart-node>
                        </div>
                        <ol>
                          <li>
                            <div class="node">
                              <app-org-chart-node [group]="group"></app-org-chart-node>
                            </div>
                          </li>
                          <li>
                            <div class="node">
                              <app-org-chart-node [group]="group"></app-org-chart-node>
                            </div>
                          </li>
                        </ol>
                      </li>
                      <li>
                        <div class="node">
                          <app-org-chart-node [group]="group"></app-org-chart-node>
                        </div>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
            </ol>
          </li>
          <li>
            <div class="node">
              <app-org-chart-node [group]="group"></app-org-chart-node>
            </div>
            <ol>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
                <ol>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                  <li>
                    <div class="node">
                      <app-org-chart-node [group]="group"></app-org-chart-node>
                    </div>
                  </li>
                </ol>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
              <li>
                <div class="node">
                  <app-org-chart-node [group]="group"></app-org-chart-node>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>

  </div>
</div>
