#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  direction: ltr;
}

#container {
  padding: 1em;
  width: 100%;
  overflow: scroll;
}

.dir-rtl :host::ng-deep .chart-node {
  direction: rtl;
  text-align: right;
}
::ng-deep {

  li {
    display: inline-block;
  }

  ol.organizational-chart,
  ol.organizational-chart ol,
  ol.organizational-chart app-org-chart-node li,
  ol.organizational-chart app-org-chart-node li > div {
    position: relative;
  }

  ol.organizational-chart,
  ol.organizational-chart ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol.organizational-chart {
    text-align: center;
  }

  ol.organizational-chart ol {
    padding-top: 1em;
  }

  ol.organizational-chart ol:before,
  ol.organizational-chart ol:after,
  ol.organizational-chart li:before,
  ol.organizational-chart li:after,
  ol.organizational-chart > app-org-chart-node li > div:before,
  ol.organizational-chart > app-org-chart-node li > div:after {
    background-color: #e6e6e6;
    content: '';
    position: absolute;
  }

  ol.organizational-chart ol > li {
    padding: 1em 0 0 1em;
  }

  ol.organizational-chart > li ol:before {
    height: 1em;
    left: 50%;
    top: 0;
    width: 3px;
  }

  ol.organizational-chart > li ol:after {
    height: 3px;
    left: 3px;
    top: 1em;
    width: 50%;
  }

  ol.organizational-chart > li ol > li:not(:last-of-type):before {
    height: 3px;
    left: 0;
    top: 2em;
    width: 1em;
  }

  ol.organizational-chart > li ol > li:not(:last-of-type):after {
    height: 100%;
    left: 0;
    top: 0;
    width: 3px;
  }

  ol.organizational-chart > li ol > li:last-of-type:before {
    height: 3px;
    left: 0;
    top: 2em;
    width: 1em;
  }

  ol.organizational-chart > li ol > li:last-of-type:after {
    height: 2em;
    left: 0;
    top: 0;
    width: 3px;
  }

  ol.organizational-chart app-org-chart-node li > div {
    background-color: #fff;
    border-radius: 3px;
    min-height: 2em;
    padding: 0.5em;
  }

  /*** PRIMARY ***/
  ol.organizational-chart > app-org-chart-node li > div {

    margin-right: 1em;

    ::ng-deep .chart-node {
      //background-color: rgba(162, 237, 86, 0.25);
    }
  }

  ol.organizational-chart > app-org-chart-node li > div:before {
    bottom: 2em;
    height: 3px;
    right: -1em;
    width: 1em;
  }

  ol.organizational-chart > app-org-chart-node li > div:first-of-type:after {
    bottom: 0;
    height: 2em;
    right: -1em;
    width: 3px;
  }

  ol.organizational-chart > app-org-chart-node li > div + div {
    margin-top: 1em;
  }

  ol.organizational-chart > app-org-chart-node li > div + div:after {
    height: calc(100% + 1em);
    right: -1em;
    top: -1em;
    width: 3px;
  }

  /*** SECONDARY ***/
  ol.organizational-chart > app-org-chart-node li > ol:before {
    left: inherit;
    right: 0;
  }

  ol.organizational-chart > app-org-chart-node li > ol:after {
    left: 0;
    width: 100%;
  }

  ol.organizational-chart > app-org-chart-node li > ol > app-org-chart-node li > div {

    ::ng-deep .chart-node {
      background-color: rgba(131, 228, 226, 0.25);
    }
  }

  /*** TERTIARY ***/
  ol.organizational-chart > app-org-chart-node li > ol > app-org-chart-node li > ol > app-org-chart-node li > div {

    ::ng-deep .chart-node {
      background-color: rgba(253, 100, 112, 0.25);
    }
  }

  /*** QUATERNARY ***/
  ol.organizational-chart > app-org-chart-node li > ol > app-org-chart-node li > ol > app-org-chart-node li > ol > app-org-chart-node li > div {

    ::ng-deep .chart-node {
      background-color: rgba(252, 168, 88, 0.38);
    }
  }

  /*** QUINARY ***/
  ol.organizational-chart > app-org-chart-node li > ol > app-org-chart-node li > ol > app-org-chart-node li > ol > app-org-chart-node li > ol > app-org-chart-node li > div {

    ::ng-deep .chart-node {
      background-color: rgba(253, 220, 50, 0.4);
    }
  }

  /*** MEDIA QUERIES ***/
  @media only screen and ( min-width: 64em ) {

    ol.organizational-chart {
      margin-left: -1em;
      margin-right: -1em;
    }

    /* PRIMARY */
    ol.organizational-chart > app-org-chart-node li > div {
      display: inline-block;
      float: none;
      margin: 0 1em 1em 1em;
      vertical-align: bottom;
    }

    ol.organizational-chart > app-org-chart-node li > div:only-of-type {
      margin-bottom: 0;
      //width: calc((100% / 1) - 2em - 4px);
      &.level-1 {
        //width: 33% !important;
        //left: 33% !important;
      }
    }

    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(2),
    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(2) ~ div {
      width: calc((100% / 2) - 2em - 4px);
    }

    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(3),
    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(3) ~ div {
      width: calc((100% / 3) - 2em - 4px);
    }

    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(4),
    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(4) ~ div {
      width: calc((100% / 4) - 2em - 4px);
    }

    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(5),
    ol.organizational-chart > app-org-chart-node li > div:first-of-type:nth-last-of-type(5) ~ div {
      width: calc((100% / 5) - 2em - 4px);
    }

    ol.organizational-chart > app-org-chart-node li > div:before,
    ol.organizational-chart > app-org-chart-node li > div:after {
      bottom: -1em!important;
      top: inherit!important;
    }

    ol.organizational-chart > app-org-chart-node li > div:before {
      height: 1em!important;
      left: 50%!important;
      width: 3px!important;
    }

    ol.organizational-chart > app-org-chart-node li > div:only-of-type:after {
      display: none;
    }

    ol.organizational-chart > app-org-chart-node li > div:first-of-type:not(:only-of-type):after,
    ol.organizational-chart > app-org-chart-node li > div:last-of-type:not(:only-of-type):after {
      bottom: -1em;
      height: 3px;
      width: calc(50% + 1em + 3px);
    }

    ol.organizational-chart > app-org-chart-node li > div:first-of-type:not(:only-of-type):after {
      left: calc(50% + 3px);
    }

    ol.organizational-chart > app-org-chart-node li > div:last-of-type:not(:only-of-type):after {
      left: calc(-1em - 3px);
    }

    ol.organizational-chart > app-org-chart-node li > div + div:not(:last-of-type):after {
      height: 3px;
      left: -2em;
      width: calc(100% + 4em);
    }

    /* SECONDARY */
    ol.organizational-chart > app-org-chart-node li > ol {
      display: flex;
      flex-wrap: nowrap;
    }

    ol.organizational-chart > app-org-chart-node li > ol:before,
    ol.organizational-chart > app-org-chart-node li > ol > li:before {
      height: 1em!important;
      left: 50%!important;
      top: 0!important;
      width: 3px!important;
    }

    ol.organizational-chart > app-org-chart-node li > ol:after {
      display: none;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li {
      flex-grow: 1;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li:only-of-type {
      padding-top: 0;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li:only-of-type:before,
    ol.organizational-chart > app-org-chart-node li > ol > li:only-of-type:after {
      display: none;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li:first-of-type:not(:only-of-type):after,
    ol.organizational-chart > app-org-chart-node li > ol > li:last-of-type:not(:only-of-type):after {
      height: 3px;
      top: 0;
      width: 50%;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li:first-of-type:not(:only-of-type):after {
      left: 50%;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li:last-of-type:not(:only-of-type):after {
      left: 0;
    }

    ol.organizational-chart > app-org-chart-node li > ol > li + li:not(:last-of-type):after {
      height: 3px;
      left: 0;
      top: 0;
      width: 100%;
    }

  }
}
