<nav *ngIf="identityService.identity.token">
  <h1>
    <a routerLink="dashboard">
      <img src="/assets/images/asoode-logo.svg" alt="">
    </a>
  </h1>

  <span class="create-spacer"></span>

  <a href="javascript:void(0)" class="create-button">
    {{ 'CREATE' | translate}}
  </a>

  <div class="flex-spacer"></div>

  <div class="action-container">
    <a class="quick-access" href="javascript:void(0)"> {{ 'QUICK_ACCESS' | translate}} </a>
    <a class="files" routerLink="files"> {{ 'FILES' | translate}} </a>
    <div class="search-container">
      <app-input placeHolder="SEARCH_ANYWHERE"></app-input>
    </div>
    <a class="account-info" routerLink="account"> NK </a>
  </div>
</nav>
