<nav *ngIf="identityService.identity.token">
  <h1>
    <a routerLink="dashboard">
      <img class="logo" src="/assets/images/asoode-logo.svg" alt="" />
      <img class="logo-alt" src="/assets/images/logo-colored.svg" alt="" />
    </a>
  </h1>

  <span class="create-spacer"></span>

  <button mat-flat-button color="primary" class="create-button">
    {{ 'CREATE' | translate }}
  </button>

  <div class="flex-spacer"></div>

  <div class="action-container">
    <a
      class="quick-access"
      href="javascript:void(0)"
      [popper]="popperQuickAccess"
      [popperTrigger]="'click'"
      [popperHideOnClickOutside]="true"
      [popperHideOnScroll]="true"
      [popperPlacement]="'bottom'"
    >
      {{ 'QUICK_ACCESS' | translate }}&nbsp;
      <i class="icon-arrow-down2"></i>
    </a>
    <a class="files" routerLink="files"> {{ 'FILES' | translate }} </a>
    <div class="search-container">
      <app-input placeHolder="SEARCH_ANYWHERE"></app-input>
      <div
        class="holder"
        [popper]="popperSearch"
        [popperTrigger]="'click'"
        [popperHideOnClickOutside]="true"
        [popperHideOnScroll]="true"
        [popperPlacement]="'bottom-start'"
      >
        <i class="icon-search primary-color"></i>
      </div>
    </div>
    <div class="search-container-tiny">
      <i class="icon-search primary-color"></i>
    </div>
    <a class="account-info" routerLink="account">
      {{ identityService.profile.initials }}
    </a>
  </div>

  <popper-content #popperQuickAccess>
    <div class="quick-access-popper">
      <app-quick-access (hide)="popperQuickAccess.hide()"></app-quick-access>
    </div>
  </popper-content>

  <popper-content #popperSearch>
    <div class="search-popper">
      <app-search-result (hide)="popperSearch.hide()"></app-search-result>
    </div>
  </popper-content>
</nav>
