nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 16px 5px;
  border-bottom: 2px solid #cccccc;
}

h1 {
  margin-bottom: 0;
  a {
    text-decoration: none !important;
    display: block;
    img {
      width: 90px;
    }
  }
}
.logo-alt {
  display: none;
}
.create-spacer {
  width: 40px;
}
.menu-spacer {
  width: 10px;
}
.create-button {
  font-size: 0.7rem !important;
  line-height: 25px;
  padding: 2px 0;
}
.quick-access {
  color: #6b3d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 50px;
}
.files {
  color: #6b3d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  font-size: 0.8rem;
  font-weight: 500;
}
.search-container-tiny {
  display: none;
}
.search-container {
  border: 1px solid #6b3d8d;
  margin: 0 50px;
  border-radius: 25px;
  padding: 5px !important;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;

  ::ng-deep input {
    border: 1px solid transparent !important;
    width: 160px !important;
    font-size: 0.8rem;
    padding: 0 10px !important;
  }
  app-input {
    display: flex;
    -webkit-box-align: center;
  }
  .holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    i {
      font-size: 1.2rem;
    }
  }
}
.account-info {
  color: #6b3d8d;
  border: 1px solid #6b3d8d;
  background: #ded4e4;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  font-size: 1rem;
  font-weight: 600;
}
.action-container {
  display: flex;
}
.flex-spacer {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.quick-access-popper {
  height: 60vh;
  width: 300px;
  background-color: #fff;
}
.search-popper {
  height: 60vh;
  width: 300px;
  background-color: #fff;
}

@media (max-width: 780px) {
  .search-container,
  .quick-access {
    margin: 0 15px;
  }
}
@media (max-width: 620px) {
  nav {
    font-size: 0.7rem;
    font-weight: 300;
  }
  .logo {
    display: none;
  }
  .logo-alt {
    display: block;
    width: 30px !important;
    height: 40px;
  }
  .create-spacer {
    width: 10px;
  }
  .quick-access {
    margin: 0 5px;
    font-size: 0.7rem;
    font-weight: 300;
  }
  .files {
    font-size: 0.7rem;
    font-weight: 300;
  }
  .search-container-tiny {
    display: flex;
    margin: 0 10px;
    width: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
  .search-container {
    display: none;
  }
}
