.af-file-picker {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
    max-height: 35px;
  }

  .summary-container {
    padding: 10px;
  }

  &.invalid {
    .input-group input {
      color: #ff3547;
    }
  }
}
