.month-view {
  padding-top: 10px;
  padding-bottom: 30px;
  table {
    margin: 0 auto;
    color: #808080;

    th {
      font-size: 0.7rem;
      padding-bottom: 10px;
      text-align: center;
    }

    td {
      //padding-bottom: 10px;
      font-size: 0.9rem;

      .square-wrapper {
        width: 30px;
        height: 30px;

        .square-inner {
          justify-content: center;
          display: flex;
          height: 100%;
          align-items: center;
        }

        &.past {
          .square-inner {
            background: #ee6285;
            border-radius: 30px;
            color: #fff;
          }
        }
        &.in-time {
          .square-inner {
            background: #74d68c;
            border-radius: 30px;
          }
        }
        &.upcoming {
          .square-inner {
            background: #fef386;
            border-radius: 30px;
          }
        }
        &.today {
          .square-inner {
            background: #2a70b6;
            border-radius: 30px;
            color: #fff;
          }
        }
      }
    }
  }
}

.info {
  display: flex;

  .item {
    display: flex;
    font-size: 0.7rem;
    color: #999999;
    margin: 0 10px;
    .color {
      display: flex;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      position: relative;
      top: 5px;

      &.past {
        background-color: #ee6285;
      }
      &.in-time {
        background-color: #74d68c;
      }
      &.upcoming {
        background-color: #fef386;
      }
    }
  }

  .details {
    color: #666666;
    display: flex;
    font-size: 0.7rem;
    flex-grow: 1;
    -webkit-box-flex: 1;
    direction: ltr;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
}
