<div class="month-view">
  <app-calendar [monthView]="true" [events]="model"></app-calendar>
</div>
<div class="info inline">
  <div class="item">
    <div class="past color"></div>
    &nbsp;
    {{ 'PAST' | translate }}
  </div>
  <div class="item">
    <div class="in-time color"></div>
    &nbsp;
    {{ 'IN_TIME' | translate }}
  </div>
  <div class="item">
    <div class="upcoming color"></div>
    &nbsp;
    {{ 'UPCOMING' | translate }}
  </div>
  <div class="item">
    <div class="today color"></div>
    &nbsp;
    {{ 'TODAY' | translate }}
  </div>
  <!--  <div class="details">-->
  <!--    {{ 'DETAILS' | translate }}-->
  <!--  </div>-->
</div>
