<div class="month-view">
  <table>
    <thead>
    <tr>
      <th *ngFor="let title of dayNames" class="dow">
        {{ title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of days">
      <td *ngFor="let day of week">
        <div class="square-wrapper"
             [class.upcoming]="day.upcoming"
             [class.past]="day.past"
             [class.in-time]="day.inTime"
             [class.today]="day.today">
          <div class="square-inner">
            <span>{{ day.day }}</span>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
