.actions {
  padding: 10px 10px 0;

  button:not(:disabled) {
    background: #ffffff;
  }
}
.files-shared {
  min-height: 300px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .no-items-found {
    flex-grow: 1;
    h3 {
      text-align: center;
      margin: 100px 0;
    }
  }
}
.action-container {
  position: relative;
  .action-bar {
    cursor: pointer;
    width: 100%;
    z-index: 10;
    display: flex;
    //align-items: center;
    .space {
      display: flex;
      width: 50%;
      padding: 10px;
    }
    .commands {
      display: flex;
      flex-grow: 1;
      -webkit-box-flex: 1;
      direction: ltr;
      text-align: left;
      padding: 0 20px;
      min-height: 50px;

      button {
        border-radius: 50px !important;
        margin: 5px;
        color: #333333;

        &:not(:disabled) {
          background: #ffffff;
        }
        i {
          display: block;
          font-size: 1.1rem;
          position: relative;
          top: 5px;
        }
      }

      ::ng-deep .mat-mini-fab .mat-button-wrapper {
        padding: 0;

        .btn-inner {
          i {
          }
          .sub-title {
            font-size: 0.7rem;
          }
        }
      }
    }
    .views {
      display: none !important;
      //display: flex;
      width: 50px;
      text-align: center;
      align-items: center;
      justify-content: space-between;

      i {
        color: #b3b3b3;
        &.active {
          color: #333333;
        }
      }
    }
  }
}
.sort-by {
  display: flex;
  flex: 0 0 100%;
  margin-bottom: 10px;
  align-items: center;
  font-size: 0.8rem;
  color: #999999;
  height: 40px;

  ::ng-deep .af-dropdown button {
    border: none !important;

    span.arrow {
      display: none;
    }
  }
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  height: 25px;
  margin: 0 0 20px;
  flex-direction: row-reverse;
  justify-content: flex-end;

  li {
    font-size: 0.8rem;
    color: #555555;
    font-weight: 400;
    margin-inline-end: 20px;
    border-bottom: 1px solid #eee;
  }
}

@media (max-width: 600px) {
  .sort-by {
    display: initial;
  }

  .action-bar {
    flex-direction: column;
    .commands {
      flex-wrap: wrap;
    }
  }
}
