.project-objectives {
  min-width: 600px;
  h3 {
  }
  .inner {
    display: flex;

    .empty {
      padding: 10px 0;

      h2 {
        color: #4d4d4d;
      }
      h4 {
        color: #808080;
      }
    }

    .list {
      display: flex;
      min-width: 600px;
      width: 600px;
      margin-inline-end: 10px;
      padding: 0 10px;
      flex-direction: column;
      max-height: 500px;
      overflow-y: auto;

      .item {
        cursor: pointer;
        display: flex;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;

        &:hover {
          background: #fafafa;
        }

        .ico {
          //display: flex;
          //width: 30px;
          i {
            color: #666666;
          }
        }
        .info {
          //display: flex;
          //flex-grow: 1;
          padding-inline-start: 5px;
          .title {
            color: #4d4d4d;
            font-weight: 500;
            font-size: 0.9rem;
          }
          .description {
            color: #808080;
            font-size: 0.8rem;
            padding-top: 10px;
          }
          .work-package {
            color: #444444;
            font-size: 0.7rem;
            align-items: center;
            display: flex;
            i {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .info-full {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      min-height: 400px;

      .summary {
        padding: 10px 50px;
        border-inline-start: 2px dashed #ddd;
        margin-inline-start: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        h2 {
          color: #4d4d4d;
        }
        h4 {
          color: #808080;
        }
      }

      .box {
        padding: 30px;
        background: #fff;
        border-radius: 5px;
        margin-inline-start: 10px;

        .title {
          font-size: 1.3rem;
          font-weight: 500;
          color: #4d4d4d;
          i {
            color: #666666;
            position: relative;
            top: 5px;
          }
        }
        .description {
          color: #808080;
          font-size: 0.9rem;
          text-align: justify;
          margin: 10px 0;
        }
        .work-package {
          color: #b3b3b3;
          font-size: 0.8rem;
          i {
            position: relative;
            top: 5px;
            font-size: 1rem;
          }
        }
        .price-container {
          margin-top: 50px;

          .price-title {
            color: #333333;

            i {
            }
          }

          .records {
            padding-top: 20px;

            ::ng-deep .mat-table th.mat-header-cell {
              background-color: #ffffff !important;
              color: #808080 !important;
              font-size: 0.9rem;
              font-weight: 300;
            }
          }

          .sum-container {
            padding-top: 30px;
            display: flex;
            .label {
              font-weight: 500;
              color: #4d4d4d;
              width: 150px;
              display: flex;
            }

            .time,
            .amount {
              width: 150px;
              display: flex;
              flex-direction: column;
              h4 {
                font-weight: 500;
                color: #4d4d4d;
              }
              h5 {
                color: #999999;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
}
