<div class="project-objectives">
  <h3>{{ 'OBJECTIVES' | translate }}</h3>
  <div class="inner">
    <div class="list">
      <div
        *ngFor="let objective of mockService.objectives"
        (click)="selected = objective"
        class="item"
      >
        <div class="ico">
          <i class="icon-target"></i>
        </div>
        <div class="info">
          <div class="title">{{ objective.title }}</div>
          <div class="description">
            {{ objective.description | truncate: 150 }}
          </div>
          <div class="work-package">
            <i class="icon-workpackage"></i>&nbsp;
            {{ objective.workPackage }}
          </div>
        </div>
      </div>
    </div>
    <div class="info-full">
      <div class="summary" *ngIf="!selected">
        <h2>{{ 'OBJECTIVE_USE_TITLE' | translate }}</h2>
        <h4>{{ 'OBJECTIVE_USE_DESCRIPTION' | translate }}</h4>
      </div>
      <div class="box" *ngIf="selected">
        <div class="title">
          <i class="icon-target"></i>
          {{ selected.title }}
        </div>
        <div class="description">
          {{ selected.description }}
        </div>
        <div class="work-package">
          <i class="icon-workpackage"></i>
          {{ selected.workPackage }}
        </div>
        <div class="price-container">
          <div class="title">
            <span class="icon-cost">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
            {{ 'ESTIMATED_PRICE' | translate }}
          </div>
          <div class="records">
            <app-grid [showFooter]="false"
                      [columns]="['name', 'date', 'time', 'amount', 'group']"
                      [rows]="estimated">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ 'NAME' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.user }}</td>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>{{ 'DATE' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date | culturedDate }}
                </td>
              </ng-container>

              <!-- Time Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>{{ 'SPENT_TIME' | translate }}</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.time | msToDuration }}
                </td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>{{ 'AMOUNT' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.amount | number }}</td>
              </ng-container>

              <!-- Team Column -->
              <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef>{{ 'GROUP' | translate }}</th>
                <td mat-cell *matCellDef="let element">{{ element.group }}</td>
              </ng-container>
            </app-grid>

            <div class="sum-container">
              <div class="label">{{ 'TOTAL_SUM' | translate}}</div>
              <div class="time">
                <h4>{{ estimatedTotalTime | msToDuration }}</h4>
                <h5>{{ 'TIME_SPENT' | translate}}</h5>
              </div>
              <div class="amount">
                <h4>{{ estimatedTotalAmount | number }}</h4>
                <h5>{{ 'AMOUNT' | translate}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
