<div class="auth-page">
  <div class="container-fluid background-column">
    <div class="row">
      <div class="col-md-4 col-sm-6 form-column">
        <div class="auth-form">
          <div class="logo"></div>
          <ng-container *ngIf="mode === ViewMode.Login">
            <h2 class="title">{{ 'LOGIN_TO_YOUR_ACCOUNT' | translate }}</h2>
            <p class="more">
              {{ 'IF_YOU_DONT_HAVE_ACCOUNT' | translate }},
              <a routerLink="/register">{{ 'CREATE_ONE_HERE' | translate }}</a>
            </p>
            <app-form
              [elements]="form"
              [actionWaiting]="waiting"
              (action)="login()"
              [actionLabel]="'LOGIN'"
            ></app-form>

            <a class="forgot" routerLink="/forgot">{{
              'FORGOT_MY_PASSWORD' | translate
            }}</a>

            <hr />
            <a mat-stroked-button class="google" href="/google">
              <img src="/assets/images/pages/auth/google-logo.svg" alt="" />
              <span>&nbsp;{{ 'LOGIN_WITH_GOOGLE' | translate }}</span>
            </a>
          </ng-container>

          <ng-container *ngIf="mode !== ViewMode.Login">
            <app-confirm-account [username]="username"></app-confirm-account>
          </ng-container>

        </div>
      </div>
      <div class="col-md-8 empty-column"></div>
    </div>
  </div>
</div>
