.auth-page {
  height: 100vh;
  overflow: hidden;
}
.background-column {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url("/assets/images/pages/auth/authentication-page.svg") left bottom no-repeat;
  background-size: cover;
  > .row {
    height: 100%;
  }
 }
.form-column {
  height: 100%;
  background-color: #fff;
  min-width: 450px;
  padding-right: 0;
  padding-left: 0;
 }
.auth-form {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  overflow: auto;
  max-height: 100vh;
}

.logo {
  background: url("/assets/images/asoode-logo.svg") center center no-repeat;
  height: 70px;
}

.forgot {
  display: block;
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
hr {
  height: 1px;
  background-color: #efefef;
  border: none;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.google {
  color: #e6e6e6;
  img {
    width: 20px;
  }
  span {
    color: #666666;
    font-size: 0.8rem;
  }
}
.more {
  font-size: 0.9rem;
  a {
    color: #982cf5;
  }
}
app-form ::ng-deep .af-form-elements{
  width: 300px;
  text-align: start;
  margin: 50px auto 20px;
}

@media(min-width: 1250px) {
  .background-column {
    background-size: cover;
   }
 }
 @media(max-width: 1250px) {
  .background-column {
    background: url("/assets/images/pages/auth/authentication-page.svg") left bottom no-repeat;
    background-size: cover;
   }
 }
 @media(min-width: 1250px) {
   .background-column {
    background-size: 80% auto;
   }
 }
