.body {
  min-height: calc(100vh - 57px);
  background: #f2f2f2;
  position: relative;

  .fake-header {
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: #fff;
    top: 0;
    left: 0;
  }

  .main-container {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
  }

  .header {
    display: flex;
    align-items: center;

    .filter {
      flex-grow: 1;
      display: flex;

      .date {
        font-weight: 500;
        min-width: 200px;

        i {
          margin-inline-start: 5px;
          font-size: 0.7rem;
        }
      }

      .btns {
        display: flex;

        button {
          background: #eeeeee;
          color: #666666;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-inline-end: 5px;
          border-radius: 20px;
          border-color: transparent;

          i {
            font-size: 0.7rem;
          }
        }
      }

      .today {
        button {
          cursor: pointer;
          background: none;
          border: none;
          text-decoration: underline;
          color: #4d4d4d;
          font-size: 0.8rem;
          margin-inline-start: 20px;
        }
      }
    }

    .mode {
      width: 100px;
      display: flex;
    }
  }

  .content {
    &.clipped {
      margin-top: 50px;
      max-height: calc(100vh - 283px);
      overflow: auto;
    }
  }
}
.wrapper {
  display: flex;
  flex: 0 0 100%;
  .title {
    display: flex;
    width: 300px;
    align-items: center;
    font-weight: 500;
  }

  mat-tab-group {
    display: flex;
    flex-grow: 1;
    -webkit-box-flex: 1;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    .title {
      width: 100px;
    }
  }
}
@media (max-width: 500px) {
  .wrapper {
    .title {
      display: none;
    }
  }
}
