<div class="app-tasks-container">
  <div class="header"></div>
  <div class="body">
    <div class="fake-header"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 wrapper">
          <div class="title">{{ 'TASKS_MANAGEMENT' | translate }}</div>
          <mat-tab-group animationDuration="0ms" [(selectedIndex)]="tab"
                         (selectedIndexChange)="switchTab($event)">
            <mat-tab [label]="'CALENDAR' | translate"
              ><ng-template matTabContent></ng-template
            ></mat-tab>
            <mat-tab [label]="'TIME_SPENT' | translate"
              ><ng-template matTabContent></ng-template
            ></mat-tab>
            <mat-tab [label]="'KARTABL' | translate"
              ><ng-template matTabContent></ng-template
            ></mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-waiting *ngIf="waiting"></app-waiting>
          <div class="main-container tab-{{tab}}" *ngIf="!waiting">
            <div *ngIf="tab !== TaskTab.Kartabl" class="header">
              <div class="filter">
                <div class="date">
                  {{ beginDate | culturedDate:false:'NNN YYYY' }}
                  <i class="icon-arrow-down2"></i>
                </div>

                <div class="btns">
                  <button>
                    <i class="icon-arrow-right2"></i>
                  </button>
                  <button>
                    <i class="icon-arrow-left2"></i>
                  </button>
                </div>

                <div class="today">
                  <button>
                    {{ 'GO_TODAY' | translate}}
                  </button>
                </div>
              </div>
              <div class="mode">
              </div>
            </div>
            <div class="" *ngIf="tab === TaskTab.Calendar">
              <div class="content clipped">
                <app-calendar-month [beginDate]="beginDate"
                                    [endDate]="endDate"
                                    [model]="calendarData"></app-calendar-month>
              </div>
            </div>
            <div class="time-spent-container" *ngIf="tab === TaskTab.TimeSpent">
              <div class="content clipped">
                <app-time-spent [beginDate]="beginDate"
                                [endDate]="endDate"
                                [model]="timeSpentData"></app-time-spent>
              </div>
            </div>
            <div class="kartabl-container" *ngIf="tab === TaskTab.Kartabl">
              <div class="content">
                <app-kartabl [beginDate]="beginDate"
                             [endDate]="endDate"
                             [model]="kartablData"></app-kartabl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-messenger-shortcut></app-messenger-shortcut>
