<div class="group-members">
  <div class="title">
    <h2>{{ 'MEMBERS' | translate }}</h2>
  </div>
  <div class="box">
    <div class="filter">
      <input
        [(ngModel)]="filter"
        [placeholder]="'MEMBER_SEARCH' | translate"
        type="text"
      />

      <button
        [disabled]="!!group.archivedAt"
        (click)="invite()"
        mat-stroked-button
      >
        +&nbsp;{{ 'INVITE_NEW_MEMBER' | translate }}
      </button>
    </div>
    <div class="members">
      <div
        *ngFor="let member of group.members | memberFilter: filter"
        class="member"
      >
        <div class="info">
          <app-member-info [model]="member.member"></app-member-info>
        </div>
        <div class="status"></div>
        <div class="actions">
          <app-access-list
            [disabled]="member.waiting || !canRemoveAccess(member)"
            [access]="member.access"
            (accessChange)="accessChange(member, $event)"
          ></app-access-list
          >&nbsp;
          <button
            [disabled]="member.waiting"
            (click)="removeAccess(member)"
            *ngIf="canChangeAccess(member)"
            mat-flat-button
            color="warn"
          >
            <i *ngIf="member.waiting" class="icon-spin icon-spinner2"></i>
            {{ 'REMOVE_ACCESS' | translate }}
          </button>
          <button
            (click)="transferOwnership(member)"
            [disabled]="member.waiting"
            *ngIf="
              member.access === AccessType.Owner &&
              permission === AccessType.Owner
            "
            mat-flat-button
            color="accent"
          >
            <i *ngIf="member.waiting" class="icon-spin icon-spinner2"></i>
            {{ 'TRANSFER_OWNERSHIP' | translate }}
          </button>
        </div>
      </div>
      <div *ngFor="let member of group.pending" class="member">
        <div class="info">
          <app-member-info [email]="member.identifier"></app-member-info>
        </div>
        <div class="status"></div>
        <div class="actions">
          <app-access-list
            [disabled]="
              member.waiting ||
              member.deleting ||
              !canRemovePendingAccess(member)
            "
            [access]="member.access"
            (accessChange)="accessPendingChange(member, $event)"
          ></app-access-list
          >&nbsp;
          <button
            [disabled]="member.waiting || member.deleting"
            (click)="removePendingAccess(member)"
            *ngIf="canRemovePendingAccess(member)"
            mat-flat-button
            color="warn"
          >
            <i *ngIf="member.deleting" class="icon-spin icon-spinner2"></i>
            {{ 'REMOVE_ACCESS' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
