.upgrade {
  h3 {
    text-align: center;
  }
}
.box-container {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;

  .box {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 250px;
    margin-bottom: 10px;
    margin-inline-end: 10px;
    .plan {
      background: #f6f6f6;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      border: 2px solid transparent;
      cursor: pointer;

      .p-header {
        background: #bebebe;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        font-weight: 400;
        border-radius: 5px 5px 0 0;
      }
      &.current {
        border-color: #2a70b6;

        .p-header {
          border-radius: 0;
          background: #2a70b6;
        }
      }
      &.selected {
        border-color: #3d8f4d;

        .p-header {
          border-radius: 0;
        }
      }
      .p-sub {
        display: flex;
        padding: 10px;
        height: 75px;
        .price {
          color: #9a9a9a;
          font-size: 30px;
          font-weight: 400;
          text-align: center;
          padding: 5px 0;

          .free {
            color: #444;
            font-size: 25px;
          }
        }
        .duration {
          flex-grow: 1;
          justify-content: flex-end;
          display: flex;
          align-items: center;
          color: #c6bebe;
          span {
            font-size: 0.8rem;
            font-weight: 500;
            &.days {
              color: #7a7a7a;
              font-weight: 400;
              font-size: 1.5rem;
              margin-inline-end: 10px;
            }
          }
        }
      }
      .features {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        .feature {
          display: flex;
          width: 50%;
          margin-bottom: 5px;
          .count {
            color: #7a7a7a;
            font-weight: 400;
            font-size: 0.8rem;
            margin: 0 5px;
            width: 21px;
          }
          .title {
            font-size: 0.7rem;
            font-weight: 500;
          }
        }
      }
    }
    &.next {
      .plan {
        .p-header {
          background: #59ab87;
        }
        .price {
          color: #40966e;
        }
      }
    }
  }
}
.order-item {
  .title {
  }
  .slider {
    display: flex;
    align-items: center;
    .current {
      font-size: 0.8rem;
      font-weight: 500;
    }
    ::ng-deep .mat-slider {
      min-width: 250px;
      width: 400px;
      max-width: 90vw;
    }
  }
}
