<div class="modal-content create-modal">
  <div class="modal-alt-header">
    <div class="btn">
      <ng-container *ngIf="showBack || mode !== ViewMode.Init">
        <button [disabled]="actionWaiting" (click)="onBack($event)">
          <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
          <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
        </button>
      </ng-container>
    </div>

    <div class="text">
      <h4 *ngIf="mode === ViewMode.Init" class="modal-title">
        <i class="icon-trophy4"></i><br />
        {{ 'YOU_HAVE_REACHED_PLAN_LIMIT' | translate }}
      </h4>
    </div>
    <div class="btn">
      <button [disabled]="actionWaiting" (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="mode === ViewMode.Init">
    <div class="modal-body upgrade">
      <h3>{{ 'YOUR_PLAN_NEEDS_UPGRADE' | translate }}</h3>

      <div class="box-container">
        <div class="box">
          <div class="title">{{ 'CURRENT_PLAN' | translate }}</div>
          <div class="plan">
            <div class="p-header">
              {{ identityService.profile.plan.title | translate }}
            </div>
            <div class="price">
              <ng-container *ngIf="!identityService.profile.plan.planCost">
                <div class="free">{{ 'FREE' | translate }}</div>
              </ng-container>
              <ng-container *ngIf="identityService.profile.plan.planCost">
                {{ identityService.profile.plan.planCost | number }}
              </ng-container>
            </div>
            <div class="duration">
              <ng-container *ngIf="!identityService.profile.plan.planCost">
                <span class="days">{{ 'FOREVER' | translate }}</span>
              </ng-container>
              <ng-container *ngIf="identityService.profile.plan.planCost">
                <span class="days">{{
                  identityService.profile.plan.days
                }}</span>
                <span>{{ 'DAYS' | translate }}</span>
              </ng-container>
            </div>
            <div class="features">
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.simpleGroup
                }}</span>
                <span class="title">{{ 'SIMPLE_GROUP' | translate }}</span>
              </div>
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.complexGroup
                }}</span>
                <span class="title">{{ 'COMPLEX_GROUP' | translate }}</span>
              </div>
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.project
                }}</span>
                <span class="title">{{ 'WBS_PROJECTS' | translate }}</span>
              </div>
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.workPackage
                }}</span>
                <span class="title">{{ 'SIMPLE_PROJECTS' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="box next">
          <div class="title">{{ 'NEXT_PLAN' | translate }}</div>
          <div class="plan">
            <div class="p-header">
              {{ identityService.profile.plan.title }}
            </div>
            <div class="price">
              {{ identityService.profile.plan.planCost | number }}
            </div>
            <div class="duration">
              <span class="days">{{ identityService.profile.plan.days }}</span>
              <span>{{ 'DAYS' | translate }}</span>
            </div>
            <div class="features">
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.simpleGroup
                }}</span>
                <span class="title">{{ 'SIMPLE_GROUP' | translate }}</span>
              </div>
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.complexGroup
                }}</span>
                <span class="title">{{ 'COMPLEX_GROUP' | translate }}</span>
              </div>
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.project
                }}</span>
                <span class="title">{{ 'WBS_PROJECTS' | translate }}</span>
              </div>
              <div class="feature">
                <span class="count">{{
                  identityService.profile.plan.workPackage
                }}</span>
                <span class="title">{{ 'SIMPLE_PROJECTS' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="next($event)" mat-flat-button [color]="'primary'">
        {{ 'CONTINUE' | translate: true }}
      </button>
    </div>
  </ng-container>
</div>
