.upgrade {
  h3 {
    text-align: center;
  }
}
.yearly-discount,
.upgrade-notice {
  font-size: 0.8rem;
  font-weight: 500;
  color: #b33634;
  padding: 10px 0;
}
.box-container {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;

  .box {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 250px;
    margin-bottom: 10px;
    margin-inline-end: 10px;
    .plan {
      background: #f6f6f6;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      border: 2px solid transparent;
      cursor: pointer;

      .p-header {
        background: #bebebe;
        color: #ffffff;
        padding: 5px;
        text-align: center;
        font-weight: 400;
        border-radius: 5px 5px 0 0;
      }
      &.current {
        border-color: #2a70b6;

        .p-header {
          border-radius: 0;
          background: #2a70b6;
        }
      }
      &.selected {
        border-color: #3d8f4d;

        .p-header {
          border-radius: 0;
        }
      }
      .p-sub {
        display: flex;
        padding: 10px;
        height: 75px;
        .price {
          color: #9a9a9a;
          font-size: 30px;
          font-weight: 400;
          text-align: center;
          padding: 5px 0;

          .free {
            color: #444;
            font-size: 25px;
          }
        }
        .duration {
          flex-grow: 1;
          justify-content: flex-end;
          display: flex;
          align-items: center;
          color: #c6bebe;
          span {
            font-size: 0.8rem;
            font-weight: 500;
            &.days {
              color: #7a7a7a;
              font-weight: 400;
              font-size: 1.5rem;
              margin-inline-end: 10px;
            }
          }
        }
      }
      .features {
        padding: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        .feature {
          display: flex;
          width: 50%;
          margin-bottom: 5px;
          .count {
            color: #7a7a7a;
            font-weight: 400;
            font-size: 0.8rem;
            margin: 0 5px;
            width: 21px;
          }
          .title {
            font-size: 0.7rem;
            font-weight: 500;
          }
        }
      }
    }
    &.next {
      .plan {
        .p-header {
          background: #59ab87;
        }
        .price {
          color: #40966e;
        }
      }
    }
  }
}
.order-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  .title {
    margin-inline-end: 10px;
    font-weight: 500;
    min-width: 150px;
    align-items: center;
    display: flex;

    i {
      font-size: 15px;
      margin-inline-end: 10px;
    }
  }
  .slider {
    display: flex;
    align-items: center;
    .current {
      font-size: 0.8rem;
      font-weight: 500;
      min-width: 50px;
    }
    ::ng-deep .mat-slider {
      min-width: 250px;
      width: 330px;
      max-width: 90vw;
    }
  }

  .estimated-price {
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 170px;
    text-align: left;
    direction: ltr;
  }

  &.total {
    border-top: 2px solid #eeeeee;
    margin-top: 20px;
    flex-grow: 1;
    .slider {
      flex-grow: 1;
    }
    .title {
      font-size: 1.2rem;
    }
  }
}
.payment-box {
  padding: 10px 20px;
  ::ng-deep .mat-radio-group {
    display: flex;
    flex-wrap: wrap;
  }
  ::ng-deep .mat-radio-button {
    .title {
      font-weight: 500;
      font-size: 1.2rem;
    }
    margin-inline-end: 30px;
  }

  .price-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .title {
      font-size: 0.9rem;
      font-weight: 400;
      min-width: 90px;
    }

    .amount {
      font-size: 1.5rem;
      font-weight: 500;
      direction: ltr;
      text-align: left;
      min-width: 200px;
    }
  }

  &.bg {
    background: #eaeaea;
    border-radius: 5px;
  }
  &.discount {
    max-width: 450px;
  }
}
.discount-container {
  input {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-inline-end: 10px;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (max-width: 820px) {
  .order-item {
    margin-bottom: 20px;
    .estimated-price {
      order: 2;
    }
    .slider {
      order: 3;
    }
  }
}
@media (max-width: 500px) {
  .order-item {
    .estimated-price {
    }
    .slider {
      ::ng-deep .mat-slider {
        min-width: 150px;
        max-width: 100%;
        width: 200px;
      }
    }
  }
}
