<div class="modal-content create-modal">
  <div class="modal-alt-header">
    <div class="btn">
      <ng-container *ngIf="showBack || mode !== ViewMode.Init">
        <button [disabled]="actionWaiting" (click)="onBack($event)">
          <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
          <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
        </button>
      </ng-container>
    </div>
    <div class="text">
      <h4 *ngIf="mode === ViewMode.Init" class="modal-title">
        <i class="icon-trophy4"></i><br />
        {{ 'YOU_HAVE_REACHED_PLAN_LIMIT' | translate }}
      </h4>
      <h4 *ngIf="mode === ViewMode.Choose" class="modal-title">
        <i class="ikon-cog3"></i><br />
        {{ 'ESTIMATE_YOUR_NEED' | translate }}
      </h4>
      <h4 *ngIf="mode === ViewMode.Factor" class="modal-title">
        <i class="ikon-coins"></i><br />
        {{ 'CREATE_BILL' | translate }}
      </h4>
    </div>
    <div class="btn">
      <button [disabled]="actionWaiting" (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
  </div>
  <app-waiting *ngIf="waiting"></app-waiting>
  <ng-container *ngIf="!waiting">
    <ng-container *ngIf="mode === ViewMode.Init">
      <div class="modal-body upgrade">
        <h3>{{ 'YOUR_PLAN_NEEDS_UPGRADE' | translate }}</h3>

        <mat-radio-group
          *ngIf="identityService.profile.plan.type !== PlanType.Free"
          [(ngModel)]="order.type"
          class="is-upgrade"
        >
          <mat-radio-button
            class="border"
            [disabled]="alreadyExpired"
            color="primary"
            [value]="OrderType.Patch"
          >
            <span class="title">
              {{ 'PATCH_PLAN' | translate }}
            </span>
            <span class="description">
              {{ 'PATCH_PLAN_DESCRIPTION' | translate }}
            </span>
          </mat-radio-button>
          <mat-radio-button
            class="border"
            color="primary"
            [value]="OrderType.Renew"
          >
            <span class="title">
              {{ 'RENEW_PLAN' | translate }}
            </span>
            <span class="description">
              {{ 'RENEW_PLAN_DESCRIPTION' | translate }}
            </span>
          </mat-radio-button>
          <mat-radio-button
            class="border"
            [disabled]="identityService.profile.plan.type === PlanType.Custom"
            color="primary"
            [value]="OrderType.Change"
          >
            <span class="title">
              {{ 'CHANGE_PLAN' | translate }}
            </span>
            <span class="description">
              {{ 'CHANGE_PLAN_DESCRIPTION' | translate }}
            </span>
          </mat-radio-button>
        </mat-radio-group>

        <!--        <ng-container *ngIf="order.type === OrderType.Renew">-->
        <!--          <app-dropdown [enum]="'OrderDuration'" [(model)]="order.duration"></app-dropdown>-->
        <!--        </ng-container>-->
        <ng-container *ngIf="order.type !== OrderType.Patch">
          <br />
          <div class="payment-box">
            <mat-radio-group [(ngModel)]="order.duration" class="items">
              <mat-radio-button
                class="border"
                color="primary"
                [value]="OrderDuration.Monthly"
              >
                <span class="title">
                  {{ 'PAY_MONTHLY' | translate }}
                </span>
                <span class="description">
                  {{ 'PAY_MONTHLY_DESCRIPTION' | translate }}
                </span>
              </mat-radio-button>
              <mat-radio-button
                class="border"
                color="primary"
                [value]="OrderDuration.Yearly"
              >
                <span class="title">
                  {{ 'PAY_YEARLY' | translate }}
                </span>
                <span class="description">
                  {{ 'PAY_YEARLY_DESCRIPTION' | translate }}
                </span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="order.type === OrderType.Change" class="box-container">
            <div class="box no-select">
              <div class="plan current">
                <div class="p-header">{{ 'CURRENT_PLAN' | translate }}</div>
                <div class="p-sub">
                  <div class="price">
                    <ng-container
                      *ngIf="
                        identityService.profile.plan.type === PlanType.Free
                      "
                    >
                      <div class="free">{{ 'FREE' | translate }}</div>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        identityService.profile.plan.type !== PlanType.Free
                      "
                    >
                      {{ identityService.profile.plan.planCost | number }}
                    </ng-container>
                  </div>
                  <div class="duration">
                    <!--                  <ng-container *ngIf="!identityService.profile.plan.planCost">-->
                    <!--                    <span class="days">{{ 'FOREVER' | translate }}</span>-->
                    <!--                  </ng-container>-->
                    <ng-container *ngIf="identityService.profile.plan.planCost">
                      <span class="days">{{
                        identityService.profile.plan.days
                      }}</span>
                      <span>{{ 'DAYS' | translate }}</span>
                    </ng-container>
                  </div>
                </div>
                <div class="features">
                  <div class="feature">
                    <span class="count">{{
                      identityService.profile.plan.simpleGroup
                    }}</span>
                    <span class="title">{{ 'SIMPLE_GROUP' | translate }}</span>
                  </div>
                  <div class="feature">
                    <span class="count">{{
                      identityService.profile.plan.complexGroup
                    }}</span>
                    <span class="title">{{ 'COMPLEX_GROUP' | translate }}</span>
                  </div>
                  <div class="feature">
                    <span class="count">{{
                      identityService.profile.plan.project
                    }}</span>
                    <span class="title">{{ 'WBS_PROJECTS' | translate }}</span>
                  </div>
                  <div class="feature">
                    <span class="count">{{
                      identityService.profile.plan.workPackage
                    }}</span>
                    <span class="title">{{
                      'SIMPLE_PROJECTS' | translate
                    }}</span>
                  </div>
                  <div class="feature">
                    <span class="count">{{
                      NumberHelpers.humanFileSize(
                        identityService.profile.plan.space
                      )
                    }}</span>
                    <span class="title">{{ 'DISK_SPACE' | translate }}</span>
                  </div>
                  <div class="feature">
                    <span class="count">{{
                      identityService.profile.plan.users
                    }}</span>
                    <span class="title">{{ 'USERS' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>

            <ng-container *ngFor="let plan of data.plans">
              <div
                (click)="pick(plan)"
                *ngIf="plan.type !== PlanType.Custom"
                class="box"
                [class.next]="plan.canUse"
              >
                <div class="plan" [class.selected]="selectedPlan === plan">
                  <div class="p-header">
                    {{ plan.title | translate }}
                  </div>
                  <div class="p-sub">
                    <div class="price">
                      {{ calculatePlanPrice(plan.planCost) | number }}
                    </div>
                    <div class="duration">
                      <span class="days">{{
                        order.duration === OrderDuration.Yearly
                          ? 365
                          : plan.days
                      }}</span>
                      <span>{{ 'DAYS' | translate }}</span>
                    </div>
                  </div>
                  <div class="features">
                    <div class="feature">
                      <span class="count">{{ plan.simpleGroup }}</span>
                      <span class="title">{{
                        'SIMPLE_GROUP' | translate
                      }}</span>
                    </div>
                    <div class="feature">
                      <span class="count">{{ plan.complexGroup }}</span>
                      <span class="title">{{
                        'COMPLEX_GROUP' | translate
                      }}</span>
                    </div>
                    <div class="feature">
                      <span class="count">{{ plan.project }}</span>
                      <span class="title">{{
                        'WBS_PROJECTS' | translate
                      }}</span>
                    </div>
                    <div class="feature">
                      <span class="count">{{ plan.workPackage }}</span>
                      <span class="title">{{
                        'SIMPLE_PROJECTS' | translate
                      }}</span>
                    </div>
                    <div class="feature">
                      <span class="count">{{
                        NumberHelpers.humanFileSize(plan.diskSpace)
                      }}</span>
                      <span class="title">{{ 'DISK_SPACE' | translate }}</span>
                    </div>
                    <div class="feature">
                      <span class="count">{{ plan.users }}</span>
                      <span class="title">{{ 'USERS' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                (click)="pick(plan)"
                *ngIf="plan.type === PlanType.Custom"
                class="box next"
              >
                <div class="plan" [class.selected]="selectedPlan === plan">
                  <div class="p-header">
                    {{ 'CUSTOM_PLAN' | translate }}
                  </div>
                  <div class="p-sub">
                    <div class="price">
                      <div class="free">{{ 'NEED_CALCULATE' | translate }}</div>
                    </div>
                    <div class="duration">
                      <span class="days">&nbsp;</span>
                      <span>&nbsp;</span>
                    </div>
                  </div>
                  <div class="features">
                    {{ 'ESTIMATE_YOUR_NEED_ALT' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button (click)="next($event)" mat-flat-button [color]="'primary'">
          {{ 'CONTINUE' | translate: true }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="mode === ViewMode.Choose">
      <div class="modal-body upgrade">
        <div class="box-container">
          <div *ngIf="order.type === OrderType.Patch" class="upgrade-notice">
            {{
              'DIFF_UNTIL'
                | translate
                | stringFormat: (data.mine.expireAt | culturedDate)
            }}
          </div>
          <div class="order-item">
            <div class="title">
              <i class="icon-server"></i>
              {{ 'DISK_SPACE' | translate }}
            </div>
            <div class="slider">
              <div class="current">
                {{
                  NumberHelpers.humanFileSize(
                    identityService.profile.plan.space
                  )
                }}
              </div>
              <mat-slider
                [min]="identityService.profile.plan.space"
                [(value)]="order.diskSpace"
                (valueChange)="calculateSpaceCost()"
                [displayWith]="formatSpaceLabel"
                color="primary"
                thumbLabel
                max="107374182400"
                step="1073741824"
              ></mat-slider>
              <div class="current">100 GB</div>
            </div>
            <div class="estimated-price">
              {{ order.spaceCost | number }}
            </div>
          </div>
          <div class="order-item">
            <div class="title">
              <i class="icon-users2"></i>
              {{ 'USERS' | translate }}
            </div>
            <div class="slider">
              <div class="current">
                {{ identityService.profile.plan.users }}
              </div>
              <mat-slider
                [min]="identityService.profile.plan.users"
                [(value)]="order.users"
                (valueChange)="calculateUserCost()"
                color="primary"
                thumbLabel
                max="500"
                step="1"
              ></mat-slider>
              <div class="current">500</div>
            </div>
            <div class="estimated-price">
              {{ order.usersCost | number }}
            </div>
          </div>
          <div class="order-item">
            <div class="title">
              <i class="icon-team"></i>
              {{ 'SIMPLE_GROUP' | translate }}
            </div>
            <div class="slider">
              <div class="current">
                {{ identityService.profile.plan.simpleGroup }}
              </div>
              <mat-slider
                [min]="identityService.profile.plan.simpleGroup"
                [(value)]="order.simpleGroup"
                (valueChange)="calculateSimpleGroupCost()"
                color="primary"
                thumbLabel
                max="500"
                step="1"
              ></mat-slider>
              <div class="current">500</div>
            </div>
            <div class="estimated-price">
              {{ order.simpleGroupCost | number }}
            </div>
          </div>
          <div class="order-item">
            <div class="title">
              <i class="icon-tree7"></i>
              {{ 'COMPLEX_GROUP' | translate }}
            </div>
            <div class="slider">
              <div class="current">
                {{ identityService.profile.plan.complexGroup }}
              </div>
              <mat-slider
                [min]="identityService.profile.plan.complexGroup"
                [(value)]="order.complexGroup"
                (valueChange)="calculateComplexGroupCost()"
                color="primary"
                thumbLabel
                max="500"
                step="1"
              ></mat-slider>
              <div class="current">500</div>
            </div>
            <div class="estimated-price">
              {{ order.complexGroupCost | number }}
            </div>
          </div>
          <div class="order-item">
            <div class="title">
              <i class="icon-workpackage"></i>
              {{ 'SIMPLE_PROJECTS' | translate }}
            </div>
            <div class="slider">
              <div class="current">
                {{ identityService.profile.plan.workPackage }}
              </div>
              <mat-slider
                [min]="identityService.profile.plan.workPackage"
                [(value)]="order.workPackage"
                (valueChange)="calculatePackageCost()"
                color="primary"
                thumbLabel
                max="500"
                step="1"
              ></mat-slider>
              <div class="current">500</div>
            </div>
            <div class="estimated-price">
              {{ order.workPackageCost | number }}
            </div>
          </div>
          <div class="order-item">
            <div class="title">
              <i class="icon-project"></i>
              {{ 'WBS_PROJECTS' | translate }}
            </div>
            <div class="slider">
              <div class="current">
                {{ identityService.profile.plan.project }}
              </div>
              <mat-slider
                [min]="identityService.profile.plan.project"
                [(value)]="order.project"
                (valueChange)="calculateProjectCost()"
                color="primary"
                thumbLabel
                max="500"
                step="1"
              ></mat-slider>
              <div class="current">500</div>
            </div>
            <div class="estimated-price">
              {{ order.projectCost | number }}
            </div>
          </div>
          <div class="order-item total">
            <div class="title">
              <i class="ikon-coin-dollar"></i>
              {{ 'TOTAL_PRICE' | translate }}
            </div>
            <div class="slider"></div>
            <div class="estimated-price">
              {{ basedOn.unit | enum: 'CostUnit' }}&nbsp;{{
                order.calculatedPrice | number
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          [disabled]="!order.calculatedPrice || actionWaiting"
          (click)="next($event)"
          mat-flat-button
          [color]="'primary'"
        >
          {{ 'CONTINUE' | translate: true }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="mode === ViewMode.Factor">
      <div class="modal-body upgrade">
        <div class="box-container">
          <div class="payment-box discount">
            <h2>{{ 'DO_YOU_HAVE_DISCOUNT' | translate }}</h2>
            <div class="discount-container">
              <input
                type="text"
                [(ngModel)]="order.discountCode"
                [readOnly]="
                  checkingDiscount || discountApplied || actionWaiting
                "
                [placeholder]="'DISCOUNT_CODE' | translate"
              />
              <button
                mat-stroked-button
                [disabled]="
                  actionWaiting || checkingDiscount || !order.discountCode
                "
                (click)="checkDiscount()"
              >
                <i *ngIf="checkingDiscount" class="icon-spin icon-spinner2"></i>
                {{ 'CHECK_CODE' | translate }}
              </button>
            </div>

            <div *ngIf="discountResult.expired" class="upgrade-notice">
              {{ 'DISCOUNT_EXPIRED' | translate }}
            </div>
            <div *ngIf="discountResult.invalid" class="upgrade-notice">
              {{ 'DISCOUNT_INVALID' | translate }}
            </div>
            <div *ngIf="discountResult.invalidPlan" class="upgrade-notice">
              {{ 'DISCOUNT_INVALID_PLAN' | translate }}
            </div>
            <div *ngIf="discountResult.alreadyUsed" class="upgrade-notice">
              {{ 'DISCOUNT_USED' | translate }}
            </div>

            <div
              *ngIf="
                order.type === OrderType.Change &&
                identityService.profile.plan.type !== PlanType.Free
              "
              class="upgrade-notice"
            >
              {{ 'UPGRADE_NOTICE' | translate }}
            </div>
            <div class="pay-now">
              <br />
              <mat-radio-group
                [disabled]="actionWaiting"
                [(ngModel)]="order.payNow"
                class="items"
              >
                <mat-radio-button class="border" color="primary" [value]="true">
                  {{ 'PAY_NOW' | translate }}
                </mat-radio-button>
                <mat-radio-button
                  class="border"
                  color="primary"
                  [value]="false"
                >
                  {{ 'PAY_LATER' | translate }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="payment-box bg">
            <div class="price-row">
              <div class="title">{{ 'TOTAL_PRICE' | translate }}</div>
              <div class="amount">{{ order.calculatedPrice | number }}</div>
            </div>
            <div class="price-row">
              <div class="title">{{ 'APPLIED_DISCOUNT' | translate }}</div>
              <div class="amount">- {{ order.appliedDiscount | number }}</div>
            </div>
<!--            <div class="price-row">-->
<!--              <div class="title">{{ 'VALUE_ADDED' | translate }}</div>-->
<!--              <div class="amount">+ {{ order.valueAdded | number }}</div>-->
<!--            </div>-->
            <div class="price-row">
              <div class="title">{{ 'FINAL_PRICE' | translate }}</div>
              <div class="amount">
                {{
                  order.calculatedPrice -
                    order.appliedDiscount +
                    order.valueAdded | number
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          (click)="createFactor()"
          [disabled]="actionWaiting || !order.calculatedPrice"
          mat-flat-button
          [color]="'primary'"
        >
          <i *ngIf="actionWaiting" class="icon-spinner2 icon-spin"></i>
          {{ 'CREATE_BILL' | translate: true }}
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>
