.storage-files {
  height: 100%;
  .header {
    h2 {
      padding: 20px;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .body {
    min-height: 500px;
    background: #f2f2f2;
    position: relative;

    .fake-header {
      position: absolute;
      width: 100%;
      height: 48px;
      background-color: #fff;
      top: 0;
      left: 0;
    }

    .relative {
      position: relative;
      .action-bar {
        cursor: pointer;
        position: absolute;
        width: 100%;
        z-index: 10;
        display: flex;
        padding-top: 25px;
        .space {
          display: flex;
          flex-grow: 1;
          -webkit-box-flex: 1;
        }
        .commands {
          display: flex;
          width: 300px;
          button {

          }
        }
        .views {
          width: 50px;
          text-align: center;
          i {
            color: #b3b3b3;
            &.active {
              color: #333333;
            }
          }
        }
      }
    }
  }
}
