.storage-files {
  height: calc(100vh - 57px) !important;
  background: #f2f2f2;
  .header {
    background: #ffffff;
    h2 {
      padding: 20px;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
  .body {
    min-height: 500px;
    background: #f2f2f2;
    position: relative;

    .fake-header {
      position: absolute;
      width: 100%;
      height: 48px;
      background-color: #fff;
      top: 0;
      left: 0;
    }

    .upload-container {
      width: 300px;
      max-height: 400px;
      position: fixed;
      bottom: 0;
      right: 0;
      background: #ffffff;
      z-index: 10;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

      .header {
        display: flex;
        background: #6b3d8d;
        color: #fff;
        font-size: 0.9rem;

        .title {
          display: flex;
          flex-grow: 1;
          -webkit-box-flex: 1;
          padding: 10px;
        }

        .close {
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
        }
      }

      .uploading {
        .item {
          background: #f2f2f2;
          margin: 5px;
          border-radius: 5px;
          position: relative;

          .progressbar-container {
            height: 35px;

            .progress {
              height: 35px;
              background: #dbcde3;
              border-radius: 5px;
            }
          }
          .info {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            display: flex;

            .name {
              display: flex;
              font-size: 0.8rem;
              font-weight: 500;
              padding: 8px;
              flex-grow: 1;
              -webkit-box-flex: 1;
            }
            .cancel {
              display: flex;
              width: 30px;
              justify-content: center;
              align-content: center;
              font-size: 0.5rem;
              i {
                background: #e6e6e6;
                padding: 4px;
                border-radius: 10px;
                color: #999999;
                height: 17px;
                margin-top: 8px;
              }
            }
          }

          &.success {
            .progress {
              background: #ddf2e5 !important;
            }

            .cancel {
              i {
                background: #cde9d7 !important;
                color: #3d8f4d !important;
              }
            }
          }
          &.failed {
            .progress {
              background: #f4e3e3 !important;
            }
            .cancel {
              i {
                background: #eecfcf !important;
                color: #b63d3c !important;
              }
            }
          }
        }
      }
    }
  }
}
