<div class="storage-files">
  <div class="header"></div>
  <div class="body">
    <div class="fake-header"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 wrapper">
          <div class="title">{{ 'FILES' | translate }}</div>
          <mat-tab-group [(selectedIndex)]="tab" animationDuration="0ms">
            <mat-tab [label]="'MY_FILES' | translate"><ng-template matTabContent></ng-template></mat-tab>
            <mat-tab *ngIf="sharedAnyThing" [label]="'MY_SHARED_FILES' | translate"><ng-template matTabContent></ng-template></mat-tab>
            <mat-tab *ngIf="sharedAnyThing" [label]="'SHARED_FILES_WITH_ME' | translate"><ng-template matTabContent></ng-template></mat-tab></mat-tab-group>
        </div>
      </div>
      <div class="row" *ngIf="tab === ViewMode.Mine">
        <div class="col-md-12">
          <app-files-explorer [private]="true"></app-files-explorer>
        </div>
      </div>
      <div class="row" *ngIf="tab === ViewMode.SharedByMe">
        <div class="col-md-12">
          <app-files-explorer [sharedByMe]="true"></app-files-explorer>
        </div>
      </div>
      <div class="row" *ngIf="tab === ViewMode.SharedByOthers">
        <div class="col-md-12">
          <app-files-explorer [sharedByMe]="false"></app-files-explorer>
        </div>
      </div>
    </div>
    <div *ngIf="filesService.uploading.length" class="upload-container">
      <div class="header">
        <div class="title">
          {{
            'CURRENTLY_UPLOADING_FILES'
              | translate
              | stringFormat: filesService.uploading.length
          }}
        </div>
        <div class="close" (click)="hide()">
          <i class="icon-cross"></i>
        </div>
      </div>
      <div class="uploading">
        <div
          *ngFor="let upload of filesService.uploading"
          [class.success]="upload.success"
          [class.failed]="upload.failed"
          class="item"
        >
          <div class="progressbar-container">
            <div class="progress" [style.width.%]="upload.progress"></div>
          </div>
          <div class="info">
            <div class="name">{{ upload.name }}</div>
            <div class="cancel">
              <i
                *ngIf="!upload.success && !upload.failed"
                class="icon-cross"
              ></i>
              <i *ngIf="upload.success" class="icon-checkmark3"></i>
              <i *ngIf="upload.failed" class="icon-warning2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-messenger-shortcut></app-messenger-shortcut>
