<div class="group-members">
  <div class="title">
    <h2>{{ 'MEMBERS' | translate }}</h2>
  </div>
  <div class="box">
    <div class="filter">
      <input
        [(ngModel)]="filter"
        [placeholder]="'MEMBER_SEARCH' | translate"
        type="text"
      />
    </div>
    <div class="members">
      <div
        *ngFor="let member of group.members | search: query:filter"
        class="member"
      >
        <div class="info">
          <app-member-info [model]="member"></app-member-info>
        </div>
        <div class="status"></div>
        <div class="actions">
          <app-access-list [(access)]="member.access"></app-access-list>&nbsp;
          <button *ngIf="member.access !== AccessType.Owner" mat-flat-button color="warn">
            {{ 'REMOVE_ACCESS' | translate }}
          </button>
          <button *ngIf="member.access === AccessType.Owner" mat-flat-button color="accent">
            {{ 'TRANSFER_OWNERSHIP' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
