.form-group {
  & > label {
    font-size: 13px;
  }

  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 15px !important;
}
::ng-deep .af-textbox.form-group,
::ng-deep .form-element-item {
  margin-bottom: 0 !important;
}

::ng-deep .phone-verification {
  margin: 0 !important;
}
::ng-deep .has-error .af-textbox,
::ng-deep .has-error .phone-verification {
  input {
    border-color: #ff3547 !important;
  }
}
::ng-deep .af-captcha {
  width: auto !important;
  input {
    width: calc(100% - 80px) !important;
  }
}
::ng-deep .has-error .af-captcha {
  border-color: #ff3547 !important;
}

.actions {
  padding-top: 30px;
  text-align: center;
}
.actions button[color='primary'] {
  color: #fff;
}
.icon-spin {
  font-size: 1rem;
}
