<div class="account-profile-transactions">
  <table mat-table [dataSource]="dataSource">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> {{ 'TITLE' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>  {{ 'AMOUNT' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.amount | number}} </td>
    </ng-container>

    <!-- Created at Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>  {{ 'CREATED_AT' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | culturedDate}} </td>
    </ng-container>

    <!-- Due at Column -->
    <ng-container matColumnDef="dueAt">
      <th mat-header-cell *matHeaderCellDef>  {{ 'DUE_AT' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.dueAt | culturedDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="previousDebt">
      <th mat-header-cell *matHeaderCellDef> {{ 'PREVIOUS_DEBT' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.previousDebt | number}} </td>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
      <td mat-cell *matCellDef="let element"> &nbsp; </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>-->
</div>
