<div class="account-profile-transactions">
  transactions works!
  <!--  <table mat-table [dataSource]="dataSource">-->
  <!--    &lt;!&ndash; Title Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="title">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{ 'TITLE' | translate }}</th>-->
  <!--      <td mat-cell *matCellDef="let element">{{ element.title }}</td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Amount Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="amount">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{ 'AMOUNT' | translate }}</th>-->
  <!--      <td mat-cell *matCellDef="let element">{{ element.amount | number }}</td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Created at Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="createdAt">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{ 'CREATED_AT' | translate }}</th>-->
  <!--      <td mat-cell *matCellDef="let element">-->
  <!--        {{ element.createdAt | culturedDate }}-->
  <!--      </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Due at Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="dueAt">-->
  <!--      <th mat-header-cell *matHeaderCellDef>{{ 'DUE_AT' | translate }}</th>-->
  <!--      <td mat-cell *matCellDef="let element">-->
  <!--        {{ element.dueAt | culturedDate }}-->
  <!--      </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="previousDebt">-->
  <!--      <th mat-header-cell *matHeaderCellDef>-->
  <!--        {{ 'PREVIOUS_DEBT' | translate }}-->
  <!--      </th>-->
  <!--      <td mat-cell *matCellDef="let element">-->
  <!--        {{ element.previousDebt | number }}-->
  <!--      </td>-->
  <!--    </ng-container>-->

  <!--    &lt;!&ndash; Download Column &ndash;&gt;-->
  <!--    <ng-container matColumnDef="download">-->
  <!--      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>-->
  <!--      <td mat-cell *matCellDef="let element">-->
  <!--        &nbsp;-->
  <!--        <i class="icon-download4"></i>-->
  <!--      </td>-->
  <!--    </ng-container>-->

  <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>-->
  <!--  </table>-->

  <!--  <mat-paginator showFirstLastButtons></mat-paginator>-->
</div>
