.app-kartabl-container {

  &.empty {
    padding: 30px;
    background: #ffffff;

    .no-item {
      padding: 20px;
      background: #efefef;
      border-radius: 10px;

      h3 {
        font-weight: 500;
        font-size: 0.9rem;
      }
      h4 {
        font-weight: 400;
        font-size: 0.8rem;
      }
    }

  }

  .header {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
  }
}
