<div class="outer" (click)="onCancel($event)">
  <div
    class="modal-content bulk-download-modal"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-header">
      <h4 class="modal-title">
        {{ 'BULK_DOWNLOAD' | translate : true }}
      </h4>
      <button (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="downloads row">
        <div class="download col-md-3" *ngFor="let download of model">
          <app-checkbox
            [(model)]="download.selected"
            [label]="download.text"
          ></app-checkbox>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="actionWaiting"
        (click)="onAction($event)"
        mat-flat-button
        color="primary"
      >
        <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>
        {{ 'BULK_DOWNLOAD' | translate : true }}</button
      >&nbsp;
      <button (click)="onCancel($event)" mat-button>
        {{ 'CANCEL' | translate : true }}
      </button>
    </div>
  </div>
</div>
