.advanced-player-modal {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;

  .modal-header button.action i {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444444;
  }

  .modal-body {
    padding: 0;
  }

  .advanced-player-container {
    display: flex;
    .canvas-container {
      display: flex;
      width: calc(100% - 250px);
      background: #c5c5c5;

      .video-wrapper {
        width: calc(100vw - 250px);
        overflow: hidden;
        ::ng-deep video {
          width: 100%;
        }
        ::ng-deep .controls {
          direction: ltr;
        }
      }
    }
    .aside-container {
      background: #efefef;
      flex-direction: column;
      display: flex;
      width: 250px;
      min-height: calc(100vh - 42px);
      align-items: flex-start;
      .search-container {
        display: flex;
        align-items: center;
        margin: 5px;
        border: 1px solid #ddd;
        padding-inline-end: 5px;
        border-radius: 5px;
        input {
          width: 210px;
          margin-inline-end: 5px;
          border: none !important;
          background: none;
          padding: 5px;
        }
        i {
          font-size: 20px;
        }
      }

      //.new-comment-container {
      //  button {
      //    width: 100%;
      //  }
      //}

      .comments {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 5px;

        .comment {
          display: flex;
          flex-direction: column;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-bottom: 10px;
          padding: 5px;
          cursor: pointer;

          textarea {
            width: 100%;
            resize: none;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
