<div class="modal-content advanced-player-modal">
  <div class="modal-header">
    <button (click)="exportPdf()" class="action">
      <i class="icon-file-pdf"></i>
    </button>
    <h4>{{ 'ADVANCED_PLAYER' | translate: true }} - {{ attachment.title }}</h4>
    <button (click)="drawPicture()" class="action">
      <i class="icon-image4"></i>
    </button>
    <button (click)="drawArrow()" class="action">
      <i class="icon-arrow-up-right3"></i>
    </button>
    <button (click)="drawCircle()" class="action">
      <i class="icon-circle"></i>
    </button>
    <button (click)="drawRectangle()" class="action">
      <i class="icon-checkbox-unchecked"></i>
    </button>
    <button (click)="useEraser()" class="action">
      <i class="icon-eraser2"></i>
    </button>
    <button (click)="useBrush()" class="action">
      <i class="icon-marker"></i>
    </button>
    <button (click)="close()" class="close">
      <i class="icon-cross"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="advanced-player-container">
      <div class="aside-container">
        <div class="search-container">
          <input [readOnly]="waiting" [(ngModel)]="filter" type="text" [placeholder]="'SEARCH' | translate">
          <i class="icon-search"></i>
        </div>
        <div *ngIf="!addingComment" class="new-comment-container">
          <button mat-flat-button color="primary" (click)="newComment()" [disabled]="commentWaiting">
            {{ 'NEW_COMMENT' | translate}}
          </button>
        </div>
        <div class="comments">
          <div *ngIf="addingComment" class="comment">
            <textarea rows="4" [readOnly]="commentWaiting" [(ngModel)]="tempComment.message"></textarea>
            <div>
              <button mat-flat-button color="primary" (click)="saveComment()" [disabled]="commentWaiting">
                <i *ngIf="commentWaiting" class="icon-spin icon-spinner2"></i>
                {{ 'NEW_COMMENT' | translate}}
              </button>
              <button mat-flat-button (click)="tempComment = null;addingComment = false">
                {{ 'CANCEL' | translate}}
              </button>
            </div>
          </div>
          <div class="comment" *ngFor="let comment of data.comments">

            <ng-container *ngIf="comment.id === tempComment?.id">

              <textarea rows="4" [readOnly]="commentWaiting" [(ngModel)]="tempComment.message"></textarea>
              <div>
                <button mat-flat-button color="primary" (click)="saveComment()" [disabled]="commentWaiting">
                  <i *ngIf="commentWaiting" class="icon-spin icon-spinner2"></i>
                  {{ 'SAVE_CHANGES' | translate}}
                </button>
                <button mat-flat-button (click)="tempComment = null;addingComment = false">
                  {{ 'CANCEL' | translate}}
                </button>
              </div>

            </ng-container>

            <div (click)="goToComment(comment)" *ngIf="comment.id !== tempComment?.id">

              <div [innerHTML]="comment.message"></div>
              <hr>
              <i (click)="editComment(comment)" class="icon-pencil"></i>&nbsp;
              <i (click)="deleteComment(comment)" class="icon-delete"></i>&nbsp;

            </div>

          </div>
        </div>
      </div>
      <div class="canvas-container">
        <app-waiting *ngIf="waiting"></app-waiting>
        <div class="video-wrapper" [hidden]="waiting">
          <mat-video
            #player
            [title]="attachment.title"
            [autoplay]="false"
            [preload]="false"
            [fullscreen]="false"
            [download]="false"
            color="primary"
            spinner="spin"
            [poster]="attachment.thumbnailPath"
            [src]="attachment.path"
          ></mat-video>
        </div>
      </div>
    </div>
  </div>
</div>
