<div class="auth-page">
  <div class="container-fluid background-column">
    <div class="row">
      <div class="col-md-4 col-sm-6 form-column">
        <div class="auth-form">
          <div class="logo"></div>
          <h2 class="title">{{ "LOGIN_TO_YOUR_ACCOUNT" | translate }}</h2>
          <p class="more">
            {{ "IF_YOU_HAVE_ACCOUNT" | translate }},
            <a routerLink="/login">{{ "LOGIN_HERE" | translate }}</a>
          </p>
        </div>
      </div>
      <div class="col-md-8 empty-column"></div>
    </div>
  </div>
</div>
