.project-tree-animation {
  .actions {
    display: flex;
    margin-bottom: 10px;
    span {
      display: flex;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      background: #ffffff;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-inline-end: 10px;

      i {

      }
    }
    h3 {
      font-size: 0.9rem;
      font-weight: 500;
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin-bottom: 0;
    }
    button {
      max-height: 35px;
      background: #ffffff;
    }
  }
  .box {
    display: flex;
    flex-direction: column;

    .sub-projects-container, .work-packages-container {
      display: flex;
      flex-grow: 1;
    }
  }
}
