<div class="project-tree-animation no-select">
  <div class="actions">
    <span class="up-sub" (click)="goUp()" *ngIf="crumbs.length">
      <i class="icon-arrow-up8"></i>
    </span>
    <h3>{{ crumbPath() }}</h3>
    <button [disabled]="waiting" [matMenuTriggerFor]="menu" mat-stroked-button>
      <i class="icon-plus2"></i>&nbsp;
      {{ 'CREATE' | translate }}
    </button>
  </div>
  <app-waiting *ngIf="waiting"></app-waiting>
  <div *ngIf="!waiting" class="box">
    <div
      class="sub-projects-container"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="subProjects"
      (cdkDropListDropped)="dropSubProject($event)"
    >
      <div
        class="sub-container"
        *ngFor="let subProject of subProjects"
        [cdkDragStartDelay]="dragDelay"
        [cdkDragData]="subProject"
        [cdkDragDisabled]="noDrag || subProjects.length === 1"
        cdkDrag
      >
        <app-project-tree-animation-node
          [permission]="permission"
          [data]="data"
          (dropWorkPackage)="dropWorkPackage($event)"
          (dropSubProject)="dropSubProject($event)"
          (deleteSubProject)="deleteSubProject($event)"
          (editSubProject)="editSubProject($event)"
          (createSubProject)="newSubProject($event)"
          (createWorkPackage)="newWorkPackage($event)"
          (subProjectSelect)="openSubProject($event)"
          [level]="1"
          [project]="model"
          [subProject]="subProject"
          [reCreate]="reCreate"
        ></app-project-tree-animation-node>
      </div>
    </div>
    <div
      class="work-packages-container"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="workPackages"
      (cdkDropListDropped)="dropWorkPackage($event)"
    >
      <div
        class="work-package-container"
        *ngFor="let workPackage of workPackages"
        [cdkDragDisabled]="noDrag"
        [cdkDragStartDelay]="dragDelay"
        [cdkDragData]="workPackage"
        cdkDrag
      >
        <app-project-tree-animation-node
          [data]="data"
          (dropWorkPackage)="dropWorkPackage($event)"
          [permission]="permission"
          [level]="1"
          [project]="model"
          [workPackage]="workPackage"
          [reCreate]="reCreate"
          (click)="openWorkPackage(workPackage)"
        ></app-project-tree-animation-node>
      </div>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button (click)="newSubProject(current()?.id)" mat-menu-item>
    <i class="icon-tree7"></i>
    {{ 'NEW_SUB_PROJECT' | translate }}
  </button>
  <button (click)="newWorkPackage(current()?.id)" mat-menu-item>
    <i class="icon-workpackage"></i>
    {{ 'NEW_WORK_PACKAGE' | translate }}
  </button>
</mat-menu>
