$color1: #313131;
$color2: #3b3b3b;
$color3: #59a8ef;
$color4: #999999;
$color5: #ffffff;
$color6: #b3b3b3;

body.dark-mode {
  background: $color1 !important;
  color: $color4 !important;

  hr,
  .mat-radio-button.border {
    border-color: $color2 !important;
  }

  ::-webkit-scrollbar {
    background: #333333;
  }

  ::-webkit-scrollbar-thumb {
    background: #777777;
    -webkit-box-shadow: none;
  }

  ::-webkit-scrollbar-corner {
    background: #333333;
  }

  .modal-body {
    .af-form-elements {
      input,
      textarea {
        background: transparent !important;
        color: $color4;
      }
    }

    &.map-members {
      .af-form-elements {
        input,
        textarea {
          background: $color2 !important;
          border: none !important;
          color: $color4;
        }
      }
    }

    &.upgrade {
      .box-container .box .plan {
        background: $color2 !important;

        .price .free {
          color: inherit !important;
        }
      }

      .order-item {
        background: $color2 !important;
        &.total {
          border-top: none !important;
        }
      }
      .payment-box {
        &.bg {
          background: $color2 !important;
        }
        .discount-container {
          input {
            background: $color2 !important;
            border: none !important;
            color: $color4 !important;
          }
          button {
            background: $color3 !important;
            color: $color5 !important;
          }
        }
      }
    }
  }

  .modal-content {
    background: $color1;
  }

  .archived-groups,
  .archived-projects {
    .no-item {
      background-color: $color1 !important;
      color: $color4 !important;
    }
  }

  .fake-header {
    background-color: $color1 !important;
  }

  .waiting-container {
    background-image: url('/assets/images/logo-dark.svg') !important;

    .waiting-spinner::before {
      border-color: $color3 !important;
    }
  }

  .actions button:not(:disabled) {
    background-color: $color2 !important;
  }

  .app-header {
    border-color: $color3 !important;

    a,
    .quick-access,
    .tasks {
      color: $color3 !important;
    }

    .create-button {
      background-color: $color3 !important;
    }

    .search-container {
      border-color: $color3 !important;

      input {
        background: transparent;
        color: $color5;
      }
    }

    .account-info {
      color: $color3 !important;
      border: 1px solid $color3 !important;
      background: $color1 !important;
    }

    .quick-access-popper {
      background: $color1 !important;

      .quick-access-container {
        h3 {
          color: $color4 !important;
        }

        .project-item,
        .group-item,
        .no-item {
          background: $color2 !important;
        }
      }
    }
  }
  .filters-popper {
    background: $color1 !important;
  }

  .invite-group {
    .groups {
      .group {
        border-bottom: 1px solid $color2 !important;
      }
    }
  }

  .af-dropdown {
    button {
      border: none !important;
      color: $color4 !important;
      background: $color2 !important;
    }
  }

  .af-textbox {
    input {
      border: none !important;
      color: $color4 !important;
      background: $color2 !important;
    }
  }

  .file-folder-preview {
    .info {
      .title {
        color: $color4 !important;
      }
    }

    &.file-item {
      border-color: $color2 !important;
    }

    .preview {
      background: $color2 !important;
    }
    &.selected {
      background: $color2 !important;

      .preview {
        background: $color1 !important;
      }
      .selected {
        background: $color3 !important;
      }
    }
  }

  .project-info,
  .group-info:not(.small),
  .member-info:not(.small) {
    background: $color1 !important;
    color: $color4 !important;

    .info {
      .name {
        color: $color4 !important;
      }
    }
  }

  .project-info {
    .item {
      background: $color2 !important;
      color: $color4 !important;
    }
  }

  .shortcut-messenger-container {
    .category {
      background: $color2 !important;
    }
    .header {
      border-color: $color2 !important;
    }
  }
  .group-info.small {
    background: transparent !important;
  }

  .af-validation-messages {
    li {
      background: transparent !important;
      color: $color3 !important;
    }
  }

  .dashboard {
    .section {
      .content {
        background: $color2 !important;

        .wrapper {
          background: $color1 !important;
        }
      }

      .task {
        background: $color2 !important;
        color: $color4 !important;

        .title {
          color: $color4 !important;
        }
      }
    }

    .task-wrapper {
      background: $color1 !important;
    }

    .task {
      .status-container {
        background: $color1 !important;

        .text {
          color: $color4 !important;
        }
      }
    }

    .overall-report {
      color: $color4;
    }

    .af-calendar {
      background: $color1 !important;

      th,
      td {
        color: $color4;
      }
    }
  }

  .search-popper {
    background: $color2 !important;
  }
  .search-result {
    .box {
      .title {
        color: $color6 !important;
      }
      .member {
        background: $color1 !important;
        &:hover {
          background: $color1 !important;
        }
      }
      .folder {
        &:hover {
          background: $color1 !important;
        }
        i {
          color: $color4 !important;
        }
        .info {
          .name {
            color: $color4 !important;
          }
          .date {
            color: #808080 !important;
          }
        }
      }
      .file {
        &:hover {
          background: $color1 !important;
        }
        i {
          color: $color4 !important;
        }
        .info {
          .name {
            color: $color4 !important;
          }
          .date {
            color: #808080 !important;
          }
        }
      }

      ::ng-deep .group-info {
        &:hover {
          background: $color1 !important;
        }
        border: none;
      }

      ::ng-deep .project-info-mini {
        &:hover {
          background: $color1 !important;
        }
        i {
          color: #999999 !important;
        }
        .name {
          color: #333333 !important;
        }
        .description {
          color: #808080 !important;
        }
      }
    }

    .tasks {
      .task {
        border: 2px solid $color1 !important;
        .info {
          .title {
            color: $color4 !important;
          }
          .description {
            color: $color4 !important;
          }
        }

        .more {
          border-top: 2px solid $color1 !important;
        }

        &:hover {
          border: 2px solid $color2 !important;
          background: $color1 !important;

          .more {
            border-top: 2px solid $color2 !important;
          }
        }
      }
    }
  }
  .account-profile,
  .group-page {
    .header {
      .avatar-container {
        background: $color2 !important;
      }
      .email,
      .phone {
        color: $color4 !important;
      }
    }

    .body {
      background: $color2 !important;
    }
  }

  .outer {
    .group-detail {
      background: $color1 !important;
      color: $color4 !important;

      input,
      textarea,
      .value,
      .date {
        border: none !important;
        background: $color2 !important;
        color: $color4 !important;
      }
    }
  }

  .shortcut-messenger-container {
    background: $color1 !important;

    .header span {
      color: $color4 !important;
    }
  }

  .conversation-block .date-grouped {
    .date {
      background: none !important;
      color: $color3 !important;
    }

    .message .text {
      .wrapper .name,
      .text-message {
        color: $color4 !important;
      }
    }
  }

  .messenger-container {
    .members-container .filter .wrapper input {
      background: transparent !important;
      border: none !important;
      color: $color3 !important;
    }

    .aside,
    .aside-header,
    .channel-header {
      border-color: $color2 !important;

      .action-container {
        button {
          color: inherit !important;
        }
      }
    }

    .aside-item {
      border-color: $color2 !important;

      .item {
        &:hover {
          background-color: $color2 !important;
        }

        &.selected {
          background-color: $color3 !important;
        }
      }
    }
  }

  .asoode-editor {
    background: $color5;
  }
  .confirm-modal {
    .modal-title,
    .modal-body h2,
    .modal-body h3 {
      color: $color3 !important;
    }
  }

  .group-setting {
    .box {
      .header {
        color: $color4 !important;
      }

      .body {
        background: $color1 !important;
      }
    }
  }

  .account-profile-plan {
    .head {
      background: transparent !important;
    }

    .box {
      background: $color1 !important;

      .header {
        color: $color4 !important;
      }

      .body {
        background: transparent !important;
      }
    }
  }

  .create-holder,
  .work-package-calendar-view {
    background: $color1 !important;
  }
  .calendar-month .grid-item--header {
    background: $color1 !important;
  }
  .calendar-month .grid-item .date {
    background: $color2 !important;
  }
  .calendar-month .grid-item {
    border-color: $color2 !important;
  }
  .attachment-item {
    &:hover {
      background: $color1 !important;
      border-color: $color2 !important;
    }
    .info {
      h4 {
        color: $color4 !important;
      }
    }
  }

  .account-profile-transactions {
    background: $color1 !important;
  }
  .human-resources,
  .account-profile-transactions {
    .mat-table th.mat-header-cell {
      background: $color1 !important;
    }
    .mat-table td.mat-cell {
      background: $color1 !important;
      color: $color4 !important;
    }
  }

  .group-page {
    .body {
      background: $color2 !important;

      .box {
        background: $color1 !important;
      }
    }
  }

  .group-chart .box .free .go-premium {
    background: $color2 !important;
    color: $color3 !important;
  }

  .group-members {
    input {
      border: none !important;
      background: $color2 !important;
      color: $color4 !important;
    }

    .member {
      border-color: $color2 !important;
    }
  }

  .group-projects {
    .no-item {
      background: $color1 !important;
      color: $color4 !important;
    }
  }

  .time-spent-container {
    .no-item {
      background: $color2 !important;
    }

    .grid-item--header {
      background: $color2 !important;
      border-color: $color2 !important;
    }

    .grid-item {
      border-color: $color2 !important;

      > .date {
        background: transparent !important;
        color: $color3 !important;
      }
    }

    .grid-col--fixed-right,
    .grid-col--fixed-left {
      .grid-item {
        color: $color4 !important;
        background: $color2 !important;
        border-color: $color2 !important;
      }
      background: $color2 !important;
    }
  }

  .human-resources {
    .box {
      .title {
        h3 {
          color: $color4 !important;
        }
      }
    }

    .mat-table th.mat-header-cell {
      background-color: $color1 !important;
    }
  }

  .project-tree {
    .actions {
      button {
        background-color: $color3 !important;
        color: $color5 !important;
      }
    }
  }

  ol.organizational-chart app-org-chart-node li > div {
    background: $color2 !important;

    .chart-node {
      border: none !important;
      background: $color2 !important;

      .info {
        .name {
          color: $color4 !important;
        }
      }
    }
  }

  .app-tasks-container {
    .body {
      background: $color2 !important;

      .app-kartabl-container.empty,
      .main-container {
        background: $color1 !important;

        .no-item {
          background: $color2 !important;
        }
      }

      .app-kartabl-container {
        .header {
          background: $color1 !important;
        }
      }

      .grid-item--header {
        background: $color2 !important;
        border-color: $color2 !important;
      }

      .grid-item {
        border-color: $color2 !important;

        > .date {
          background: transparent !important;
          color: $color3 !important;
        }
      }
    }
  }

  .list-item {
    .tasks {
      .task {
        background: $color2 !important;
        border-color: $color1 !important;

        .info {
          border-color: $color1 !important;

          .title,
          .detail {
            color: $color4 !important;
          }
        }

        .members,
        .date,
        .state,
        .labels,
        .time-spent {
          border-color: $color1 !important;
        }
      }
    }
  }

  .app-devices .box {
    background: $color1 !important;
  }

  .storage-files {
    background: $color2 !important;

    .body {
      background: $color2 !important;

      .files-shared {
        background: $color1 !important;
      }
    }
  }

  .invite-member {
    input {
      background: $color2 !important;
      border: none !important;
      color: $color4 !important;
    }
  }
  .mat-autocomplete-panel {
    .mat-option {
      background: $color1 !important;
      &:hover {
        background: $color2 !important;

        .member-info {
          background: $color2 !important;
        }
      }
    }
  }

  .activities-report .no-activity {
    background: $color1 !important;
  }

  .project-detail {
    background: $color1 !important;
    color: $color4 !important;

    .header {
      background: $color1 !important;
      color: $color4 !important;

      .info {
        h4 {
          color: $color4 !important;
        }

        .members {
          .member {
            i {
              background: $color2 !important;
              color: $color4 !important;
            }
          }
        }
      }
    }

    .inner-container {
      .aside {
        background: $color2 !important;
        color: $color4 !important;

        button.selected,
        button:hover {
          color: $color3 !important;
        }
      }

      .wrapper {
        border-color: $color3 !important;

        .project-road-map {
          .season {
            border-color: $color3 !important;

            .info .title span {
              color: $color3 !important;
            }
          }
        }
      }
    }
  }
  .project-tree-node {
    background: $color2 !important;
    color: $color4 !important;

    .node {
      border-color: $color1 !important;

      .title {
        i.sub,
        span {
          color: $color3 !important;
        }
      }

      .mat-progress-bar-buffer {
        background: $color1 !important;
      }
    }
  }
  .project-seasons {
    .list .item {
      background: $color2 !important;
      .title {
        color: inherit !important;
      }
    }
    .summary {
      h2 {
        color: inherit !important;
      }
    }
  }
  .project-objectives {
    .list .item {
      background: $color2 !important;
      .title {
        color: inherit !important;
      }
    }
    .summary,
    .empty {
      h2 {
        color: inherit !important;
      }
    }
  }
  .project-setting {
    .box {
      background: $color2 !important;

      .header {
        background: $color2 !important;
      }

      .member-info {
        background: $color2 !important;
      }
    }
  }

  .modal-header,
  .modal-alt-header {
    button {
      color: $color4 !important;
    }
  }

  .member-info-popper {
    background: $color1 !important;
  }

  .sub-tasks-wrapper {
    .sub-task {
      &:not(.add-sub) {
        &:hover {
          background: $color1 !important;
        }
      }
    }
    textarea {
      background: $color1;
      border: none !important;
    }
  }

  .work-package {
    background: $color2 !important;
    > .header {
      background: $color1 !important;
      border-bottom: 1px solid $color2 !important;

      .upgrade {
        button {
          background: $color2 !important;
          color: $color4 !important;
        }
      }

      .progress-wrapper {
        background: $color1 !important;
      }

      .objectives-container {
        button {
          .label {
            color: $color4 !important;
          }
          .badge {
            background: $color2 !important;
            color: $color4 !important;
          }
        }
      }

      .filters-container {
        span {
          background: $color2 !important;
          color: $color4 !important;
        }
      }
    }

    .setting-container {
      background: $color1 !important;

      .setting-header {
        border-color: $color2 !important;
      }
    }
    .board-lists .board-list {
      background: $color1 !important;
      .header {
        border-color: $color2 !important;
      }

      .task {
        .status-container {
          background: $color2 !important;
          .text {
            color: $color4 !important;
          }
        }
        .vote {
          background: $color2 !important;
          .sep {
            i {
              color: $color4 !important;
            }
            span {
              background: $color1 !important;
            }
          }
        }
        .title {
          color: $color4 !important;
        }
        .mat-progress-bar-fill::after {
          background-color: $color3 !important;
        }
        .mat-progress-bar-buffer {
          background: $color2 !important;
        }
      }

      .new-task {
        textarea,
        input {
          background: $color2 !important;
          border-color: transparent !important;
          color: $color4 !important;
        }
      }
    }
  }
  .task.archived {
    background: #555;
  }
  .group-info.small,
  .member-info.small {
    .initials {
      background: $color2 !important;
      color: $color4 !important;
    }
  }

  .af-date-picker {
    input {
      background: $color1 !important;
      color: $color4 !important;
      border: none !important;
    }
  }

  .af-calendar,
  .af-date-picker .ngxp__container {
    background: $color1 !important;
  }

  .duration-filter {
    .btns {
      button {
        color: $color1 !important;
        background: $color4 !important;
      }
    }
    .today {
      button {
        color: $color4 !important;
      }
    }
  }

  .mat-paginator {
    background: inherit !important;
    color: $color4 !important;

    .mat-icon-button {
      color: $color4 !important;
      cursor: pointer;
    }
  }
  .close-out-side {
    .task-wrapper {
      background: $color1 !important;
      > .header {
        .actions {
          button {
            background: $color3 !important;
            color: $color2 !important;
          }
        }
      }
      > .content {
        .info {
          .box {
            .status-container {
              background: $color1 !important;
              .text {
                color: $color5 !important;
              }
            }

            textarea,
            input {
              background: $color1 !important;
              color: $color4 !important;
              border: none !important;
            }

            background: $color2 !important;
            .title,
            .description {
              color: $color4 !important;
            }
          }
          .send {
            .text {
              border-color: $color1 !important;
              textarea {
                background: $color2 !important;
                color: $color4 !important;
              }
              button {
                i {
                  color: $color3 !important;
                }
              }
            }
          }
        }
        .detail {
          .tabs {
            li {
              background: none !important;
              &.active {
                background: $color2 !important;
                color: $color4 !important;
              }
            }
          }
          .tab-content {
            background: $color2 !important;
            .box-container {
              background: $color2 !important;
              .no-item {
                background: $color1 !important;
              }
            }
            .recorder {
              background: $color1 !important;
            }
            .vote {
              background: $color1 !important;
              .sep {
                i {
                  color: $color4 !important;
                }
                span {
                  background: $color2 !important;
                }
              }
            }
            .records {
              .record {
                border-color: $color1 !important;
              }
            }
            .no-records {
              background: $color1 !important;
            }
            .logs {
              .log {
                background: $color1 !important;
                border-color: $color2 !important;

                .full-name {
                  color: inherit !important;
                }
              }
            }
          }
        }
      }

      .records .record .total {
        color: $color4 !important;
      }
    }
  }
  .task-modal-labels-menu ul li .label {
    background: $color1 !important;
  }
  .task-wrapper .time-spent-container .time-log .recorder .btn .mat-mini-fab {
    background: $color1 !important;
  }

  .board-list {
    .task {
      .status .status-wrapper .status-container {
        background: $color2 !important;
        .text {
          color: $color4 !important;
        }
      }
      .title {
        color: $color4 !important;
      }
    }
  }
  .status-popper {
    background: $color1 !important;
    .status-container {
      border-color: $color2 !important;
    }

    ul {
      li:hover {
        background: $color2 !important;
      }
    }
  }

  .objectives-popper {
    background: $color1;
    box-shadow: none;
    color: $color4;
  }
  .structure-popper {
    background: $color1;
    box-shadow: none;
    color: $color4;

    ul {
      li {
        border-color: $color2 !important;

        &.sub {
          i {
            color: #b977f7;
          }
        }

        &.wp {
          cursor: pointer;
          i {
            color: #666;
          }

          &:hover, &.selected {
            background: $color2 !important;
          }
        }
      }
    }
  }
  .progress-report {
    background: $color1;
    .item {
      border-bottom-color: $color2 !important;
    }
  }

  .project-tree-animation {
    .actions {
      span {
        background: $color2 !important;
        color: $color4 !important;
      }
      h3 {
      }
      button {
        background: $color3 !important;
        color: $color5 !important;

        span {
          background: $color3 !important;
          color: $color5 !important;
        }
      }
    }
  }

  .project-tree-animation-node {
    background: $color2;
    border-color: transparent;

    .node {
      .title {
        background: $color3 !important;
        color: $color5 !important;
      }

      .progress {
        display: flex;
        align-items: center;
        padding: 10px;

        .mat-progress-bar-fill::after {
          background-color: $color3 !important;
        }

        .mat-progress-bar-buffer {
          background: $color1 !important;
        }
      }
    }
  }

  /* ANGULAR MATERIAL */

  .ngxp__container {
    border-color: $color3 !important;
  }

  .primary-color {
    color: $color3 !important;
  }

  .primary-bg-color,
  .mat-ink-bar {
    background-color: $color3 !important;
  }

  button.mat-primary {
    background-color: $color3 !important;
    color: $color5 !important;
  }

  .mat-progress-bar-fill::after {
    background-color: $color3;
  }

  .mat-progress-bar-buffer {
    background: $color2;
  }

  .mat-menu-panel {
    background: $color2 !important;

    .mat-menu-item {
      background: $color2 !important;
      color: $color4;

      &.has-description .title {
        font-weight: 500;
      }

      border-bottom: 1px solid $color1;
    }
  }

  .mat-checkbox-checked.mat-primary .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
    background-color: $color3 !important;
  }

  .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color3 !important;
  }

  .mat-radio-button.mat-primary .mat-radio-inner-circle,
  .mat-radio-button.mat-primary
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
    background-color: $color3 !important;
  }

  .mat-tab-group {
    .mat-tab-header {
      background: transparent !important;
    }

    .mat-tab-label-content {
      color: $color3 !important;
    }
  }

  .mat-table {
    th.mat-header-cell {
      background-color: $color2 !important;
      color: $color3 !important;
      font-size: 0.7rem;
      font-weight: 400;
    }
  }

  /* DRAG */

  @mixin task-drag {
    background: $color2 !important;
    border-bottom: 1px solid $color1 !important;
    .info {
      border-inline-end: 1px solid $color1 !important;
    }
    .members {
      border-inline-end: 1px solid $color1 !important;
    }
    .date {
      border-inline-end: 1px solid $color1 !important;
    }
    .time-spent {
      border-inline-end: 1px solid $color1 !important;
      color: #ef6a8c;
    }
    .state {
      border-inline-end: 1px solid $color1 !important;
    }
    .labels {
      border-inline-end: 1px solid $color1 !important;

      .label-item {
        color: #fff;
      }
    }
    .add {
      border: 1px dashed #666666;

      i {
        color: #666666;
      }
    }

    .status-container,
    .state {
      background: $color2 !important;
      .text {
        color: $color4 !important;
        background: $color2 !important;
      }
      .title {
        color: $color4 !important;
      }
    }
    .title {
      color: $color4 !important;
    }

    &.archived {
      .info {
        background: #555555;
      }
    }
    .add {
      border: 1px dashed #666666;

      i {
        color: #666666;
      }
    }
  }

  .cdk-drag-preview {
    &.board-list {
      background: $color1;
      .header {
        i {
          border: 1px dashed #cccccc;
        }

        span {
          color: $color4;
        }
      }

      .new-task {
        .wrapper {
          textarea {
            border: 1px dashed #cccccc;
            color: $color6;
          }
        }
      }
    }

    &.list-handler {
      background: $color1;
    }

    &.list-item {
      .tasks {
        .task {
          @include task-drag;
        }
      }
    }

    &.task {
      @include task-drag;
    }
  }
}
