@mixin task-drag {
  min-width: 1300px;
  display: flex;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  .label {
    display: flex;
    min-width: 4px;

    &.color-1 {
      background: #cccccc;
    }
    &.color-2 {
      background: #59a8ef;
    }
    &.color-3 {
      background: #5eb258;
    }
    &.color-4 {
      background: #666666;
    }
    &.color-5 {
      background: #b33634;
    }
    &.color-6 {
      background: #666666;
    }
    &.color-7 {
      background: #808080;
    }
    &.color-8 {
      background: #b3b3b3;
    }
    &.color-9 {
      background: #eb973e;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    border-inline-end: 1px solid #ececec;
    padding: 5px;
    flex-grow: 1;
    .title {
      font-size: 0.9rem;
      font-weight: 400;
      color: #333333;
    }
    .detail {
      min-height: 20px;
      display: flex;
      align-items: center;
      margin-top: 5px;

      .detail-wrapper {
        display: flex;
        color: #70818c;
        font-size: 0.8rem;
        align-items: center;
        margin-inline-end: 15px;

        > div {
          display: flex;
          align-items: center;
        }

        span {
          margin: 0 5px;
        }
      }
    }
  }
  .members {
    display: flex;
    min-width: 250px;
    max-width: 250px;
    border-inline-end: 1px solid #ececec;
    align-items: center;
  }
  .date {
    display: flex;
    min-width: 100px;
    max-width: 100px;
    border-inline-end: 1px solid #ececec;
    align-items: center;
  }
  .time-spent {
    display: flex;
    min-width: 100px;
    max-width: 100px;
    border-inline-end: 1px solid #ececec;
    align-items: center;
    justify-content: center;
    color: #ef6a8c;
  }
  .state {
    display: flex;
    min-width: 100px;
    max-width: 100px;
    border-inline-end: 1px solid #ececec;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    justify-content: center;
  }
  .labels {
    border-inline-end: 1px solid #ececec;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    min-width: 150px;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    .label-item {
      display: flex;
      margin-inline-end: 5px;
      border-radius: 5px;
      padding: 1px 10px;
      margin-bottom: 5px;
      font-size: 0.7rem;
      font-weight: 300;
      color: #fff;
      min-width: 40px;
      min-height: 10px;
      max-height: 30px;
    }
  }
  .add {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px dashed #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;

    i {
      color: #666666;
    }
  }
  &.archived {
    .info {
      background: #f7f7f7;
    }
  }
  .add {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px dashed #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;

    i {
      color: #666666;
    }
  }
}

.cdk-drag-preview {
  &.board-list {
    min-width: 250px;
    max-height: calc(100vh - 160px);
    background: #fff;
    border-radius: 5px;
    margin-inline-end: 20px;
    height: fit-content;

    &.empty {
      background: none;
    }

    .header {
      display: flex;
      padding: 10px 10px;
      align-items: center;
      cursor: pointer;
      i {
        display: flex;
        min-width: 20px;
        min-height: 20px;
        border: 1px dashed #cccccc;
        border-radius: 20px;
        font-size: 0.6rem;
        color: #b3b3b3;
        align-items: center;
        justify-content: center;
      }
      span {
        font-size: 0.8rem;
        color: #999999;
        font-weight: 400;
        flex-grow: 1;
        display: flex;
      }
    }

    .new-task {
      padding: 5px;
      .wrapper {
        display: flex;
        flex-direction: column;
        textarea {
          resize: none;
          margin-bottom: 5px;
          border: 1px dashed #cccccc;
          font-size: 0.8rem;
          color: #b3b3b3;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          button {
            max-width: 70px;
          }
        }
      }
    }

    .cards {
      padding: 10px;
      max-height: calc(100vh - 205px);
      overflow-y: auto;
    }
  }
  &.list-handler {
    background: #ffffff;
    border-radius: 5px;
  }

  &.list-item {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      span {
        font-size: 0.8rem;
        font-weight: 500;
        margin-inline-end: 10px;
      }
      i {
        font-size: 0.5rem;
      }
    }

    .tasks {
      display: flex;
      flex-direction: column;

      .task {
        @include task-drag;
      }
      .new-task {
        input {
          width: 500px;
          max-width: 100%;
          font-size: 0.8rem;
          padding: 10px;
        }
      }
    }
  }

  &.task {
    @include task-drag;
  }

  &.sub-task {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    &:not(.add-sub) {
      border: 1px solid #f2f2f2;
      border-inline-start: 5px solid #f2f2f2;
      &.color-1 {
        border-color: #cccccc;
      }
      &.color-2 {
        border-color: #59a8ef;
      }
      &.color-3 {
        border-color: #5eb258;
      }
      &.color-4 {
        border-color: #666666;
      }
      &.color-5 {
        border-color: #b33634;
      }
      &.color-6 {
        border-color: #666666;
      }
      &.color-7 {
        border-color: #808080;
      }
      &.color-8 {
        border-color: #b3b3b3;
      }
      &.color-9 {
        border-color: #eb973e;
      }
      &:hover {
        background: #f2f2f2;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      width: 300px;
      .title {
        font-weight: 500;
        font-size: 0.8rem;
      }
      .description {
        font-weight: 400;
        font-size: 0.7rem;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      min-width: 120px;
      .date {
        display: flex;
        align-items: center;

        span {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }
      .members {
        .member-info, .group-info {
          width: 25px !important;
          height: 25px !important;

          .initials-holder {
            width: 20px !important;
            height: 20px !important;
            min-width: 20px;

            .initials {
              width: 20px;
              height: 20px;
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}
