@import 'fonts';
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.4);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}

body {
  &.lang-fa {
    * {
      font-family: IRANSansFa;
      font-weight: 300;
    }
    .material-icons {
      font-family: 'Material Icons' !important;
    }
  }
  &.lang-en {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  &.dir-rtl {
    direction: rtl;
    text-align: right;
  }
  &.dir-ltr {
    direction: ltr;
    text-align: left;


    .shortcut-messenger-container {
      left: unset;
      right: 0;
    }

    .messenger-shortcut {
      left: unset;
      right: 20px;
    }

    .af-auto-complete {
      input {
        border-radius: 5px 0 0 5px !important;
      }
    }

    .invite-member {
      .af-dropdown button.dropdown-toggle {
        border-radius: 0 5px 5px 0 !important;
      }
    }

    .work-package {
      .setting-container {
        left: unset !important;
        right: 0 !important;
      }
    }

    .popper-search-content .ngxp__container{
      left: -30px;
    }
  }
}

.ltr {
  text-align: left !important;
  direction: ltr !important;
}
.icon-spin {
  display: inline-block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1800ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1800ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mat-menu-item.has-description {
  height: 46px;
  display: flex;
  flex-wrap: wrap;

  .title {
    display: flex;
    flex: 0 0 100%;
    line-height: 23px;
  }
  .sub-title {
    color: #999999;
    font-size: 0.7rem;
    line-height: 23px;
  }
}

.mat-menu-item.action-btn {
  .cnt {
    display: flex;
    align-content: baseline;

    i {
      font-size: 1rem;
      margin-inline-end: 5px;
      //display: flex;
      align-items: center;
      color: #50a9dd;

      &.x2 {
        font-size: 1.3rem;
      }
    }
    span {
      font-size: 0.8rem;
    }
  }
}
.primary-color {
  color: #6b3d8d !important;
}
.primary-bg-color {
  background-color: #6b3d8d !important;
}

.mat-button-base {
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  padding: 0;
}

.mat-fab.mat-warn,
.mat-flat-button.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
  background-color: #b33634;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #b977f7;
}
.mat-paginator-range-label {
  direction: ltr !important;
}
.ngxp__arrow {
  display: none !important;
}
app-waiting {
  flex-grow: 1;
  -webkit-box-flex: 1;
}
button:focus,
textarea:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

//button[disabled] {
//  [class^='icon-'],
//  [class*=' icon-'] {
//    color: #6b3d8d;
//  }
//}
.mat-tab-group {
  max-width: 100% !important;
  .mat-tab-header {
    background: #fff;
  }

  .mat-tab-label {
    min-width: auto !important;
  }
  .mat-tab-label-active {
    opacity: 1;
    .mat-tab-label-content {
      opacity: 1;
      font-weight: 600;
      color: #000;
    }
  }
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #b977f7;
}
.mat-table {
  width: 100%;
  th.mat-header-cell {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
[class^='icon-'],
[class*=' icon-'] {
  cursor: pointer;
}

[role='popper'] {
  border-color: #f2f2f2 !important;
  padding: 0 !important;
  z-index: 20;
}
.ql-syntax {
  direction: ltr;
  text-align: left;
}
.ql-picker-options {
  top: unset !important;
  bottom: 100%;
}
.ql-container {
  border-radius: 5px 5px 0 0 !important;
  border: 1px solid #e6e6e6 !important;
  border-bottom: none !important;
}
.ql-toolbar {
  border: 1px solid #e6e6e6 !important;
  //background: #f6f6f6 !important;
  border-top: none !important;
  border-radius: 0 0 5px 5px !important;
}
.ql-toolbar.ql-snow .ql-formats {
  margin: 0;
}
#emoji-palette {
  top: unset !important;
  bottom: 30px;
  .ap {
    margin-bottom: 10px;
  }
}
.textarea-emoji-control {
  display: none !important;
}
quill-editor[dir='rtl'] {
  .ql-editor {
    direction: rtl;
    text-align: right;
  }
  .ql-mention-list-container {
    left: unset !important;
  }
}
.ql-editor {
  padding: 12px 15px;
}
.ql-mention-list-container {
  display: flex;
  flex-direction: column;
}
.success-snack {
  background-color: #9be4ad;
  color: #333333;
}
.error-snack {
  background-color: #b33634;
  color: #ffffff;
}
.warning-snack {
  background-color: #e5d01d;
  color: #111111;
}

body {
  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;

    &.in {
      display: block;
    }

    .modal-alt-header {
      padding: 30px 30px 0;
      display: flex;
      align-items: baseline;

      .btn {
        display: flex;
        width: 40px;
        align-items: baseline;
        justify-content: center;
      }

      .text {
        display: flex;
        flex-grow: 1;
        justify-content: center;

        h4 {
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;

          i {
            font-size: 2rem;
          }
        }
      }

      button {
        background: none;
        border: none;
      }
    }

    .modal-header {
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 0 0;
      color: #666666;
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      display: flex;

      h4 {
        margin-bottom: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
      }

      button {
        border: none;
        background: none;
        width: 40px;
        height: 30px;
        color: #b3b3b3;
        position: relative;
        top: -3px;

        i {
          font-size: 0.6rem;
        }
      }
    }
    .modal-content {
      max-width: 98%;
      width: 600px;
      margin: min(20vh, 200px) auto;

      background: #fff;
      border-radius: 5px;

      &.create-modal {
        margin: 50px auto;
        width: 810px;
        max-width: 98%;
      }

      &.document-modal {
        width: 90vw;
        height: 80vh;
        margin: 50px auto;
      }
    }
    .modal-body {
      padding: 10px 15px;
      font-size: 0.8rem;
    }
    .modal-footer {
      padding: 30px 15px 20px;
      text-align: center;
    }
  }
  &.modal-open {
    overflow: hidden;
  }

  &.firefox {
    .modal-content {
      margin: 50px auto;
    }
  }
}

.mat-table {
  th.mat-header-cell {
    background-color: #f2f2f2 !important;
    color: #999999 !important;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-preview {
  z-index: 1050 !important;
}

.ngxp__container {
  box-shadow: none !important;
}
.mat-menu-panel {
  max-width: 300px !important;
  &.popper-all-users,
  &.popper-task-labels {
    max-width: 350px !important;
    width: 350px !important;
  }
}
.task-modal-labels-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      .label {
        display: flex;
        background: #f2f2f2;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0 5px 5px;
        border: 1px solid transparent;
        cursor: pointer;

        &.selected {
          border: 1px solid #59a8ef;
        }

        .title {
          display: flex;
          flex-grow: 1;
          margin-inline-end: 10px;

          span {
            font-size: 0.7rem;
            color: #fff;
            font-weight: 400;
            padding: 2px 5px;
            border-radius: 5px;
          }

          input {
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            padding: 2px 5px;
            font-size: 0.8rem;
            font-weight: 400;
            margin-inline-end: 5px;
            width: 260px;
          }
          i {
            justify-content: center;
            align-items: center;
          }
        }
        i {
          display: flex;
          margin-inline-end: 10px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.task-modal-members-menu {
  ul {
    margin: 0;
    padding: 0 5px;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      cursor: pointer;
      margin-bottom: 5px;
    }
  }
}
.mat-checkbox-layout .mat-checkbox-label {
  min-height: 24px;
}

body {
  &.lang-fa {
    .task-wrapper,
    .project-tree-animation-node,
    .new-task,
    .task,
    .task-animation {
      * {
        font-family: IRANSans;
        font-weight: 300;
      }
    }
  }
}

@import 'drag.scss';
