html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.4);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}
@font-face {
  font-family: 'ASOODE';
  src: url('/assets/fonts/icons/asoode/ASOODE.eot?j3anoh');
  src: url('/assets/fonts/icons/asoode/ASOODE.eot?j3anoh#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/icons/asoode/ASOODE.ttf?j3anoh') format('truetype'),
    url('/assets/fonts/icons/asoode/ASOODE.woff?j3anoh') format('woff'),
    url('/assets/fonts/icons/asoode/ASOODE.svg?j3anoh#ASOODE') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Black.eot');
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Black.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('/assets/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Black.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('/assets/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Black.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('/assets/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Black.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('/assets/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Bold.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('/assets/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Bold.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('/assets/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Bold.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('/assets/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Medium.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('/assets/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Medium.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('/assets/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Medium.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Light.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('/assets/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Light.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('/assets/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Light.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('/assets/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Light.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('/assets/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_UltraLight.woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('/assets/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_UltraLight.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('/assets/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_UltraLight.ttf')
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum).eot');
  src: url('/assets/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum).eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */
      url('/assets/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum).woff2')
      format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('/assets/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum).woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('/assets/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum).ttf')
      format('truetype');
}
body {
  &.lang-fa {
    * {
      font-family: IRANSans;
      font-weight: 300;
    }
  }
  &.lang-en {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  &.dir-rtl {
    direction: rtl;
    text-align: right;
  }
  &.dir-ltr {
    direction: ltr;
    text-align: left;
  }
}

.ltr {
  text-align: left !important;
  direction: ltr !important;
}
.icon-spin {
  display: inline-block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1800ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1800ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mat-menu-item.has-description {
  height: 46px;
  display: flex;
  flex-wrap: wrap;

  .title {
    display: flex;
    flex: 0 0 100%;
    line-height: 23px;
  }
  .sub-title {
    color: #999999;
    font-size: 0.7rem;
    line-height: 23px;
  }
}
.primary-color {
  color: #6b3d8d !important;
}
.primary-bg-color {
  background-color: #6b3d8d !important;
}

.mat-button-base {
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  padding: 0;
}

.mat-fab.mat-warn,
.mat-flat-button.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
  background-color: #b33634;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #b977f7;
}
.mat-paginator-range-label {
  direction: ltr !important;
}
.ngxp__arrow {
  display: none !important;
}
app-waiting {
  flex-grow: 1;
  -webkit-box-flex: 1;
}
button:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

button[disabled] {
  [class^='icon-'],
  [class*=' icon-'] {
    color: #6b3d8d;
  }
}

.mat-tab-group {
  .mat-tab-header {
    background: #fff;
  }

  .mat-tab-label {
    min-width: auto !important;
  }
  .mat-tab-label-active {
    opacity: 1;
    .mat-tab-label-content {
      opacity: 1;
      font-weight: 600;
      color: #000;
    }
  }
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #b977f7;
}
.mat-table {
  width: 100%;
  th.mat-header-cell {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
[class^='icon-'],
[class*=' icon-'] {
  cursor: pointer;
}

[role='popper'] {
  border-color: #f2f2f2 !important;
  padding: 0 !important;
  z-index: 20;
}
.ql-syntax {
  direction: ltr;
  text-align: left;
}
.ql-picker-options {
  top: unset !important;
  bottom: 100%;
}
.ql-container {
  border-radius: 5px 5px 0 0 !important;
  border: 1px solid #e6e6e6 !important;
  border-bottom: none !important;
}
.ql-toolbar {
  border: 1px solid #e6e6e6 !important;
  //background: #f6f6f6 !important;
  border-top: none !important;
  border-radius: 0 0 5px 5px !important;
}
.ql-toolbar.ql-snow .ql-formats {
  margin: 0;
}
#emoji-palette {
  top: unset !important;
  bottom: 30px;
  .ap {
    margin-bottom: 10px;
  }
}
.textarea-emoji-control {
  display: none !important;
}
quill-editor[dir='rtl'] {
  .ql-editor {
    direction: rtl;
    text-align: right;
  }
  .ql-mention-list-container {
    left: unset !important;
  }
}
.ql-editor {
  padding: 12px 15px;
}

.success-snack {
  background-color: #9be4ad;
  color: #333333;
}
.error-snack {
  background-color: #b33634;
  color: #ffffff;
}

body {
  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;

    &.in {
      display: block;
    }

    .modal-header {
      border-bottom: 1px solid #e6e6e6;
      padding: 10px 0 0;
      color: #666666;
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
      display: flex;

      h4 {
        margin-bottom: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
      }

      button {
        border: none;
        background: none;
        width: 40px;
        height: 30px;
        color: #b3b3b3;
      }
    }
    .modal-content {
      max-width: 98%;
      width: 600px;
      margin: min(20vh, 200px) auto;
      background: #fff;
      border-radius: 5px;

      &.create-modal {
        margin: 50px auto;
      }
    }
    .modal-body {
      padding: 10px 15px;
      font-size: 0.8rem;
    }
    .modal-footer {
      padding: 30px 15px 20px;
      text-align: center;
    }
  }
  &.modal-open {
    overflow: hidden;
  }
}

.mat-table {
  th.mat-header-cell {
    background-color: #f2f2f2 !important;
    color: #999999 !important;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
