html,
body {
  height: 100%;
}
body {
  margin: 0;
}

html[lang="fa"] {
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Black.eot");
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("/assets/fonts/persian/iran-sans/woff2/IRANSansWeb(FaNum)_Black.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("/assets/fonts/persian/iran-sans/woff/IRANSansWeb(FaNum)_Black.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/assets/fonts/persian/iran-sans/ttf/IRANSansWeb(FaNum)_Black.ttf")
        format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("/assets/fonts/persian/iran-sans/woff2/IRANSansWeb(FaNum)_Bold.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("/assets/fonts/persian/iran-sans/woff/IRANSansWeb(FaNum)_Bold.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/assets/fonts/persian/iran-sans/ttf/IRANSansWeb(FaNum)_Bold.ttf")
        format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("/assets/fonts/persian/iran-sans/woff2/IRANSansWeb(FaNum)_Medium.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("/assets/fonts/persian/iran-sans/woff/IRANSansWeb(FaNum)_Medium.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/assets/fonts/persian/iran-sans/ttf/IRANSansWeb(FaNum)_Medium.ttf")
        format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("/assets/fonts/persian/iran-sans/woff2/IRANSansWeb(FaNum)_Light.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("/assets/fonts/persian/iran-sans/woff/IRANSansWeb(FaNum)_Light.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/assets/fonts/persian/iran-sans/ttf/IRANSansWeb(FaNum)_Light.ttf")
        format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("/assets/fonts/persian/iran-sans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("/assets/fonts/persian/iran-sans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/assets/fonts/persian/iran-sans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
        format("truetype");
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum).eot");
    src: url("/assets/fonts/persian/iran-sans/eot/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("/assets/fonts/persian/iran-sans/woff2/IRANSansWeb(FaNum).woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("/assets/fonts/persian/iran-sans/woff/IRANSansWeb(FaNum).woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("/assets/fonts/persian/iran-sans/ttf/IRANSansWeb(FaNum).ttf")
        format("truetype");
  }

  * {
    font-family: IRANSans;
    font-weight: 300;
  }
}
html[lang="en"] {
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

html[dir="rtl"] {
  body {
    direction: rtl; text-align: right;
  }
}
html[dir="ltr"] {
  body {
    direction: ltr; text-align: left;
  }
}

.mat-button-base {
  border-radius: 30px !important;
  padding: 0 30px !important;
}
.mat-primary {
  background-color: #6b3d8d !important;
  &[disabled] {
    background-color: #7d688d !important;
  }
}

button:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
a {
  text-decoration: underline !important;
  &.mat-button-base {
    text-decoration: none !important;
  }
}
