<div class="work-package-board">
  <div
    class="board-lists"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="model.lists"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      *ngFor="let list of model.lists"
      class="board-list"
      [cdkDragStartDelay]="dragDelay"
      [cdkDragData]="list"
      [cdkDragDisabled]="
        model.listsSort !== SortType.Manual ||
        embed ||
        noDrag ||
        list.editing ||
        list.adding ||
        !isAdminOrHasPermission(model.permissionEditList)
      "
      cdkDrag
    >
      <div [hidden]="list.renaming" cdkDragHandle class="header">
        <span>
          {{ list.title | truncate : 30 }}
          <ng-container *ngIf="model.userSetting.showTotalCards">
            &nbsp;({{ list.tasks?.length || 0 }})
          </ng-container> </span
        >&nbsp;
        <i
          *ngIf="isAdminOrHasPermission(model.permissionCreateTask)"
          (click)="prepareNewTask(list)"
          class="icon-plus2"
        ></i
        >&nbsp;
        <i
          *ngIf="isAdminOrHasPermission(model.permissionEditList)"
          [matMenuTriggerFor]="menu"
          class="icon-menu"
        ></i>
      </div>
      <div *ngIf="list.renaming" class="new-task">
        <div class="wrapper">
          <input
            (keydown.enter)="renameList(list)"
            [placeholder]="'ENTER_LIST_NEW_NAME' | translate"
            [readOnly]="list.waiting"
            [(ngModel)]="list.tempName"
          />
          <br />
          <div class="buttons">
            <button
              [disabled]="list.waiting"
              (click)="renameList(list)"
              mat-stroked-button
            >
              <i *ngIf="list.waiting" class="icon-spin icon-spinner2"></i>
              {{ 'RENAME' | translate }}</button
            >&nbsp;
            <button
              [disabled]="list.waiting"
              (click)="cancelRenameList(list)"
              mat-stroked-button
            >
              {{ 'CANCEL' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div
        class="cards"
        id="{{ list.id }}"
        cdkDropList
        [cdkDropListConnectedTo]="getConnectedList()"
        (cdkDropListDropped)="dropTask($event, list.id)"
        [cdkDropListData]="list.tasks"
      >
        <div *ngIf="list.expanded" class="new-task">
          <div class="wrapper">
            <textarea
              [placeholder]="'NEW_EPISODE_PLACEHOLDER' | translate"
              [readOnly]="creatingNewTask"
              [(ngModel)]="newTaskTitle"
              rows="3"
            ></textarea>
            <div class="counter-holder">
              <span>{{ 'NEW_PLAN_COUNTER' | translate }}</span>
              <app-number
                [disabled]="creatingNewTask"
                [min]="1"
                [max]="200"
                [(model)]="newTaskCounter"
              ></app-number>
            </div>
            <div class="buttons">
              <button
                [disabled]="creatingNewTask"
                (click)="createNewTask(list)"
                mat-stroked-button
              >
                <i *ngIf="creatingNewTask" class="icon-spin icon-spinner2"></i>
                {{ 'CREATE' | translate }}</button
              >&nbsp;&nbsp;
              <button (click)="cancelNewTask(list)" mat-stroked-button>
                {{ 'CANCEL' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div
          *ngFor="let task of list.tasks"
          [cdkDragStartDelay]="dragDelay"
          [cdkDragData]="task"
          [cdkDragDisabled]="
            model.tasksSort !== SortType.Manual ||
            embed ||
            list.expanded ||
            noDrag ||
            !isAdminOrHasPermission(model.permissionEditTask)
          "
          cdkDrag
          class="list-handler"
        >
          <app-animation-work-package-task
            [workPackage]="model"
            [project]="project"
            (click)="openTask(task)"
            [list]="list"
            [model]="task"
          ></app-animation-work-package-task>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="isAdminOrHasPermission(model.permissionCreateTask)"
          class="action-btn"
          (click)="prepareNewTask(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="icon-task"></i>
            <span>{{ 'NEW_PLAN' | translate }}</span>
          </span>
        </button>
        <button
          *ngIf="isAdminOrHasPermission(model.permissionEditList)"
          [disabled]="list.waiting"
          class="action-btn"
          (click)="prepareRenameTask(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="icon-pencil"></i>
            <span>{{ 'RENAME' | translate }}</span>
          </span>
        </button>
        <!--        <button class="action-btn" (click)="changeSort(list)" mat-menu-item>-->
        <!--          <span class="cnt">-->
        <!--            <i class="icon-arrow-down8"></i>-->
        <!--            <span>{{ 'SORT_ORDER' | translate }}</span>-->
        <!--          </span>-->
        <!--        </button>-->
        <!--        <button class="action-btn" (click)="showChart(list)" mat-menu-item>-->
        <!--          <span class="cnt">-->
        <!--            <i class="icon-checkmark3"></i>-->
        <!--            <span>{{ 'SHOW_CHART' | translate }}</span>-->
        <!--          </span>-->
        <!--        </button>-->
        <!--        <button class="action-btn" (click)="listColor(list)" mat-menu-item>-->
        <!--          <span class="cnt">-->
        <!--            <i class="icon-filters x2"></i>-->
        <!--            <span>{{ 'LIST_COLOR' | translate }}</span>-->
        <!--          </span>-->
        <!--        </button>-->
        <!--        <button class="action-btn" (click)="listPermission(list)" mat-menu-item>-->
        <!--          <span class="cnt">-->
        <!--            <i class="icon-stop x2"></i>-->
        <!--            <span>{{ 'ACCESS_LEVEL' | translate }}</span>-->
        <!--          </span>-->
        <!--        </button>-->
        <button
          *ngIf="isAdminOrHasPermission(model.permissionCreateList)"
          [disabled]="list.waiting"
          class="action-btn"
          (click)="cloneList(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="ikon-copy3"></i>
            <span>{{ 'CLONE_LIST' | translate }}</span>
          </span>
        </button>
        <button
          *ngIf="
            isAdminOrHasPermission(
              model.permissionArchiveList && model.permissionArchiveTask
            )
          "
          [disabled]="list.waiting"
          class="action-btn"
          (click)="archiveListTasks(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="icon-archive x2"></i>
            <span>{{ 'ARCHIVE_PLANS' | translate }}</span>
          </span>
        </button>
        <button
          *ngIf="isAdminOrHasPermission(model.permissionArchiveList)"
          [disabled]="list.waiting"
          class="action-btn"
          (click)="archiveList(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="icon-archive x2"></i>
            <span>{{ 'ARCHIVE_LIST' | translate }}</span>
          </span>
        </button>
        <button
          *ngIf="isAdminOrHasPermission(model.permissionClearList)"
          [disabled]="list.waiting"
          class="action-btn"
          (click)="clearList(list)"
          mat-menu-item
        >
          <span class="cnt">
            <i class="icon-delete x2"></i>
            <span>{{ 'CLEAR_LIST' | translate }}</span>
          </span>
        </button>
      </mat-menu>
    </div>
    <div
      *ngIf="isAdminOrHasPermission(model.permissionCreateList)"
      class="board-list add-new"
    >
      <div *ngIf="!expanded" (click)="prepareNewList()" class="header">
        <i class="icon-plus2"></i>&nbsp;
        <span>{{ 'CREATE_NEW_LIST' | translate }}</span>
      </div>
      <div *ngIf="expanded" class="new-task">
        <div class="wrapper">
          <input
            (keydown.enter)="createNewList()"
            [placeholder]="'ENTER_NEW_LIST_NAME' | translate"
            [readOnly]="creatingNewList"
            [(ngModel)]="newListName"
          />
          <br />
          <div class="buttons">
            <button
              [disabled]="creatingNewList"
              (click)="createNewList()"
              mat-stroked-button
            >
              <i *ngIf="creatingNewList" class="icon-spin icon-spinner2"></i>
              {{ 'CREATE' | translate }}</button
            >&nbsp;
            <button
              [disabled]="creatingNewList"
              (click)="cancelNewList()"
              mat-stroked-button
            >
              {{ 'CANCEL' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
