<div class="modal-content create-modal">
  <div class="modal-alt-header">
    <div class="btn">
      <ng-container *ngIf="!projectId || (projectId && mode !== ViewMode.Form)">
        <button [disabled]="actionWaiting" (click)="onBack($event)">
          <i *ngIf="cultureService.rtl" class="icon-arrow-right2"></i>
          <i *ngIf="!cultureService.rtl" class="icon-arrow-left2"></i>
        </button>
      </ng-container>
    </div>

    <div class="text">
      <h4 *ngIf="mode === ViewMode.Form" class="modal-title">
        <ng-container *ngIf="!projectId && complex">
          <i class="icon-project"></i><br />
          {{ 'CREATE_COMPLEX_PROJECT' | translate }}
        </ng-container>
        <ng-container *ngIf="!projectId && !complex">
          <i class="icon-workpackage"></i><br />
          {{ 'CREATE_SIMPLE_PROJECT' | translate }}
        </ng-container>
        <ng-container *ngIf="projectId">
          <i class="icon-workpackage"></i><br />
          {{ 'NEW_WORK_PACKAGE' | translate }}
        </ng-container>
      </h4>
      <h4 *ngIf="mode === ViewMode.Invite" class="modal-title">
        <i class="icon-users2"></i><br />
        {{ 'NEW_PROJECT_MEMBERS' | translate : true }}
      </h4>
      <h4 *ngIf="mode === ViewMode.Template" class="modal-title">
        <i class="icon-tree7"></i><br />
        {{
          (projectId ? 'CHOOSE_PACKAGE_TEMPLATE' : 'NEW_PROJECT_TEMPLATE')
            | translate : true
        }}
      </h4>
    </div>
    <div class="btn">
      <button [disabled]="actionWaiting" (click)="onCancel($event)">
        <i class="icon-cross"></i>
      </button>
    </div>
  </div>
  <ng-container *ngIf="mode === ViewMode.Form">
    <div class="modal-body create-project">
      <app-form [standalone]="true" [elements]="projectForm"></app-form>
    </div>
    <div class="modal-footer">
      <button (click)="next($event)" mat-flat-button [color]="'primary'">
        {{ 'CONTINUE' | translate : true }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === ViewMode.Invite">
    <div class="modal-body create-project">
      <app-invite-people
        [projectId]="projectId"
        [exclude]="exclude"
        [(members)]="members"
        [(newMembers)]="newMembers"
        [(groups)]="groups"
      ></app-invite-people>
    </div>
    <div class="modal-footer">
      <button (click)="next($event)" mat-flat-button [color]="'primary'">
        {{ 'CONTINUE' | translate : true }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="mode === ViewMode.Template">
    <div class="modal-body create-project">
      <h4>{{ 'CHOOSE_TEMPLATE' | translate }}</h4>

      <ng-container *ngIf="complex">
        <div class="templates">
          <div class="titles">
            <button
              *ngFor="let t of projectTemplates"
              (click)="projectTemplate = t"
              [class.selected]="projectTemplate === t"
            >
              <i [class]="t.icon"></i>
              {{ t.text | translate }}
            </button>
          </div>
        </div>
        <div class="preview">
          <h4>{{ projectTemplate.description | translate }}</h4>
          <img
            *ngIf="projectTemplate.payload"
            [src]="projectTemplate.payload"
            alt=""
          />
        </div>
      </ng-container>

      <ng-container *ngIf="!complex">
        <div class="templates">
          <div class="titles">
            <button
              *ngFor="let bt of boardTemplates"
              (click)="boardTemplate = bt.type"
              [class.selected]="boardTemplate === bt.type"
            >
              <i [className]="bt.icon"></i>
              {{ bt.type | enum : 'BoardTemplate' }}
            </button>
          </div>
        </div>
        <ng-container *ngFor="let t of boardTemplates">
          <div *ngIf="boardTemplate === t.type" class="template-image">
            <div *ngFor="let title of t.lists" class="board-list">
              <div class="board-list-header">
                <div class="list-title">
                  <div class="list-title-holder">
                    <span *ngIf="title">{{ title | translate }}</span>
                    <span *ngIf="!title" class="title-holder"></span>
                  </div>
                </div>
                <button class="btn btn-light tr edit-btn">
                  <i class="icon-plus2"></i>
                </button>
                <div class="edit-btn-container">
                  <button class="btn btn-light tr edit-btn">
                    <i class="icon-menu"></i>
                  </button>
                </div>
              </div>
              <div class="board-list-body">
                <div class="list-card" [class.dir-img]="cultureService.rtl">
                  <div class="list-card-inner">
                    <content-loader
                      [primaryColor]="'#000000'"
                      [secondaryColor]="'#000'"
                      [primaryOpacity]="0.15"
                      [secondaryOpacity]="0.03"
                      [width]="240"
                      [height]="40"
                      [animate]="false"
                    >
                      <svg:rect
                        x="0"
                        y="0"
                        rx="3"
                        ry="3"
                        width="100"
                        height="10"
                      />
                      <svg:rect
                        x="0"
                        y="20"
                        rx="3"
                        ry="3"
                        width="170"
                        height="10"
                      />
                    </content-loader>
                  </div>
                </div>
                <div class="list-card" [class.dir-img]="cultureService.rtl">
                  <div class="list-card-inner">
                    <content-loader
                      [primaryColor]="'#000000'"
                      [secondaryColor]="'#000'"
                      [primaryOpacity]="0.15"
                      [secondaryOpacity]="0.03"
                      [width]="240"
                      [height]="40"
                      [animate]="false"
                    >
                      <svg:rect
                        x="0"
                        y="0"
                        rx="3"
                        ry="3"
                        width="100"
                        height="10"
                      />
                      <svg:rect
                        x="0"
                        y="20"
                        rx="3"
                        ry="3"
                        width="170"
                        height="10"
                      />
                    </content-loader>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="actionWaiting"
        (click)="createProject($event)"
        mat-flat-button
        [color]="'primary'"
      >
        <i *ngIf="actionWaiting" class="icon-spin icon-spinner2"></i>
        {{ 'CREATE_PROJECT' | translate : true }}
      </button>
    </div>
  </ng-container>
</div>
