.af-date-picker {
  input {
    width: 100px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
  }

  ::ng-deep .ngxp__container {
    background: #ffffff !important;
    z-index: 1000;
  }
}
.date-picker-plate {
  font-size: 0.8rem;
  ::ng-deep table {
    margin: 0;
  }
}
