.modal-body {
  padding: 20px;
}
.files {
  list-style: none;
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .ico {
      display: flex;
      width: 50px;
      margin-inline-end: 10px;
      i {
        font-size: 50px;
      }
    }
    .name {
      display: flex;
      flex-grow: 1;
      font-weight: 500;
      font-size: 1.3rem;
    }
  }
}
